Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2018-11, with the labels that each got.

#312 Enabling AKS
  Jenkinsfile_CNP
  docker-compose.yml
  infrastructure/main.tf
  kubernetes/deployment.template.yaml
  src/main/resources/config/application.properties
Labels: ns:sscs-tribunals-api-pr-312

#311 [PREVIEW] SSCS-4190 Remove the check for appealnumber in AppealNumber…
  src/main/java/uk/gov/hmcts/reform/sscs/service/AppealNumberGenerator.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/AppealNumberGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs-tribunals-api-pr-311

#317 [PREVIEW] Upgrade common library
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/service/MessageAuthenticationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/TribunalsServiceTest.java
Labels: ns:sscs-tribunals-api-pr-317

#320 [PREVIEW] SSCS-4384 build with sscs-pdf-robotics-email-common:0.0.84-CANDIDATE-…
  build.gradle
Labels: ns:sscs-tribunals-api-pr-320

#321 Task/upgrade common library
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsCcd.json
  src/test/resources/sya/appellantPhoneNumberWithoutSpacesCcd.json
  src/test/resources/sya/hearingWithSupportWithoutScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearingCcd.json
  src/test/resources/sya/ninoWithoutSpacesCcd.json
  src/test/resources/sya/withoutEmailNotificationCcd.json
  src/test/resources/sya/withoutHearingCcd.json
  src/test/resources/sya/withoutNotificationCcd.json
  src/test/resources/sya/withoutRepresentativeCcd.json
  src/test/resources/sya/withoutRpcCcd.json
  src/test/resources/sya/withoutSmsNotificationCcd.json
Labels: ns:sscs-tribunals-api-pr-321

#327 SSCS-4456 Make receivedVia default to 'Online' instead of empty string
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsCcd.json
  src/test/resources/sya/appellantPhoneNumberWithoutSpacesCcd.json
  src/test/resources/sya/hearingWithSupportWithoutScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearingCcd.json
  src/test/resources/sya/ninoWithoutSpacesCcd.json
  src/test/resources/sya/withoutEmailNotificationCcd.json
  src/test/resources/sya/withoutHearingCcd.json
  src/test/resources/sya/withoutNotificationCcd.json
  src/test/resources/sya/withoutRepresentativeCcd.json
  src/test/resources/sya/withoutRpcCcd.json
  src/test/resources/sya/withoutSmsNotificationCcd.json
Labels: ns:sscs-tribunals-api-pr-327

#329 Added limits and readiness probe
  kubernetes/deployment.template.yaml
Labels: ns:sscs-tribunals-api-pr-329

#322 SSCS-4393 - Remove retry from create case
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
Labels: ns:sscs-tribunals-api-pr-322
