Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2019-05, with the labels that each got.

#490 SSCS-5500 Set sscs1 document type for pdf upload
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs-tribunals-api-pr-490

#492 SSCS-5495: Helm chart secrets - again
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/requirements.yaml
  charts/sscs-tribunals-api/values.aat.template.yaml
  charts/sscs-tribunals-api/values.template.yaml
  kubernetes/deployment.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/controller/LivenessControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/LivenessController.java
  src/main/resources/config/bootstrap.yaml
Labels: ns:sscs-tribunals-api-pr-492

#497 Remove PR bump
  Jenkinsfile_CNP
Labels: ns:sscs-tribunals-api-pr-497

#498 Update common to 2.0.9
  build.gradle
Labels: ns:sscs-tribunals-api-pr-498

#501 SSCS-5497: bump version of helm chart
  charts/sscs-tribunals-api/Chart.yaml
Labels: ns:sscs-tribunals-api-pr-501

#340 SSCS-4517 Handle createAppealPDF event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/config/SpringConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/EventController.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/SscsCaseDataWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EventService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/exceptions/AuthorisationException.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/EventControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/EventServiceTest.java
  src/test/resources/sya/allDetailsForGeneratePdf.json
Labels: ns:sscs-tribunals-api-pr-340

#505 SSCS-5495: update `chart-java` and do not template default values.
  Jenkinsfile_CNP
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/requirements.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/resources/config/bootstrap.yaml
Labels: ns:sscs-tribunals-api-pr-505

#503 SSCS-5519 get response updates
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaCaseWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaHearingOptions.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionAppellantContactDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraft.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDwpIssuingOfficeEsa.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionNotAttendingHearing.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionReasonForAppealing.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionSmsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraftTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraftTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/resources/json/sya.json
  src/test/resources/sya/allDetails.json
  src/test/resources/sya/allDetailsWithAppointeeWithDifferentAddress.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddress.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressButNoAppellantContactDetails.json
  src/test/resources/sya/appealWithEvidenceDocuments.json
  src/test/resources/sya/appellantPhoneNumbersWithSpaces.json
  src/test/resources/sya/hearingWithSupportWithoutScheduleHearing.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearing.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearing.json
  src/test/resources/sya/ninoWithSpaces.json
  src/test/resources/sya/withoutEmailNotification.json
  src/test/resources/sya/withoutHearing.json
  src/test/resources/sya/withoutNotification.json
  src/test/resources/sya/withoutSmsNotification.json
Labels: ns:sscs-tribunals-api-pr-503

#507 SSCS-5495: replace dots and dashes with underscores in environment variables
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  infrastructure/main.tf
  src/main/resources/config/application.properties
  src/main/resources/config/bootstrap.yaml
Labels: ns:sscs-tribunals-api-pr-507

#508 SSCS-5570 Logging – Check whether SSCS1 form is present
  src/main/java/uk/gov/hmcts/reform/sscs/service/EventService.java
Labels: ns:sscs-tribunals-api-pr-508

#509 SSCS-5570 Logging – Check whether SSCS1 form is present
  src/main/java/uk/gov/hmcts/reform/sscs/service/EventService.java
Labels: ns:sscs-tribunals-api-pr-509

#517 SSCS-5409 SSCS API – TYA – No events exist for this appeal
  src/main/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilder.java
Labels: ns:sscs-tribunals-api-pr-517

#519 SSCS-5558 Trigger sent to DWP
  build.gradle
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/IntegrationTests/resources/config/application_it.properties
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/CreateCaseInCcdTest.java
  src/e2e/resources/config/application_e2e.properties
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs-tribunals-api-pr-519

#522 SSCS-5574 implement full GET contract - ESA path
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
  src/test/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/EventControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SubscriptionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraftTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/EventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/MessageAuthenticationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/OtpGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/TribunalsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraftTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SerializeJsonMessageManager.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SyaJsonMessageSerializer.java
  src/test/resources/drafts/session-sample-esa.json
Labels: ns:sscs-tribunals-api-pr-522

#525 SSCS-5105: Archive Draft once submitted.
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/CreateCaseInCcdTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdService.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/SyaController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs-tribunals-api-pr-525

#528 Sscs 5574 evidence upload
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaReasonsForAppealing.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraft.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionEvidence.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionEvidenceDescription.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionEvidenceUpload.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocumentDownloadService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/HearingOptionArrangements.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DocumentDownloadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraftTest.java
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithDifferentAddressCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressButNoAppellantContactDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressCcd.json
  src/test/resources/sya/appellantNoContactDetailsCcd.json
  src/test/resources/sya/appellantPhoneNumberWithoutSpacesCcd.json
  src/test/resources/sya/hearingWithSupportEmptyCcd.json
  src/test/resources/sya/hearingWithSupportWithoutScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearingCcd.json
  src/test/resources/sya/ninoWithoutSpacesCcd.json
  src/test/resources/sya/wantsSupportWithoutArrangementsCcd.json
  src/test/resources/sya/wantsSupportWithoutScheduleCcd.json
  src/test/resources/sya/withoutEmailNotificationCcd.json
  src/test/resources/sya/withoutHearingCcd.json
  src/test/resources/sya/withoutNotificationCcd.json
  src/test/resources/sya/withoutRepresentativeCcd.json
  src/test/resources/sya/withoutRpcCcd.json
  src/test/resources/sya/withoutSmsNotificationCcd.json
  src/test/resources/sya/withoutWantsSupportCcd.json
Labels: ns:sscs-tribunals-api-pr-528

#537 Feature/sscs 5710 include postcode lookup in save return
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/CreateCaseInCcdTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaContactDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionContactDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionRepresentativeDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraftTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraftTest.java
Labels: ns:sscs-tribunals-api-pr-537

#542 Feature/sscs 5574 qa save return
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaCaseWrapper.java
Labels: ns:sscs-tribunals-api-pr-542
