Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2019-11, with the labels that each got.

#823 SSCS-6832 DWP/PDF/CCD UI – dwpLapseCase related documents cleared whe…
  build.gradle
Labels: ns:sscs-tribunals-api-pr-823

#803 SSCS-6758 - validSendToInterloc
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AbstractEventIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DecisionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ReissueFurtherEvidenceIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ValidSendToInterlocIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validsendtointerloc/ValidSendToInterlocAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validsendtointerloc/ValidSendToInterlocAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validsendtointerloc/ValidSendToInterlocAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validsendtointerloc/ValidSendToInterlocAboutToSubmitHandlerTest.java
  src/test/resources/callback/validSendToInterloc.json
  src/test/resources/callback/validSendToInterlocSelectedWhoToReviewCase.json
Labels: ns:sscs-tribunals-api-pr-803

#819 SSCS-6813 S&R – Error at request callback – Not found and Unprocessab…
  src/main/java/uk/gov/hmcts/reform/sscs/controller/SyaController.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTest.java
Labels: ns:sscs-tribunals-api-pr-819

#830 Feature/sscs 6772 time extension
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/timeextension/DwpRequestTimeExtensionAboutToSubmitHandlerTest.java
  src/e2e/resources/handlers/timeextension/dwpRequestTimeExtensionAboutToSubmitCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/DwpState.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocReferralReason.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocReviewState.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addrep/AddRepEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpdirectionresponse/DwpDirectionResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwprequesttimeextension/DwpRequestTimeExtensionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/fenoaction/FeNoActionAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/fenoaction/FeNoActionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/DwpState.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/PostponeHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/DwpActionWithdrawalHandler.java
  src/main/resources/config/application-local.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpdirectionresponse/DwpDirectionResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwprequesttimeextension/DwpRequestTimeExtensionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/fenoaction/FeNoActionAboutToStartHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-830

#822 SSCS-5998 Flag supplementary evidence
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/supplementaryresponse/SupplementaryResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/supplementaryresponse/SupplementaryResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-822

#838 SSCS-6812 S&R – Multiple calls are made to CCD which are unnecessary
  src/main/java/uk/gov/hmcts/reform/sscs/controller/SyaController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs-tribunals-api-pr-838

#833 Sscs 6380 response reviewed callbacks
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/HmctsResponseReviewedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ResponseEventsAboutToSubmit.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/abouttostart/SelectWhoReviewsCaseDropdownHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdCallbackController.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/abouttostart/SelectWhoReviewsCaseDropdownHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToStartTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedSubmittedHandlerTest.java
  src/test/resources/callback/hmctsResponseReviewedCallback.json
Labels: ns:sscs-tribunals-api-pr-833

#834 SSCS-6895 Remove withdraw for action secondary state
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/DwpState.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandlerTest.java
  src/test/resources/callback/withdrawnappeals/adminAppealWithdrawnExpectedCaseData.json
Labels: ns:sscs-tribunals-api-pr-834

#841 SSCS-6928 Deploy to demo
  Jenkinsfile_CNP
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:sscs-tribunals-api-pr-841

#832 Feature/sscs 5955 action further evidence intermediate interloc review
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/controller/CcdCallbackControllerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/DwpChallengeValidityHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/interloc/SendToAdminTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/postpone/PostponeHearingHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/timeextension/DwpRequestTimeExtensionAboutToSubmitHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/uploaddocument/UploadDocumentHandlerTest.java
  src/e2e/resources/handlers/actionfurtherevidence/actionFurtherEvidenceAboutToStartCallback.json
  src/e2e/resources/handlers/actionfurtherevidence/actionFurtherEvidenceSubmittedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/FurtherEvidenceActionDynamicListItems.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdCallbackController.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
  src/test/resources/callback/actionFurtherEvidenceWithEmptyFurtherEvidenceActionFieldCallback.json
Labels: ns:sscs-tribunals-api-pr-832

#839 SSCS-6799 Show appointee name in name section with appellant on generated notices
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-839

#836 SSCS-6839 Appeal to proceed
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DecisionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FooterService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FooterServiceTest.java
  src/test/resources/callback/fenoaction/expectedFeNoActionAboutToStartCallbackResponse.json
  src/test/resources/callback/fenoaction/expectedFeNoActionAboutToSubmitCallbackResponse.json
  src/test/resources/callback/uploaddocument/expectedUploadDocumentCallbackResponse.json
Labels: ns:sscs-tribunals-api-pr-836

#846 Enable ase for demo only
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:sscs-tribunals-api-pr-846

#856 turn on ready to list on demo
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:sscs-tribunals-api-pr-856

#848 SSCS-6931 Issue direction and decision post valid states
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DecisionIssuedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/DwpState.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/resources/callback/decisionIssuedForPreview.json
  src/test/resources/callback/directionIssuedForPreview.json
Labels: ns:sscs-tribunals-api-pr-848

#835 Add api version for helm chart
  charts/sscs-tribunals-api/Chart.yaml
Labels: ns:sscs-tribunals-api-pr-835

#859 Use before state to set decision outcome
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/resources/callback/decisionIssuedForPreview.json
Labels: ns:sscs-tribunals-api-pr-859

#852 SSCS-6791 SYA/tribunal case API – Change Norwich DRT to Sheffield DRT
  build.gradle
Labels: ns:sscs-tribunals-api-pr-852

#847 SSCS-6938: strike out cases
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/ActionStrikeOutHandlerTest.java
  src/e2e/resources/handlers/actionStrikeOutCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ActionStrikeOutHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/DwpState.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/EventToFieldPreSubmitCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/OutcomeServiceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ActionStrikeOutHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-847

#861 SSCS-6836 Add missing fields to java model
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/CreateCaseInCcdTest.java
Labels: ns:sscs-tribunals-api-pr-861

#853 Sscs 6570 respond to extension request
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-853
