Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2019-10, with the labels that each got.

#754 SSCS-6691 - return 404 (without exception)
  src/main/java/uk/gov/hmcts/reform/sscs/controller/TyaController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/TribunalsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/TyaControllerTest.java
Labels: ns:sscs-tribunals-api-pr-754

#764 SSCS-6691 TYA / TCAPI – Change exceptions to errors
  src/main/java/uk/gov/hmcts/reform/sscs/controller/TyaController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/TribunalsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/TyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/TribunalsServiceTest.java
Labels: ns:sscs-tribunals-api-pr-764

#758 SSCS-6692 dwpState field to flag FE
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentHandler.java
  src/main/resources/config/application-local.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/fenoaction/FeNoActionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/fenoaction/FeNoActionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/BaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentHandlerTest.java
  src/test/resources/callback/fenoaction/expectedFeNoActionAboutToStartCallbackResponse.json
  src/test/resources/callback/fenoaction/feNoActionAboutToStartCallback.json
  src/test/resources/callback/fenoaction/feNoActionAboutToSubmitCallback.json
  src/test/resources/callback/uploaddocument/expectedUploadDocumentCallbackResponse.json
  src/test/resources/callback/uploaddocument/uploadDocumentCallback.json
Labels: ns:sscs-tribunals-api-pr-758

#772 Sscs 6624 TYA – Hearing details page isn’t populated with dynamic dat…
  build.gradle
  src/e2e/resources/uploadDocumentCallback.json
Labels: ns:sscs-tribunals-api-pr-772

#766 SSCS-6383 Set interloc review state to tcw or judge for further evidence
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UpdateCaseInCcdTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/controller/CcdCallbackControllerTest.java
  src/e2e/resources/actionFurtherEvidenceCallback.json
  src/e2e/resources/feNoActionCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/FurtherEvidenceActionDynamicListItems.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
  src/test/resources/callback/actionFurtherEvidenceCallback.json
  src/test/resources/callback/actionFurtherEvidenceWithInterlocOptionCallback.json
  src/test/resources/callback/appealDormantCallback.json
  src/test/resources/callback/fenoaction/expectedFeNoActionAboutToStartCallbackResponse.json
  src/test/resources/callback/fenoaction/expectedFeNoActionAboutToSubmitCallbackResponse.json
  src/test/resources/callback/fenoaction/feNoActionAboutToStartCallback.json
  src/test/resources/callback/fenoaction/feNoActionAboutToSubmitCallback.json
Labels: ns:sscs-tribunals-api-pr-766

#761 SSCS-6649 Set DWP response date
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-761

#762 SSCS-6525 Common – SSCS1 form generation appeal reason field switch
  build.gradle
Labels: ns:sscs-tribunals-api-pr-762

#770 SSCS-6727 TYA/TCAPI - 'Appeal not found for appeal number' Exception
  src/main/java/uk/gov/hmcts/reform/sscs/service/TribunalsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/TribunalsServiceTest.java
Labels: ns:sscs-tribunals-api-pr-770

#765 Sscs 6684 boolean links
  build.gradle
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/uploaddocument/UploadDocumentHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/resources/callback/interlocEventCallback.json
Labels: ns:sscs-tribunals-api-pr-765

#781 suppress vulnerability
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs-tribunals-api-pr-781

#778 Sscs 6713 withdrawn for action
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/DwpState.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandlerTest.java
  src/test/resources/callback/withdrawnappeals/adminAppealWithdrawnExpectedCaseData.json
Labels: ns:sscs-tribunals-api-pr-778

#784 SSCS-6778
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitHelper.java
Labels: ns:sscs-tribunals-api-pr-784

#750 SSCS-6479 - Upload response changes
  infrastructure/demo.tfvars
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/readytolist/ReadyToListAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-750

#777 SSCS-6747 Use SscsDocuments to store issue direction notices
  build.gradle
  dependency-check-suppressions.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DecisionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ReissueFurtherEvidenceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-777

#786 Sscs 6690 footer direction notice
  output.pdf
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DecisionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/event/CcdCallbackEndpointIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/helper/IntegrationTestHelper.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/pdf/PdfWatermarker.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FooterService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FooterServiceTest.java
  src/test/resources/callback/actionFurtherEvidenceCallback.json
  src/test/resources/callback/decisionIssuedForPreview.json
  src/test/resources/callback/directionIssuedForPreview.json
Labels: ns:sscs-tribunals-api-pr-786

#776 SSCS-6512 - Convert images to PDF
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  charts/sscs-tribunals-api/values.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/evidence/EvidenceDocumentUploadEndpointIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/TribunalsCaseApiApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/EvidenceManagementController.java
  src/main/java/uk/gov/hmcts/reform/sscs/healthcheck/DocmosisHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/conversion/FileToPdfConversionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/conversion/FileToPdfConverter.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/conversion/ImageConverter.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/conversion/WordDocumentConverter.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/exceptions/FileToPdfConversionException.java
  src/main/resources/config/application.properties
  src/main/resources/config/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CcdCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/EvidenceManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/healthcheck/DocmosisHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/conversion/FileToPdfConversionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/conversion/ImageConverterTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/conversion/WordDocumentConverterTest.java
  src/test/resources/Soviet_BMP-1_IFV.bmp
  src/test/resources/flying-pig.jpg
  src/test/resources/wordDocument.doc
Labels: ns:sscs-tribunals-api-pr-776

#792 Remove unwanted output.pdf file
  src/test/java/uk/gov/hmcts/reform/sscs/service/conversion/ImageConverterTest.java
Labels: ns:sscs-tribunals-api-pr-792

#793 Switch off further evidence prod
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
Labels: ns:sscs-tribunals-api-pr-793

#797 SSCS-6730 add validation to the PUT endpoint draft
  src/main/java/uk/gov/hmcts/reform/sscs/controller/EvidenceManagementController.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/PostCodeController.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/SyaController.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/TyaController.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTest.java
Labels: ns:sscs-tribunals-api-pr-797

#788 SSCS-6702 Set dwp issuing office based on mapping
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/resources/sya/allDetailsWithAppointeeWithDifferentAddressCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressButNoAppellantContactDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsCcd.json
  src/test/resources/sya/appellantNoContactDetailsCcd.json
  src/test/resources/sya/appellantPhoneNumberWithoutSpacesCcd.json
  src/test/resources/sya/hearingWithSupportEmptyCcd.json
  src/test/resources/sya/hearingWithSupportWithoutScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearingCcd.json
  src/test/resources/sya/ninoWithoutSpacesCcd.json
  src/test/resources/sya/wantsSupportWithoutArrangementsCcd.json
  src/test/resources/sya/wantsSupportWithoutScheduleCcd.json
  src/test/resources/sya/withoutEmailNotificationCcd.json
  src/test/resources/sya/withoutHearingCcd.json
  src/test/resources/sya/withoutNotificationCcd.json
  src/test/resources/sya/withoutSmsNotificationCcd.json
  src/test/resources/sya/withoutWantsSupportCcd.json
Labels: ns:sscs-tribunals-api-pr-788

#785 Sscs 6437 postponement
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/postpone/PostponeHearingHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/DwpState.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/PostponeHearingHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/PostponeHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SyaJsonMessageSerializer.java
  src/test/resources/sya/postponeHearingCallback.json
Labels: ns:sscs-tribunals-api-pr-785

#789 Feature/sscs 6759 send to admin
  build.gradle
  output.pdf
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/interloc/SendToAdminTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/uploaddocument/UploadDocumentHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/e2e/resources/handlers/interloc/sendToAdminCallback.json
  src/e2e/resources/handlers/uploaddocument/uploadDocumentCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/EventToFieldPreSubmitCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-789

#811 Add dependabot config
  .dependabot/config.yml
Labels: ns:sscs-tribunals-api-pr-811

#804 SSCS-6690 Manual upload issue direction and decision fixes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/pdf/PdfWatermarker.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-804

#790 SSCS-6669 - add DirectionType
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandlerTest.java
  src/test/resources/callback/directionIssuedForPreview.json
Labels: ns:sscs-tribunals-api-pr-790

#796 SSCS-6305 Direction notices - flagging to DWP
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/DwpState.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpdirectionresponse/DwpDirectionResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/DwpActionWithdrawalHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/DwpState.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpdirectionresponse/DwpDirectionResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-796

#816 Set date sent to dwp in evidence share
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
Labels: ns:sscs-tribunals-api-pr-816

#815 SSCS-6308 Rep added to case flag
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addrep/AddRepEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/DwpState.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addrep/AddRepAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-815

#814 SSCS-6826 Use direction and decision objects
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-814
