Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2019-08, with the labels that each got.

#662 SSCS-6104 Validate interloc document
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ValidateInterlocDecisionDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ValidateInterlocDecisionDocumentHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-662

#632 SSCS-5227 Issue further evidence
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/HandleEvidenceEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/HandleEvidenceEventHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-632

#666 Update sidam config
  src/main/resources/config/application.properties
Labels: ns:sscs-tribunals-api-pr-666

#668 Move createAppealPdf event to handler pattern
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/RecreateAppealPdfHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ValidateInterlocDecisionDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/EventController.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/RecreateAppealPdfHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/EventControllerTest.java
Labels: ns:sscs-tribunals-api-pr-668

#671 SSCS-6317 - Automatically trigger "Issue Further Evidence"
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-671

#676 SSCS-6255 Reference data – Update sscs-venues.csv (change needed by 1…
  build.gradle
Labels: ns:sscs-tribunals-api-pr-676

#677 SSCS-6323 Add dwp as an original sender option for further evidence
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/OriginalSenderItemList.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-677

#673 SSCS-6264 - update sscs-common version
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
Labels: ns:sscs-tribunals-api-pr-673

#665 Sscs 6023 appendix
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/pdf/PdfWatermarker.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/pdf/PdfWatermarkerTest.java
  src/test/resources/callback/appealDormantCallback.json
  src/test/resources/pdf/sample.pdf
Labels: ns:sscs-tribunals-api-pr-665

#678 SSCS-6313 - Paper cases older than 8 weeks should track as DWP Response
  src/main/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilder.java
  src/test/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SerializeJsonMessageManager.java
  src/test/resources/tya/dwpRespondPaperCaseOlderThan8Weeks.json
  src/test/resources/tya/dwpRespondPaperCaseOlderThan8WeeksCcd.json
Labels: ns:sscs-tribunals-api-pr-678

#686 Update email address for tests
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs-tribunals-api-pr-686

#689 Update email
  src/test/resources/sya/allDetails.json
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddress.json
  src/test/resources/sya/withoutRpcCcd.json
Labels: ns:sscs-tribunals-api-pr-689

#693 Sscs 6407 Set case code
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithDifferentAddressCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressButNoAppellantContactDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsCcd.json
  src/test/resources/sya/appellantNoContactDetailsCcd.json
  src/test/resources/sya/appellantPhoneNumberWithoutSpacesCcd.json
  src/test/resources/sya/hearingWithSupportEmptyCcd.json
  src/test/resources/sya/hearingWithSupportWithoutScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearingCcd.json
  src/test/resources/sya/ninoWithoutSpacesCcd.json
  src/test/resources/sya/wantsSupportWithoutArrangementsCcd.json
  src/test/resources/sya/wantsSupportWithoutScheduleCcd.json
  src/test/resources/sya/withoutEmailNotificationCcd.json
  src/test/resources/sya/withoutHearingCcd.json
  src/test/resources/sya/withoutNotificationCcd.json
  src/test/resources/sya/withoutRpcCcd.json
  src/test/resources/sya/withoutSmsNotificationCcd.json
  src/test/resources/sya/withoutWantsSupportCcd.json
Labels: ns:sscs-tribunals-api-pr-693

#688 SSCS-5956 : Reissue further evidence
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ReissueFurtherEvidenceIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/SubscriptionEndPointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuefurtherevidence/ReissueFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuefurtherevidence/ReissueFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuefurtherevidence/ReissueFurtherEvidenceMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdCallbackController.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuefurtherevidence/ReissueFurtherEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuefurtherevidence/ReissueFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuefurtherevidence/ReissueFurtherEvidenceMidEventHandlerTest.java
  src/test/resources/callback/reissueFurtherEvidenceCallback.json
  src/test/resources/callback/reissueFurtherEvidenceDocumentPartial.json
  src/test/resources/callback/reissueFurtherEvidenceOriginalSenderPartial.json
Labels: ns:sscs-tribunals-api-pr-688
