Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2019-01, with the labels that each got.

#356 SSCS-4737 Make error message less misleading
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
Labels: ns:sscs-tribunals-api-pr-356

#351 SSCS-4661 Trim PIP number
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/Norm.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/NormTest.java
Labels: ns:sscs-tribunals-api-pr-351

#361 updated docs about dependabot and preview env
  README.md
Labels: ns:sscs-tribunals-api-pr-361

#349 [SSCS-4783] Backend file types allowed must match frontend
  build.gradle
Labels: ns:sscs-tribunals-api-pr-349

#355 Bugfix/sscs 4750 create case remove error handling
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs-tribunals-api-pr-355

#373 SSCS-4910 appellant details
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressButNoAppellantContactDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressCcd.json
Labels: ns:sscs-tribunals-api-pr-373

#374 update to add new venue
  build.gradle
Labels: ns:sscs-tribunals-api-pr-374

#359 SSCS-4906 No appellant contact when appointee submits appeal
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/resources/sya/allDetailsWithAppointeeWithDifferentAddressCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressCcd.json
Labels: ns:sscs-tribunals-api-pr-359
