Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2019-06, with the labels that each got.

#541 SSCS-5752 Move robotics to evidence share
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EventService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs-tribunals-api-pr-541

#551 Add lib dir with app insights config
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.0.2.jar
Labels: ns:sscs-tribunals-api-pr-551

#552 Add an endpoint to load cases for MYA by case id
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/TyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/TyaController.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/AppealNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/TribunalsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/TyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/TribunalsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SerializeJsonMessageManager.java
  src/test/resources/tya/appealReceived-caseId.json
Labels: ns:sscs-tribunals-api-pr-552

#549 SSCS-5707 - Add functional tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/CreateCaseInCcdTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/SyaController.java
Labels: ns:sscs-tribunals-api-pr-549

#545 SSCS-5795 Create case in valid appeal created state when feature flag enabled
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs-tribunals-api-pr-545

#560 SSCS-5571 - update sscs-common version
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/TribunalsCaseApiApplication.java
Labels: ns:sscs-tribunals-api-pr-560

#564 fix tests on master
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/main/resources/config/application.properties
Labels: ns:sscs-tribunals-api-pr-564

#566 SSCS-5374 - TYA web page – Reps and Appointee – Links
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/TyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/TribunalsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/TribunalsServiceTest.java
Labels: ns:sscs-tribunals-api-pr-566

#580 Put interloc functional test back in
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
Labels: ns:sscs-tribunals-api-pr-580

#553 SSCS-5707 - add extra logging to the test as requested by @malik
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
Labels: ns:sscs-tribunals-api-pr-553

#576 Upgrade pdf-email-common with evidence upload fix for citizen
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/functional/evidence/EvidenceDocumentUploadEndpointIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocumentDownloadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DocumentDownloadServiceTest.java
Labels: ns:sscs-tribunals-api-pr-576

#583 Sscs 5972 setting outcome field
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/event/CcdCallbackEndpointIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/EventToFieldPreSubmitCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/OutcomeServiceHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/OutcomeServiceHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-583

#546 Add new rpc email field to the json data used in tests
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/evidence/EvidenceDocumentUploadEndpointIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/e2e/resources/config/application_e2e.properties
  src/main/resources/config/application.properties
  src/test/resources/json/rpc.json
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithDifferentAddressCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressButNoAppellantContactDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsCcd.json
  src/test/resources/sya/appellantNoContactDetailsCcd.json
  src/test/resources/sya/appellantPhoneNumberWithoutSpacesCcd.json
  src/test/resources/sya/hearingWithSupportEmptyCcd.json
  src/test/resources/sya/hearingWithSupportWithoutScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearingCcd.json
  src/test/resources/sya/ninoWithoutSpacesCcd.json
  src/test/resources/sya/wantsSupportWithoutArrangementsCcd.json
  src/test/resources/sya/wantsSupportWithoutScheduleCcd.json
  src/test/resources/sya/withoutEmailNotificationCcd.json
  src/test/resources/sya/withoutHearingCcd.json
  src/test/resources/sya/withoutNotificationCcd.json
  src/test/resources/sya/withoutRepresentativeCcd.json
  src/test/resources/sya/withoutSmsNotificationCcd.json
  src/test/resources/sya/withoutWantsSupportCcd.json
Labels: ns:sscs-tribunals-api-pr-546

#584 SSCS-5918 Populate further evidence dropdown
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ActionFurtherEvidenceDropdownHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/EventToFieldPreSubmitCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/HandleEvidenceEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/PreSubmitCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdCallbackController.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ActionFurtherEvidenceDropdownHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/HandleEvidenceEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/OutcomeServiceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/PreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CcdCallbackControllerTest.java
Labels: ns:sscs-tribunals-api-pr-584

#585 SSCS-5812 Set interlocReviewState for UPLOAD_FURTHER_EVIDENCE event
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-585

#589 SSCS-5812 Update interlocReviewState Field
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-589

#573 SSCS-5722 - Update sscs-common version for nino normalisation
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaAppellant.java
Labels: ns:sscs-tribunals-api-pr-573

#593 minor refactor to reuse HearingTypeEnum
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
Labels: ns:sscs-tribunals-api-pr-593
