Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2020-07, with the labels that each got.

#1146 SSCS-7728 PIP DN Tidy Up
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/IssueFinalDecisionIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackController.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackControllerTest.java
  src/test/resources/callback/issueFinalDecisionCallback.json
  src/test/resources/callback/writeFinalDecisionManualUploadDescriptor.json
  src/test/resources/callback/writeFinalDecisionManualUploadNonDescriptor.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1146

#1152 SSCS-7728 Not setting the panel member names on the pdf if they are p…
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1152

#1153 SSCS-7707 SSCS-7710 Refactor setting of outcome code
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/IssueFinalDecisionIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/resources/callback/issueFinalDecisionDescriptorCallback.json
  src/test/resources/callback/issueFinalDecisionDescriptorUploadCallback.json
  src/test/resources/callback/issueFinalDecisionNonDescriptorCallback.json
  src/test/resources/callback/issueFinalDecisionNonDescriptorUploadCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1153

#1151 SSCS-7740 Add PCQ id
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaCaseWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/resources/sya/allDetails.json
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/withoutRpcCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1151

#1156 Sscs 7626 can case be listed right away
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandlerTest.java
  src/test/resources/callback/adjournCaseYesNoYes.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1156

#1154 Sscs 7741 pcq id draft store
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraft.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionPcqId.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraftTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1154

#1157 Sscs 7753 award logic changes
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeOutcomeService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeOutcomeServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1157

#1162 SSCS-7739 Bump sscs-pdf-email-common
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/coversheet/CoversheetService.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1162

#1107 SSCS-7569 S&R/SYA – Show error to users who don’t have the citizen role
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1107

#1167 Sscs 7739. - Domosis URL Config (reapproval)
  Jenkinsfile_parameterized
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/tya/GetAppealStatus.java
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1167

#1165 SSCS-7631 Modifying existing validation to be conditional and adding validation for next hearing page
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandlerTest.java
  src/test/resources/callback/adjournCaseYesNoNo.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1165

#1147 SSCS-7730 - CCD UI – Have directionIssued validate prior to submitting the event
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceRequestExecutor.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToStartTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ServiceRequestExecutorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1147

#1143 SSCS-7485 Reissue document event
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ReissueFurtherEvidenceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/DocumentUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1143

#1168 SSCS-7754 Ordering descriptors lexicographically
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/DescriptorLexicographicalComparator.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/DescriptorComparatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1168

#1169 SSCS-7631 Changes in line with A/C changes, and fixing bug with validation of firstAvailableDateAfter scenario
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandlerTest.java
  src/test/resources/callback/adjournCaseYesNoNo.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1169

#1158 SSCS-7756 - SYA / S&R – Reasons for appealing switching
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1158

#1141 SSCS-7067: SYA – Display message to user if case is already created
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/evidence/EvidenceDocumentUploadTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/DuplicateCaseException.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1141

#1183 SSCS-7670 Move draft adjournment to sscs document
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/PreviewDocumentService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/PreviewDocumentServiceTest.java
  src/test/resources/callback/adjournCaseManuallyGenerated.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1183

#1184 SSCS-7784 Write adjourned language interpreter to hearing options
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1184

#1104 SSCS-7415 - CCD UI - Strikeout cases - event
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/struckout/StruckOutAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/struckout/StruckOutAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1104

#1150 SSCS-7620 - Upgrade to Java 11
  Dockerfile
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1150

#1186 Adjourn preview fix
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/PreviewDocumentService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/PreviewDocumentServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1186

#1187 Adding component scan for idam client to @EnableFeignClient
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/TribunalsCaseApiApplication.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1187

#1182 SSCS-7598 - Tiff image conversion
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1182

#1155 SSCS-7751: IDAM/OIDC - get userInfo from token or from calling /o/use…
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1155

#1193 SSCS-7752 Adding appointee full name to decision notice payload
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/DirectionOrDecisionIssuedTemplateBody.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1193

#1175 SSCS-7639 Preview document for adjourn case face to face
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DecisionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueNoticeHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/HearingType.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackController.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/AdjournCaseTemplateBody.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/NoticeIssuedTemplateBody.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackControllerTest.java
  src/test/resources/callback/adjournCaseGeneratedFaceToFaceWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
  src/test/resources/callback/adjournCaseGeneratedVideoWhenCaseNotListedStraightAwayWithDirectionsMade.json
  src/test/resources/callback/adjournCaseGeneratedVideoWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1175

#1192 SSCS-7607 Not listable due date
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/NotListableIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/notlistable/NotListableAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/notlistable/NotListableMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/notlistable/NotListableAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/notlistable/NotListableMidEventValidationHandlerTest.java
  src/test/resources/callback/notListableCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1192

#1197 Sscs 7610 update not listable directions fulfilled
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatenotlistable/UpdateNotListableAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatenotlistable/UpdateNotListableAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1197

#1142 Wla 585 persist language to ccd
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaCaseWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraft.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionLanguagePreferenceWelsh.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraftTest.java
  src/test/resources/sya/allDetails.json
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/withoutRpcCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1142

#1204 SSCS-7642 Adding handling of telephone hearings
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/HearingType.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/resources/callback/adjournCaseGeneratedTelephoneWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1204

#1205 SSCS-7643 Adding handling for video hearings
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AbstractEventIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/HearingType.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/resources/callback/adjournCaseGeneratedVideoWhenCaseNotListedStraightAwayWithDirectionsMade.json
  src/test/resources/callback/adjournCaseGeneratedVideoWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1205

#1202 SSCS-7612 Update not listable due date
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UpdateNotListableIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/TribunalsCaseApiApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/MidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatenotlistable/UpdateNotListableAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/MidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/notlistable/NotListableAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatenotlistable/UpdateNotListableAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/resources/callback/updateNotListableCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1202

#1208 Bump common 3.3.31
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1208

#1206 SSCS-7644 Adding paper hearing handling
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/HearingType.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/AdjournCaseTemplateBody.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/resources/callback/adjournCaseGeneratedPaperWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1206

#1209 SSCS-7818 Functional tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/adjourncase/AdjournCaseAboutToSubmitHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/notlistable/NotListableAboutToSubmitHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/updatenotlistable/UpdateNotListableAboutToSubmitHandlerTest.java
  src/e2e/resources/handlers/adjourncase/adjournCaseCallback.json
  src/e2e/resources/handlers/notlistable/notListableCallback.json
  src/e2e/resources/handlers/updatenotlistable/updateNotListableCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/notlistable/NotListableAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/notlistable/NotListableAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1209

#1214 sscs-7842 fixed failed nightly job
  audit.json
  security.sh
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1214

#1215 SSCS-7854 Correcting generated date logic
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueNoticeHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1215

#1178 Sscs 7665 issue adjournment notice
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/IssueAdjournmentIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/IssueFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/resources/callback/issueAdjournmentCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1178

#1176 WLA-601: SSCS: extra HTML FILES - Need BO changes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/pdf/PdfAppealDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SscsPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/pdf/StoreAppellantStatementService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/pdf/StoreEvidenceDescriptionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/pdf/StorePdfService.java
  src/main/resources/config/application.properties
  src/main/resources/templates/evidenceDescriptionWelsh.html
  src/main/resources/templates/personalStatementWelsh.html
  src/test/java/uk/gov/hmcts/reform/sscs/service/SscsPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/pdf/StoreAppellantStatementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/pdf/StoreEvidenceDescriptionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/pdf/StorePdfServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1176

#1216 SSCS-7854 Adding workaround for RDM-8200 to set the generated dates on the AboutToSubmit handlers
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/resources/callback/adjournCaseValidSubmissionWithNullGeneratedDate.json
  src/test/resources/callback/adjournCaseValidSubmissionWithSetGeneratedDate.json
  src/test/resources/callback/writeFinalDecisionDescriptorNullGeneratedDate.json
  src/test/resources/callback/writeFinalDecisionDescriptorSetGeneratedDate.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1216

#1222 WLA-582: SSCS - added demo values and bump chart version
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.demo.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1222

#1220 SSCS Common bump and remove refs to Outcome state
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requestinfo/RequestInfoIncompleteApplicationAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1220

#1140 Wla 582
  build.gradle
  charts/sscs-tribunals-api/values.demo.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/DocumentConfigurationTest.java
  src/IntegrationTests/resources/config/application_it.properties
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueNoticeHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/pdf/PdfAppealDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/NoticeIssuedTemplateBody.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SscsPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/coversheet/CoversheetService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/coversheet/PdfCoverSheet.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/pdf/StoreAppellantStatementService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/pdf/StoreEvidenceDescriptionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/pdf/StorePdfService.java
  src/main/resources/config/application.properties
  src/main/resources/templates/evidenceDescriptionWelsh.html
  src/main/resources/templates/personalStatementWelsh.html
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToStartTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SscsPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/coversheet/CoversheetServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/pdf/StoreAppellantStatementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/pdf/StoreEvidenceDescriptionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/pdf/StorePdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/thirdparty/pdfservice/DocmosisPdfServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1140
