Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2020-10, with the labels that each got.

#1391 SSCS 8202 Added joint party tya number
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/subscriptionupdated/SubscriptionUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/subscriptionupdated/SubscriptionUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1391

#1400 fixed the security scan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1400

#1394 SSCS 8204 use rc common
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/CitizenLoginTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/CreatedCcdCase.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/SscsMyaBackendRequests.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CreateCaseController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginService.java
  src/main/resources/json/ccd_case.json
  src/test/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1394

#1389 Sscs 7999 confidential request review
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confidentialityrequest/ReviewConfidentialityRequestAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confidentialityrequest/ReviewConfidentialityRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confidentialityrequest/ReviewConfidentialityRequestAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confidentialityrequest/ReviewConfidentialityRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1389

#1402 SSCS 8204 upped common version
  build.gradle
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1402

#1404 Sscs 8204 fix joint party tya
  charts/sscs-tribunals-api/values.aat.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1404

#1390 Sscs 7814: SYA - Select all the suitable options for you to take part in the hearing
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaHearingOptions.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaOptions.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SyaJsonMessageSerializer.java
  src/test/resources/sya/hearingWithOptions.json
  src/test/resources/sya/hearingWithOptionsCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1390

#1393 Sscs 8136 appeal proceed no mrn
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1393

#1392 SSCS - 8112 - Activities are Optional depending on the award type
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1392

#1405 SSCS-7957:Joint party uploading evidence to MYA
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1405

#1410 SSCS-7827 Upload response hidden fields
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/abouttostart/BenefitTypeDynamicListItems.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/abouttostart/DynamicBenefitTypeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/abouttostart/DynamicBenefitTypeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminsendtowithdwp/AdminSendToWithDwpAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwplapse/DwpLapseCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToStartTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/voidcase/VoidCaseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1410

#1417 Bkpatel81 patch 1
  Jenkinsfile_parameterized
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/evidence/EvidenceDocumentUploadTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1417

#1411 SSCS-8235: Documents tab - JP uploading evidence to MYA
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1411

#1419 SSCS-7985: CCD UI – Repurpose the makeCaseUrgent event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/makecaseurgent/MakeCaseUrgentAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/makecaseurgent/MakeCaseUrgentAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1419

#1424 SSCS-8185 Set confidential case fields when request received in prep for Gaps
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confidentialityrequest/ReviewConfidentialityRequestAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confidentialityrequest/ReviewConfidentialityRequestAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1424

#1382 SSCS-8135: Tribunals – Cases that are validated or allowed to proceed…
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ClearHmctsDwpStateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/OutcomeServiceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/abouttostart/SelectWhoReviewsCaseDropdownHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addrep/AddRepAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToStartTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/isscottish/IsScottishHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/PostponeHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/readytolist/ReadyToListAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/removelinkforcase/RemoveLinkForCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requestinfo/RequestInfoIncompleteApplicationAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/subscriptionupdated/SubscriptionUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/supplementaryresponse/SupplementaryResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validsendtointerloc/ValidSendToInterlocAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/ActivityQuestionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/ActivityTypeTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/PointsConditionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdClientTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/healthcheck/TribunalCaseApiHealthAggregatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1382

#1418 Added null check for MrnDate for welsh pdf documents
  src/main/java/uk/gov/hmcts/reform/sscs/service/SscsPdfService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SscsPdfServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1418

#1429 Sscs 8210 sscs 8218 action further evidence validation revised
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1429

#1409 SSCS-8111 Award date changes
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1409

#1430 SSCS-7929 Response reviewed elements and issues
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/elementsdisputed/ElementsDisputedMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/elementsdisputed/ElementsDisputedMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1430

#1447 SSCS-8317 - Add functional tests for MYA
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/CitizenLoginTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/EvidenceUploadTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/SscsMyaBackendRequests.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/SubscriptionTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1447

#1428 Sscs 7984 urgent hearing process document
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1428

#1449 SSCS-8295 - MidEvent Functional Tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/CcdEventResponse.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/CcdMidEventControllerFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/BaseFunctionTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/SscsMyaBackendRequests.java
  src/e2e/resources/handlers/writefinaldecision/writeFinalDecisionCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1449

#1450 SSCS-8207: Bulk scan – Record the form type from exception records an…
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1450

#1453 SSCS-7515-7516 Refactoring tests to support different benefit types - PR2
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/PointsCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipPointsCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeQuestionService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipPointsConditionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeQuestionServiceTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/PipDecisionNoticeQuestionServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1453

#1451 SSCS-8323 Set evidence handled flag on upload document FE
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceHandler.java
  src/test/resources/callback/uploaddocument/expectedUploadDocumentFECallbackResponse.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1451

#1463 Sscs 7515 sscs 7516 sscs esa activities and scores fix
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1463

#1439 SSCS-7986: CCD UI – Judge grant or refuse urgent hearing
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.aat.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionTypeItemList.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1439

#1445 SSCS-7515 SSCS-7516 Refactor to support WriteFinalDecision for different benefit types - PR1
  src/e2e/resources/handlers/writefinaldecision/writeFinalDecisionCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/ActivityQuestion.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/ActivityQuestionLookup.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/ActivityType.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/AwardType.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/PointsCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipActivityQuestion.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipActivityType.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipPointsCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeQuestionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/PipDecisionNoticeOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/PipDecisionNoticeQuestionService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipActivityQuestionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipActivityTypeTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipPointsConditionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeOutcomeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeQuestionServiceTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/PipDecisionNoticeQuestionServiceTest.java
  src/test/resources/callback/issueFinalDecisionDescriptorCallback.json
  src/test/resources/callback/writeFinalDecisionDescriptor.json
  src/test/resources/callback/writeFinalDecisionDescriptorNotConsidered.json
  src/test/resources/callback/writeFinalDecisionDescriptorNullGeneratedDate.json
  src/test/resources/callback/writeFinalDecisionDescriptorSetGeneratedDate.json
  src/test/resources/callback/writeFinalDecisionManualUploadDescriptor.json
  src/test/resources/callback/writeFinalDecisionManualUploadNonDescriptor.json
  src/test/resources/callback/writeFinalDecisionNonDescriptor.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1445

#1465 SSCS-7515 SSCS-7516 SSCS-7565 Updating commons version to release ver…
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1465

#1457 sscs 8321 point at aat not staging
  Jenkinsfile_nightly
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1457

#1441 SSCS-7515 SSCS-7516 Esa Activities and Scores - PR3
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/FieldCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/FieldConditionBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaActivityQuestion.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaActivityQuestionKey.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaActivityType.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaPointsCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaPointsRegulationsAndSchedule3ActivitiesCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/StringListFieldCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/StringListPredicate.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/YesNoFieldCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/YesNoPredicate.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeQuestionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EsaDecisionNoticeOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EsaDecisionNoticeQuestionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/PipDecisionNoticeQuestionService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaActivityQuestionKeyTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaActivityTypeTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaPointsConditionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaPointsRegulationsAndSchedule3ActivitiesConditionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/EsaDecisionNoticeQuestionServiceTest.java
  src/test/resources/callback/writeFinalDecisionDescriptorESA.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1441

#1456 SSCS-8335 - Add confidentiality message for isProgressingViaGaps = Yes
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1456

#1467 added urls to fix security scan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1467

#1468 fixed the security scan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1468

#1466 SSCS-8133 - Enable UC locally
  src/main/resources/config/application-local.properties
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1466

#1469 fixed the security scan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1469

#1448 SSCS-8214 upgrade sscs-common
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1448

#1471 fixed the security sccan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1471

#1475 Suppress kotlin library dependency till end of november
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1475

#1474 fixed the security scan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1474

#1476 fixed the security scan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1476
