Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2020-03, with the labels that each got.

#938 Add log statement before hitting bundling service
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/service/BundleRequestExecutor.java
  src/main/resources/config/application-local.properties
  src/test/java/uk/gov/hmcts/reform/sscs/service/BundleRequestExecutorTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-938

#949 SSCS-7295 Show warning message when amending bundle if no bundle selected
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/EditBundleIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwprequesttimeextension/DwpRequestTimeExtensionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToStartTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CcdCallbackControllerTest.java
  src/test/resources/callback/editBundleCallbackNoBundleToAmend.json
Labels: ns:sscs, rel:sscs-tribunals-api-pr-949

#966 Draft issue fix
  src/main/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdClient.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-966

#968 SSCS-7186 Clearup ASE config for demo AKS
  Jenkinsfile_CNP
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
Labels: ns:sscs, rel:sscs-tribunals-api-pr-968

#964 Sscs 7001 ignore coversheet
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-964

#975 SSCS-7052 Update RPC when postcode is changed
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-975

#978 SSCS-6746 Show warning for filename with just spaces
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-978

#981 SSCS-7349 Set interloc referral date for reinstate appeal event
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-981

#976 Sscs 7299 review spring security
  build.gradle
  dependency-check-suppressions.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/ActionStrikeOutHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/TribunalsCaseApiApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/ApiAuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CcdCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/resources/callback/uploaddocument/expectedUploadDocumentFECallbackResponse.json
  src/test/resources/callback/withdrawnappeals/adminAppealWithdrawnCallback.json
  src/test/resources/callback/withdrawnappeals/adminAppealWithdrawnExpectedCaseData.json
  src/test/resources/callback/withdrawnappeals/dwpActionWithdrawalCallback.json
  src/test/resources/callback/withdrawnappeals/dwpActionWithdrawalExpectedCaseData.json
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithDifferentAddressCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressButNoAppellantContactDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsCcd.json
  src/test/resources/sya/appellantNoContactDetailsCcd.json
  src/test/resources/sya/appellantPhoneNumberWithoutSpacesCcd.json
  src/test/resources/sya/hearingWithSupportEmptyCcd.json
  src/test/resources/sya/hearingWithSupportWithoutScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearingCcd.json
  src/test/resources/sya/ninoWithoutSpacesCcd.json
  src/test/resources/sya/wantsSupportWithoutArrangementsCcd.json
  src/test/resources/sya/wantsSupportWithoutScheduleCcd.json
  src/test/resources/sya/withoutEmailNotificationCcd.json
  src/test/resources/sya/withoutHearingCcd.json
  src/test/resources/sya/withoutNotificationCcd.json
  src/test/resources/sya/withoutRepresentativeCcd.json
  src/test/resources/sya/withoutRpcCcd.json
  src/test/resources/sya/withoutSmsNotificationCcd.json
  src/test/resources/sya/withoutWantsSupportCcd.json
Labels: ns:sscs, rel:sscs-tribunals-api-pr-976

#994 Add features to main.tf
  build.gradle
  infrastructure/main.tf
Labels: ns:sscs, rel:sscs-tribunals-api-pr-994

#987 SSCS-6710 Reciprocal link to all linked cases
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/linkcase/LinkCaseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/associatecase/LinkCaseAboutToSubmitHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-987
