Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2020-09, with the labels that each got.

#1316 SSCS-8049 Adding DwpUploadResponse about to start handler to populate benefit type dropdown
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/abouttostart/BenefitTypeDynamicListItems.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/abouttostart/DynamicBenefitTypeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/StringUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/abouttostart/DynamicBenefitTypeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/StringUtilsTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1316

#1332 Resolving potential NPEs found by sonar
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocumentDownloadService.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1332

#1334 Fixing potential NPE by now only calling response.getBody() once
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocumentDownloadService.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1334

#1319 Sscs 7904 nightly zap
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1319

#1326 SSCS-7808 - Appeal to proceed Direction type
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DecisionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1326

#1239 Wla 595 apply stop state fe
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocReviewState.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatewelshpreference/UpdateWelshPreferenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/AbstractFooterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FooterDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FooterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SscsPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/WelshBenefitTypeTranslator.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/WelshFooterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatewelshpreference/UpdateWelshPreferenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FooterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SscsPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/WelshBenefitTypeTranslatorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/WelshFooterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SyaJsonMessageSerializer.java
  src/test/resources/sya/appealWithEvidenceDocumentsLanguagePreferenceWelsh.json
  src/test/resources/sya/appealWithEvidenceDocumentsLanguagePreferenceWelshCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1239

#1313 added joint party subs
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/resources/callback/uploaddocument/expectedUploadDocumentFECallbackResponse.json
  src/test/resources/callback/withdrawnappeals/adminAppealWithdrawnExpectedCaseData.json
  src/test/resources/callback/withdrawnappeals/dwpActionWithdrawalCallback.json
  src/test/resources/callback/withdrawnappeals/dwpActionWithdrawalExpectedCaseData.json
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithDifferentAddressCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressButNoAppellantContactDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsLanguagePreferenceWelshCcd.json
  src/test/resources/sya/appellantNoContactDetailsCcd.json
  src/test/resources/sya/appellantPhoneNumberWithoutSpacesCcd.json
  src/test/resources/sya/hearingWithSupportEmptyCcd.json
  src/test/resources/sya/hearingWithSupportWithoutScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearingCcd.json
  src/test/resources/sya/ninoWithoutSpacesCcd.json
  src/test/resources/sya/wantsSupportWithoutArrangementsCcd.json
  src/test/resources/sya/wantsSupportWithoutScheduleCcd.json
  src/test/resources/sya/withoutEmailNotificationCcd.json
  src/test/resources/sya/withoutHearingCcd.json
  src/test/resources/sya/withoutNotificationCcd.json
  src/test/resources/sya/withoutRpcCcd.json
  src/test/resources/sya/withoutSmsNotificationCcd.json
  src/test/resources/sya/withoutWantsSupportCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1313

#1343 Sscs 7806 reinstatement requests 2
  dependency-check-suppressions.xml
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/AppellantStatementTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/EvidenceUploadTest.java
  src/e2e/resources/config/application_e2e.properties
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/resources/config/application-local.properties
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1343

#1352 Fix functional tests for hearing subtype
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithDifferentAddressCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressButNoAppellantContactDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsLanguagePreferenceWelshCcd.json
  src/test/resources/sya/appellantNoContactDetailsCcd.json
  src/test/resources/sya/appellantPhoneNumberWithoutSpacesCcd.json
  src/test/resources/sya/hearingWithSupportEmptyCcd.json
  src/test/resources/sya/hearingWithSupportWithoutScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearingCcd.json
  src/test/resources/sya/ninoWithoutSpacesCcd.json
  src/test/resources/sya/wantsSupportWithoutArrangementsCcd.json
  src/test/resources/sya/wantsSupportWithoutScheduleCcd.json
  src/test/resources/sya/withoutEmailNotificationCcd.json
  src/test/resources/sya/withoutHearingCcd.json
  src/test/resources/sya/withoutNotificationCcd.json
  src/test/resources/sya/withoutRpcCcd.json
  src/test/resources/sya/withoutSmsNotificationCcd.json
  src/test/resources/sya/withoutWantsSupportCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1352

#1351 Wla 710
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CancelTranslationIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CreateWelshNoticeIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/MarkDocumentsForTranslationIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UpdateWelshPreferenceIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UploadWelshDocumentsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/markdocsfortranslation/MarkDocumentsForTranslationAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/markdocsfortranslation/MarkDocumentsForTranslationAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/markdocsfortranslation/MarkDocumentsForTranslationAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/markdocsfortranslation/MarkDocumentsForTranslationAboutToSubmitHandlerTest.java
  src/test/resources/callback/cancelTranslation.json
  src/test/resources/callback/cancelTranslationNonWelsh.json
  src/test/resources/callback/createWelshNotice.json
  src/test/resources/callback/createWelshNoticeDecision.json
  src/test/resources/callback/createWelshNoticeDirection.json
  src/test/resources/callback/createWelshNoticeNonWelsh.json
  src/test/resources/callback/markDocumentsForTranslation-nonWelsh.json
  src/test/resources/callback/markDocumentsForTranslation.json
  src/test/resources/callback/updateLanguagePreference.json
  src/test/resources/callback/uploadWelshDocuments.json
  src/test/resources/callback/uploadWelshDocumentsOriginalDocumentSelected.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1351

#1353 Wla 698 add interloc review welsh
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsSubmittedHandler.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsSubmittedHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1353

#1357 Wla 609 bundling welsh
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartHandler.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1357

#1360 Upgrade terraform
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1360

#1354 Wla 690
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/updatenotlistable/UpdateNotListableAboutToSubmitHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/BundleAdditionFilenameBuilder.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/BundleAdditionFilenameBuilderTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1354

#1376 SSCS-8126 Ignoring case data state, only using state set on case details
  src/main/java/uk/gov/hmcts/reform/sscs/service/admin/RestoreCasesService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/admin/RestoreCasesServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1376

#1325 Sscs 7809 resintatement judge
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/IntegrationTests/resources/config/application_it.properties
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionTypeItemList.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/resources/callback/directionIssuedReinstatementRequest.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1325

#1369 SSCS-8126 Adding restore cases mid event callback
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/admin/RestoreCasesService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/admin/RestoreCasesStatus.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/admin/RestoreCasesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/admin/RestoreCasesStatusTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1369

#1379 fixed the security scan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1379

#1377 SSCS-8109 Restricting the getVenues method of VenueRpcDetailsService to only active venues
  src/main/java/uk/gov/hmcts/reform/sscs/service/venue/VenueRpcDetailsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseCcdServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1377

#1378 SSCS-8107 Adjourn case time changes
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/adjourncase/AdjournCaseAboutToSubmitHandlerTest.java
  src/e2e/resources/handlers/adjourncase/adjournCaseCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/AdjournCaseTemplateBody.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
  src/test/resources/callback/adjournCaseGeneratedFaceToFaceWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
  src/test/resources/callback/adjournCaseGeneratedFaceToFaceWithInterpreterNotRequiredAndLanguageSet.json
  src/test/resources/callback/adjournCaseGeneratedFaceToFaceWithInterpreterRequiredAndLanguageNotSet.json
  src/test/resources/callback/adjournCaseGeneratedFaceToFaceWithInterpreterRequiredAndLanguageSet.json
  src/test/resources/callback/adjournCaseGeneratedPaperWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
  src/test/resources/callback/adjournCaseGeneratedTelephoneWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
  src/test/resources/callback/adjournCaseGeneratedVideoWhenCaseNotListedStraightAwayWithDirectionsMade.json
  src/test/resources/callback/adjournCaseGeneratedVideoWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
  src/test/resources/callback/adjournCaseValidSubmissionWithNullGeneratedDate.json
  src/test/resources/callback/adjournCaseValidSubmissionWithSetGeneratedDate.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1378

#1381 SSCS-7998 Confidential request
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/OriginalSenderItemList.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1381

#1387 Wla 738
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/markdocsfortranslation/MarkDocumentsForTranslationAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1387

#1388 SSCS-8194 - Next hearing date text
  dependency-check-suppressions.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1388
