Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2020-08, with the labels that each got.

#1161 SSCS-7634: Tech debt – Change PDF service URL from CMC to RPE
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/e2e/resources/config/application_e2e.properties
  src/test/resources/sya/allDetails.json
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/withoutRpcCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1161

#1221 SSCS-7040 - CCD UI - Deprecate 'Void application' state
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1221

#1231 Lowercase pcqId
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionPcqId.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1231

#1233 lowercase pcqId
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraft.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1233

#1232 SSCS-7871 Adjournment notice issued DWP state
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/IssueAdjournmentIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1232

#1230 SSCS-7790 Adding Adjourn Case Reissue Handling
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1230

#1227 SSCS-7855 Moving single-field validation to common
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1227

#1234 SSCS-7870 only clear adjourn case data when no draft exists
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1234

#1235 SSCS-7866 Judges' feedback display changes
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/adjourncase/AdjournCaseAboutToSubmitHandlerTest.java
  src/e2e/resources/handlers/adjourncase/adjournCaseCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/AdjournCaseTemplateBody.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandlerTest.java
  src/test/resources/callback/adjournCaseGeneratedFaceToFaceWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
  src/test/resources/callback/adjournCaseGeneratedPaperWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
  src/test/resources/callback/adjournCaseGeneratedTelephoneWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
  src/test/resources/callback/adjournCaseGeneratedVideoWhenCaseNotListedStraightAwayWithDirectionsMade.json
  src/test/resources/callback/adjournCaseGeneratedVideoWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
  src/test/resources/callback/adjournCaseValidSubmissionWithNullGeneratedDate.json
  src/test/resources/callback/adjournCaseValidSubmissionWithSetGeneratedDate.json
  src/test/resources/callback/issueAdjournmentCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1235

#1229 SSCS-7037 Remove non used PENDING_APPEAL usage
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requestinfo/RequestInfoIncompleteApplicationAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1229

#1238 Pcq fix for draft store
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraft.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1238

#1237 SSCS-7869 Judges feedback document template changes
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/HearingType.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1237

#1244 SSCS-7829 Elements and issues
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/ElementsDisputed.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1244

#1253 suppress CVE-2020-15824 for a month until v1.4.0 kotlin-stdlib is released
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1253

#1254 SSCS-7834 Adding joint party DOB validation
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1254

#1223 SSCS-7398: CCD UI – When adding NINO then automatically associate cas…
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/linkcase/LinkCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1223

#1259 Revert "SSCS-7398: CCD UI – When adding NINO then automatically associate cas…"
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/linkcase/LinkCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1259

#1257 Sscs 7835 adding nino validation
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1257

#1261 Enable functional tests in nightly built
  Jenkinsfile_nightly
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1261

#1242 SSCS-7874 - Fix NPE in Reissue Document
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1242

#1217 SSCS-7633 - CCD UI – Show error when uploading non-PDF for issue direction/decision
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1217

#1262 Add secrets for nightly tests
  Jenkinsfile_nightly
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1262

#1263 Enable functional tests nightly
  Jenkinsfile_nightly
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1263

#1264 remove s from http for nightly job test url
  Jenkinsfile_nightly
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1264

#1245 SSCS-7805 - CCD UI – Throw a warning if the document type isn’t set
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1245

#1268 SSCS-7837 Upgrading to latest common with address validation and adding address validation tests
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1268

#1270 Enable functional tests nightly
  Jenkinsfile_nightly
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1270

#1251 SSCS-7831 Auto assign case code for UC upload resonse
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1251

#1271 added more url in audit.json
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1271

#1272 Sscs 7875 adding interpreter description to payload body
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/AdjournCaseTemplateBody.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LanguageService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/LanguageServiceTest.java
  src/test/resources/callback/adjournCaseGeneratedFaceToFaceWithInterpreterNotRequiredAndLanguageSet.json
  src/test/resources/callback/adjournCaseGeneratedFaceToFaceWithInterpreterRequiredAndLanguageNotSet.json
  src/test/resources/callback/adjournCaseGeneratedFaceToFaceWithInterpreterRequiredAndLanguageSet.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1272

#1170 SSCS-7345 Add IsScottishCase to SYA appeal create
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/isscottish/IsScottishHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/SyaController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/isscottish/IsScottishHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithDifferentAddressCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressButNoAppellantContactDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsCcd.json
  src/test/resources/sya/appellantNoContactDetailsCcd.json
  src/test/resources/sya/appellantPhoneNumberWithoutSpacesCcd.json
  src/test/resources/sya/hearingWithSupportEmptyCcd.json
  src/test/resources/sya/hearingWithSupportWithoutScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearingCcd.json
  src/test/resources/sya/ninoWithoutSpacesCcd.json
  src/test/resources/sya/wantsSupportWithoutArrangementsCcd.json
  src/test/resources/sya/wantsSupportWithoutScheduleCcd.json
  src/test/resources/sya/withoutEmailNotificationCcd.json
  src/test/resources/sya/withoutHearingCcd.json
  src/test/resources/sya/withoutNotificationCcd.json
  src/test/resources/sya/withoutRpcCcd.json
  src/test/resources/sya/withoutSmsNotificationCcd.json
  src/test/resources/sya/withoutWantsSupportCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1170

#1283 Potential fix for scottish bundle issue
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/isscottish/IsScottishHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1283

#1285 SSCS-7989 Upgrading tests for identity name refactor
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1285

#1292 Bump common 3.4.51
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1292

#1293 Remove staging test url
  Jenkinsfile_nightly
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1293

#1294 Fixed proxy connection error
  security.sh
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1294

#1290 Sscs 7979 PDF Error Logging
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/exceptions/EvidenceUploadException.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1290

#1258 SSCS-7309 - Set 'Previous State' field when case moves to dormant
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dormant/DormantEventsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/struckout/StruckOutAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dormant/DormantEventsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/struckout/StruckOutAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1258

#1302 SSCS-7972 Fixing bugs and adding tests -WIP
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/venue/VenueRpcDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/venue/VenueRpcDetailsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseCcdServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/venue/VenueRpcDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1302

#1284 Sscs 7972 mid event callback for venue list
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/adjourncase/AdjournCaseAboutToSubmitHandlerTest.java
  src/e2e/resources/handlers/adjourncase/adjournCaseCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseCcdService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/DynamicListItemComparator.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/venue/VenueRpcDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/venue/VenueRpcDetailsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseCcdServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/venue/VenueRpcDetailsTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1284

#1310 SSCS 8001 - Restrict isScottish handler to creation events
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UpdateCaseInCcdTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/tya/GetAppealStatus.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/isscottish/IsScottishHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/isscottish/IsScottishHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithDifferentAddressCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressButNoAppellantContactDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsCcd.json
  src/test/resources/sya/appellantNoContactDetailsCcd.json
  src/test/resources/sya/appellantPhoneNumberWithoutSpacesCcd.json
  src/test/resources/sya/hearingWithSupportEmptyCcd.json
  src/test/resources/sya/hearingWithSupportWithoutScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearingCcd.json
  src/test/resources/sya/ninoWithoutSpacesCcd.json
  src/test/resources/sya/wantsSupportWithoutArrangementsCcd.json
  src/test/resources/sya/wantsSupportWithoutScheduleCcd.json
  src/test/resources/sya/withoutEmailNotificationCcd.json
  src/test/resources/sya/withoutHearingCcd.json
  src/test/resources/sya/withoutNotificationCcd.json
  src/test/resources/sya/withoutRpcCcd.json
  src/test/resources/sya/withoutSmsNotificationCcd.json
  src/test/resources/sya/withoutWantsSupportCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1310

#1312 Remove unused tf remote state
  infrastructure/state.tf
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1312

#1260 Sscs 7398 nino update case updated fix
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/linkcase/LinkCaseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1260

#1315 fix security scan step for jenkins nightly
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1315

#1298 SSCS-7807 - CCD UI – Direction due date should error in certain circumstance rather than mandatory
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandlerTest.java
  src/test/resources/callback/directionIssuedForPreview.json
  src/test/resources/callback/directionIssuedManualInterloc.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1298

#1318 Sscs 7904 nightly zap
  audit.json
  security.sh
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1318
