Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2020-12, with the labels that each got.

#1599 SSCS-8456 Stop updating case code on UC logic for case updated event
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ResponseEventsAboutToSubmit.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendelementsissues/AmendElementsIssuesAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1599

#1602 Refactoring common UC/ESA content into base class
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UcDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionComponentId.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcNewTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcOldTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/WriteFinalDecisionTemplateContent.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1602

#1607 added representative for mya test
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CreateCaseController.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1607

#1609 added repre for mya test
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/CreatedCcdCase.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/SscsMyaBackendRequests.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1609

#1606 Removing paragraph from non-WCA templates
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/EsaDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario10Content.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario10Test.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1606

#1613 SSCS-8468: ESA DN Scenario 12
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/EsaDecisionNoticeFunctionalTest.java
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupNoSch3Reg35AppliesCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaAllowedOrRefusedCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario12Content.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario12Test.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1613

#1615 SSCS-8407 - E2E tests for remaining scenarios of ESA DN
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/EsaDecisionNoticeFunctionalTest.java
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupLessThan15ptsReg29AppliesNoSch3NoReg35Callback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupLessThan15ptsReg29AppliesSch3AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupMoreThan15ptsSch3AppliesCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1615

#1611 SSCS-8328 Abate case callback handler
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/abatecase/AbateCaseAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/abatecase/AbateCaseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/abatecase/AbateCaseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/abatecase/AbateCaseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1611

#1620 Sscs 8466 updated content
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UcDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcNewTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario12Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario3Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario5Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario6Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario7Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario8Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario9Content.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario12Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario1Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario2Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario3Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario5Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario6Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario7Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario8Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario9Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenarioHearingTypeTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1620

#1608 Changing "final decision upon entitlement to UC." to "final decision … WIP
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UcDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcNewTemplateContent.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario12Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario1Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario5Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario6Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario7Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario8Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario9Test.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1608

#1618 SSCS-8470: UC DN Scenario- non LWCA Allowed. SSCS-8471:UC DN Scenario…
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UcDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario10Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario.java
  src/main/resources/uk/gov/hmcts/reform/sscs/git.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario10Test.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1618

#1628 sscs 8469 changes to content for scenario 4
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UcDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario4Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario4Test.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1628

#1619 Sscs 8334 provide appointee details event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/provideappointeedetails/ProvideAppointeeDetailsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/provideappointeedetails/ProvideAppointeeDetailsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1619

#1610 SSCS-8424 - Remove UC flag
  build.gradle
  charts/sscs-tribunals-api/values.aat.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpraiseexception/DwpRaiseExceptionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
  src/main/resources/config/application-local.properties
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpraiseexception/DwpRaiseExceptionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1610

#1621 Sscs 8326 death of appellant
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellant/DeathOfAppellantAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellant/DeathOfAppellantAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1621

#1634 SSCS-8466 Ensuring Work Capability Assessment is capitalised and fixing scenario 12 content
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UcDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcNewTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario12Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario5Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario6Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario7Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario8Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario9Content.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewUcScenario12Test.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1634

#1605 SSCS-8106 Nicer validation messages
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ResendToGapsAboutToSubmitHandler.java
  src/main/resources/config/application.properties
  src/main/resources/uk/gov/hmcts/reform/sscs/git.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ResendToGapsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1605

#1633 SSCS-8287 - Add/Remove UCB flag
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateucb/UpdateUcbAboutToSubmitHandler.java
  src/main/resources/uk/gov/hmcts/reform/sscs/git.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateucb/UpdateUcbAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1633

#1637 SSCS-8327 Add appointee for death of appellant event
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellant/DeathOfAppellantAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellant/DeathOfAppellantAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1637

#1635 Sscs 8466 further esa content changes
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/EsaDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaTemplateComponentId.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario12Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario2Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario7Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario8Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario9Content.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario12Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario1Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario2Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario3Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario4Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario5Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario6Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario7Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario8Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario9Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenarioHearingTypeTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1635

#1636 SSCS-8501: CCD UI – Refuse urgent hearing isn’t setting the “Urgent c…
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1636

#1641 CVE-2020-17527 fix
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1641

#1627 SSCS-8230: Adjournment notice - Welsh translation
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1627

#1643 Sscs 8466 non wca lwca existing points bugfix2
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EsaDecisionNoticeOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/UcDecisionNoticeOutcomeService.java
  src/test/resources/callback/writeFinalDecisionDescriptorESANonWCA.json
  src/test/resources/callback/writeFinalDecisionDescriptorUCNonLcwa.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1643

#1640 Sscs 8466 non wca/lcwa existing points bugfix
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EsaDecisionNoticeOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/UcDecisionNoticeOutcomeService.java
  src/test/resources/callback/writeFinalDecisionDescriptorESANonWCA.json
  src/test/resources/callback/writeFinalDecisionDescriptorUCNonLcwa.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1640

#1652 Upgrade org.codehaus.groovy for CVE-2020-17521
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1652

#1649 SSCS-8482 Update functional tests to follow digital journey
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UpdateCaseInCcdTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/dwpraiseexception/DwpRaiseExceptionHandlerTest.java
  src/e2e/resources/handlers/actionfurtherevidence/actionFurtherEvidenceAboutToStartCallback.json
  src/e2e/resources/handlers/dwplapse/dwpLapseCallback.json
  src/e2e/resources/handlers/dwpraiseexception/dwpRaiseExceptionCallback.json
  src/e2e/resources/handlers/fehandledoffline/feHandledOfflineAboutToSubmitCallback.json
  src/e2e/resources/handlers/interloc/dwpChallengeValidityCallback.json
  src/e2e/resources/handlers/interloc/sendToAdminCallback.json
  src/e2e/resources/handlers/timeextension/dwpRequestTimeExtensionAboutToSubmitCallback.json
  src/e2e/resources/handlers/validappeal/validAppealCreatedCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedIsSupportGroupSch3SelectionMadeCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNoSupportGroupLessThan15PointsReg29AndReg35AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupLessThan15ptsReg29AppliesNoSch3NoReg35Callback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupLessThan15ptsReg29AppliesSch3AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupMoreThan15ptsSch3AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupNoSch3NoReg35Callback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupNoSch3Reg35AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonWcaCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedSupportNoSch3NoReg35Callback.json
  src/e2e/resources/handlers/writefinaldecision/esaDwpReassessTheAwardCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaDwpReassessTheAwardCallbackZeroPoints.json
  src/e2e/resources/handlers/writefinaldecision/esaRefusedNonSupportGroupOnlyCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaRefusedSupportNoSch3NoReg35Callback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedIsSupportGroupSch7SelectionMadeCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNoSupportGroupLessThan15PointsSch8Para4AndSch9Para4AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNoSupportGroupZeroPointsSch8Para4AndSch9Para4AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNonLcwaCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNonSupportGroupNoSchNoSch9Para4Callback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNonSupportGroupNoSchSch9Para4Callback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedSupportNoSch7NoSch9Para4Callback.json
  src/e2e/resources/handlers/writefinaldecision/ucDwpReassessTheAwardCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucRefusedNonSupportGroupOnlyCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucRefusedSupportNoSch7NoSch9Para4Callback.json
  src/main/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ResendToGapsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ResendToGapsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1649

#1653 SSCS-8466 Correcting ESA Scenario 3 to specify work rather than work-…
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/EsaDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario3Content.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario3Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenarioHearingTypeTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1653

#1654 Sscs 8466 Judges feedback changes & legacy scenario removal
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/EsaDecisionNoticeFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UcDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcNewTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario8Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/newscenarios/NewScenario9Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario10Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario12Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario1Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario2Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario3Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario4Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario5Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario6Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario7Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario8Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario9Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/WriteFinalDecisionTemplateContent.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario12Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario1Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario3Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario4Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario5Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario6Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario7Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario9Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenarioHearingTypeTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario10Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario12Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario1Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario2Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario3Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario4Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario5Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario6Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario7Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario8Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario9Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenarioHearingTypeTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1654

#1655 Ignore git properties file
  .gitignore
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1655

#1644 SSCS-8499 Date of appellant death validation
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellant/DeathOfAppellantAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellant/DeathOfAppellantAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1644

#1656 SSCS-8482 Add sleep for randomly failing functional test
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/CitizenLoginTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/SubscriptionTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1656

#1657 SSCS-8482 Clear up duplicated functional tests
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/CreateAndUpdateCaseInCcdTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UpdateCaseInCcdTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1657

#1646 SSCS-8488: CCD UI – UC – When DWP upload response the DWP state isn’t…
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ResponseEventsAboutToSubmit.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1646

#1659 Retry if failed MYA response
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/SscsMyaBackendRequests.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1659

#1660 Use create test case event
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CreateCaseController.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CreateCaseControllerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1660

#1647 SSCS-8286 - UCB document
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ResponseEventsAboutToSubmit.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwprequesttimeextension/DwpRequestTimeExtensionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1647

#1650 SSCS-8284: Add event for Review PHME request
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ReviewPhmeRequestIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/phmereview/PhmeReviewAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/phmereview/PhmeReviewAboutToSubmitHandlerTest.java
  src/test/resources/callback/reviewPhmeRequest.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1650

#1626 Sscs 8283 dwp upload phme
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ReviewPhmeRequestIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocReferralReason.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/phmereview/PhmeReviewAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/AppConstants.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/phmereview/PhmeReviewAboutToSubmitHandlerTest.java
  src/test/resources/callback/reviewPhmeRequest.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1626

#1651 SSCS-8503 - Populate venue field with the venue a case is expected to be managed from at creation
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaCaseWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaCaseWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1651

#1662 Sscs 8505 update processing venue
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CaseUpdatedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/resources/callback/caseUpdated.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1662

#1642 SSCS-8430 Edit Bundle Stitching fix
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToStartTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1642

#1625 Sscs 7682 is save and return flag
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaCaseWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1625
