Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2020-02, with the labels that each got.

#913 SSCS-7079 Interloc – Clear the interlocReviewState flag if case goes …
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminappealwithdrawn/AdminAppealWithdrawnAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminsendtodormantappealstate/AdminSendToDormantAppealStateAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/appealdormant/AppealDormantAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/appeallapsed/AppealLapsedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/appealwithdrawn/AppealWithdrawnAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmlapsed/ConfirmLapsedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctslapsecase/HmctsLapseCaseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminappealwithdrawn/AdminAppealWithdrawnAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminsendtodormantappealstate/AdminSendToDormantAppealStateAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/appealdormant/AppealDormantAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/appeallapsed/AppealLapsedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/appealwithdrawn/AppealWithdrawnAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmlapsed/ConfirmLapsedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctslapsecase/HmctsLapseCaseAboutToSubmitHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-913

#924 SSCS-7079 Interloc – Clear the interlocReviewState flag if case goes …
  src/test/resources/json/sya.json
Labels: ns:sscs, rel:sscs-tribunals-api-pr-924

#921 SSCS-7148 Use common library for dwp regional center
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-921

#926 SSCS-6947 Move appinsights key to config
  Jenkinsfile_CNP
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  infrastructure/main.tf
  src/main/resources/config/bootstrap.yaml
Labels: ns:sscs, rel:sscs-tribunals-api-pr-926

#929 Sscs 7145 sscs 7223 venue airlookup changes
  build.gradle
Labels: ns:sscs, rel:sscs-tribunals-api-pr-929

#901 SSCS-7103 Make System Doc Uploads Separate
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-tribunals-api/values.preview.template.yaml
  config/checkstyle/checkstyle.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdminSendToInterlocIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/helper/IntegrationTestHelper.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/CcdConsumerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UpdateCaseInCcdTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/dwplapse/DwpLapseCaseHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/uploaddocument/UploadDocumentFurtherEvidenceHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/uploaddocument/UploadDocumentHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/tya/GetAppealStatus.java
  src/e2e/resources/handlers/uploaddocument/uploadDocumentFECallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/BaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/FileUploadScenario.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentHandlerTest.java
  src/test/resources/callback/uploaddocument/expectedUploadDocumentFECallbackResponse.json
  src/test/resources/callback/uploaddocument/uploadDocumentFECallback.json
Labels: ns:sscs, rel:sscs-tribunals-api-pr-901

#934 fix imports because fo the checkstyle upgrade version
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaEvidence.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaMrn.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/AppealNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/sscs/healthcheck/DocmosisHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/MessageAuthenticationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/OtpGenerator.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminsendtodormantappealstate/AdminSendToDormantAppealStateAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/appeallapsed/AppealLapsedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/appealwithdrawn/AppealWithdrawnAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/healthcheck/TribunalCaseApiHealthAggregatorTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-934

#914 Sscs 7120 bundling advanced
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CreateBundleIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/EditBundleIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/BundleRequestExecutor.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/exceptions/DocumentServiceResponseException.java
  src/main/resources/config/application-local.properties
  src/main/resources/config/application.properties
  src/main/resources/config/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToStartTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/BundleRequestExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/resources/callback/createBundleCallback.json
  src/test/resources/callback/editBundleCallback.json
Labels: ns:sscs, rel:sscs-tribunals-api-pr-914

#918 SSCS-7124 Set case code on update case callback
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-918

#942 SSCS-7289-Handle empty case code
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ResponseEventsAboutToSubmit.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-942

#943 SSCS-7289 change logic to not overwrite case code
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ResponseEventsAboutToSubmit.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-943

#940 SSCS-7204 Fix for empty DWP bundle docs
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CreateBundleIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartHandlerTest.java
  src/test/resources/callback/createBundleCallback.json
Labels: ns:sscs, rel:sscs-tribunals-api-pr-940

#948 Reverted health Aggregator
  src/main/java/uk/gov/hmcts/reform/sscs/healthcheck/TribunalCaseApiHealthAggregator.java
  src/test/java/uk/gov/hmcts/reform/sscs/healthcheck/TribunalCaseApiHealthAggregatorTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-948

#941 SSCS-7283 Upload further evidence changes
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-941

#946 SSCS-7123 Prevent DD case code
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/HmctsResponseReviewedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ResponseEventsAboutToSubmit.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandlerTest.java
  src/test/resources/callback/hmctsResponseReviewedCallback.json
Labels: ns:sscs, rel:sscs-tribunals-api-pr-946

#935 SSCS-6850 Associate the submitted case with the IDAM ID (S&R)
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdClient.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdClientTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdServiceTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-935
