Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2020-01, with the labels that each got.

#886 Sscs 7014 hide options grant deny
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionTypeItemList.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwprequesttimeextension/DwpRequestTimeExtensionAboutToSubmitHandler.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fehandledoffline/FeHandledOfflineHandlerTest.java
  src/test/resources/callback/directionIssuedForPreview.json
Labels: ns:sscs-tribunals-api-pr-886

#880 SSCS-6979 Callback handler for request info event
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/RequestInfoIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requestinfo/RequestInfoIncompleteApplicationAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requestinfo/RequestInfoIncompleteApplicationAboutToSubmitHandlerTest.java
  src/test/resources/callback/requestInfoCallback.json
Labels: ns:sscs-tribunals-api-pr-880

#887 Sscs 7036 hide appeal to proceed
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-887

#891 SSCS-7027 Rename direction type options
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionTypeItemList.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-891

#894 fix sonar
  build.gradle
Labels: ns:sscs-tribunals-api-pr-894

#893 SSCS-7056 Fix bug for interloc state in action further evidence event
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-893

#885 SSCS-6959 Callback handler for adminSendToWithDwp event
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdminSendToWithDwpIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminsendtowithdwp/AdminSendToWithDwpAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminsendtowithdwp/AdminSendToWithDwpAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/resources/callback/adminSendToWithDwp.json
Labels: ns:sscs-tribunals-api-pr-885

#890 SSCS-7060 When striking out a case (issue decision) the interloc stat…
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-890

#895 SSCS-7066 Move TL1 to DWP tab
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/timeextension/DwpRequestTimeExtensionAboutToSubmitHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwprequesttimeextension/DwpRequestTimeExtensionAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwprequesttimeextension/DwpRequestTimeExtensionAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-895

#896 SSCS-7070 Set interloc referral date for post-valid interloc cases
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validsendtointerloc/ValidSendToInterlocAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validsendtointerloc/ValidSendToInterlocAboutToSubmitHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-896

#889 SSCS-7047 SYA – OpenID connect – Validate the IDAM token that is retu…
  build.gradle
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  infrastructure/main.tf
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs-tribunals-api-pr-889

#875 SSCS-6982 Added mya parameter to return different state
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UpdateCaseInCcdTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/uploaddocument/UploadDocumentHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/tya/GetAppealStatus.java
  src/main/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/TyaController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/TribunalsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/TyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/TribunalsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SerializeJsonMessageManager.java
  src/test/resources/tya/appealReceivedCcd.json
  src/test/resources/tya/appealReceivedMya.json
  src/test/resources/tya/dormantMya.json
  src/test/resources/tya/dwpRespondMya.json
  src/test/resources/tya/hearingMya.json
Labels: ns:sscs-tribunals-api-pr-875

#898 SSCS-7090 Move DWP states to common library
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DecisionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ActionStrikeOutHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/DwpState.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addrep/AddRepEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpdirectionresponse/DwpDirectionResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwprequesttimeextension/DwpRequestTimeExtensionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/PostponeHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/DwpActionWithdrawalHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpdirectionresponse/DwpDirectionResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToStartHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-898

#899 SSCS-7071 add unit scenario to meet AC
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/DwpChallengeValidityHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandlerTest.java
Labels: ns:sscs-tribunals-api-pr-899

#892 SSCS-6884 SYA/S&R – Users without the correct role are progressing th…
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, ns:sscs-tribunals-api-pr-892, rel:sscs-tribunals-api-pr-892

#909 SSCS-7140 Update AirLookup to v10
  build.gradle
Labels: ns:sscs, rel:sscs-tribunals-api-pr-909

#906 SSCS-6809 Changes to support new PIP AE office added by DWP
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/HmctsResponseReviewedIt.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-906

#881 Feature/sscs 6587
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertAIntoBService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SyaServiceHelper.java
Labels: ns:sscs, ns:sscs-tribunals-api-pr-881, rel:sscs-tribunals-api-pr-881

#912 SSCS-7138 Fix for dynamic lists clearing when back button pressed
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-912

#910 SSCS-7128 Add appeal to proceed option for all states when issuing direction
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-910
