Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2020-05, with the labels that each got.

#1026 Suppress log4j warnings
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1026

#1030 Sscs1 functional test
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/sscs1casecreation/Sscs1PdfHandlerTest.java
  src/e2e/resources/handlers/validappeal/validAppealCreatedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/Sscs1PdfHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SscsPdfService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/Sscs1PdfHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SscsPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1030

#1031 Revert change so that missing values are populated for sscs1 pdf
  src/e2e/resources/handlers/validappeal/validAppealCreatedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/Sscs1PdfHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/Sscs1PdfHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1031

#1034 Remove send to dwp update
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/IntegrationTests/resources/config/application_it.properties
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1034

#1023 SSCS-7481 Sheffield DRT changes
  build.gradle
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1023

#1022 SSCS-7479 Show error if invalid address when issuing evidence
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1022

#1036 SSCS-7482: SYA/tribunal case API/bulk-scan – Change Watford DRT to Sh…
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1036

#1045 Fixed apache tika vulnerabilities
  build.gradle
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1045

#1027 SSCS-7413 Change undefined rep name to null
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1027

#1054 SSCS-7521 Build points extractor for decision notices
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeQuestionService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeQuestionServiceTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1054

#1055 SSCS-7498 Ensuring date validation fails for start and end date the same
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1055

#1058 SSCS-7536 Adding decision date validation to mid event handler
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1058

#1061 Upgrade gradle 6.4
  Jenkinsfile_CNP
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/SyaController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FooterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/BundleRequestExecutorTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1061

#1062 SSCS-7537 Adding about to submit handler points validation logic
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/ActivityQuestion.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/ActivityType.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/AwardType.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/PointsCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/ActivityQuestionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/ActivityTypeTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/PointsConditionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1062

#1064 Upgrade jackson 2.11.0
  build.gradle
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1064
