Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2020-06, with the labels that each got.

#1072 SSCS-7523 Set outcome and dwp state for final decision notice
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1072

#1065 SSCS-7550: New AirLookup
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1065

#1068 SSCS-7545 MYA - Not all word documents are converting to PDF when upl
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1068

#1079 SSCS-7584 Add question for dwp compare mobility and set outcome
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1079

#1073 Sscs 7544 mya cannot delete files
  src/main/java/uk/gov/hmcts/reform/sscs/controller/EvidenceUploadController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/EvidenceUploadControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1073

#1080 SSCS-7473 Sscs-common bump
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DecisionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ReissueFurtherEvidenceIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/evidence/EvidenceDocumentUploadEndpointIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/CitizenIdamService.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
  src/main/resources/config/application.properties
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1080

#1071 SSCS-7560 - docmosis error fix
  build.gradle
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1071

#1069 Adding initial document generation functionality to WriteFinalDecisionMidEventHandler
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/FinalDecisionIssuedForPreviewIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/DirectionOrDecisionIssuedTemplateBody.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/StringUtils.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/StringUtilsTest.java
  src/test/resources/callback/finalDecisionIssuedForPreview.json
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1069

#1083 SSCS-7473 Further SSCS-Common bump and tidy
  build.gradle
  src/main/resources/config/application.properties
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1083

#1081 SSCS-7507 Issue final decision notice
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/IssueFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/resources/callback/issueFinalDecisionCallback.json
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1081

#1084 SSCS-7554 Decision Notice Section 1
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/FinalDecisionIssuedForPreviewIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/ComparedRate.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/DirectionOrDecisionIssuedTemplateBody.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeOutcomeService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeOutcomeServiceTest.java
  src/test/resources/callback/finalDecisionIssuedForPreview.json
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1084

#1088 SSCS-7540 - Upgrade Spring. Upgrade Java Chart. Add renovate
  .github/renovate.json
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/controller/LivenessControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/ExceptionHandlerAdvice.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/LivenessController.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/controller/ExceptionHandlerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/pdf/StoreAppellantStatementServiceTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1088

#1087 SSCS-7616 End to end tests for write final decision
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/IssueFinalDecisionIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/dwplapse/DwpLapseCaseHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/sscs1casecreation/Sscs1PdfHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/timeextension/DwpRequestTimeExtensionAboutToSubmitHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/CitizenIdamService.java
  src/e2e/resources/handlers/writefinaldecision/writeFinalDecisionCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
  src/test/resources/callback/writeFinalDecision.json
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1087

#1094 SSCS-7540- Remove redundant file
  charts/sscs-tribunals-api/requirements.yaml
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1094

#1095 SSCS-7418 Integrate HMCTS Java plugin
  build.gradle
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1095

#1092 SSCS-7623 Handle empty hearings for generating decision notices
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1092

#1086 SSCS-7594: CCD UI / Tribunals - Stop users from uploading non-PDF files
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1086

#1098 SSCS-7555 Extracting write final decision fields into nested class
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/DirectionOrDecisionIssuedTemplateBody.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/WriteFinalDecisionTemplateBody.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
Labels: ns:sscs, rel:sscs-tribunals-api-pr-1098

#1093 SSCS-7555 Adding Section 2 and Section 3
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/ActivityAnswer.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/ActivityQuestion.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/Descriptor.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/DirectionOrDecisionIssuedTemplateBody.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/WriteFinalDecisionTemplateBody.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeQuestionService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/ActivityAnswerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/ActivityQuestionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/model/docassembly/DescriptorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeQuestionServiceTest.java
  src/test/resources/callback/writeFinalDecision.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1093

#1100 SSCS-7557 Adding reasons for decision to payload
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/WriteFinalDecisionTemplateBody.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
  src/test/resources/callback/writeFinalDecision.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1100

#1103 SSCS-7558 Final Decision Notice letter fields for attended hearing and hearing type
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/e2e/resources/handlers/writefinaldecision/writeFinalDecisionCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/WriteFinalDecisionTemplateBody.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1103

#1106 SSCS-7678 Refactoring unit tests specific to previewing document to simplify code
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1106

#1113 SSCS-7666 Set issue date and generate date on final decision notice
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackController.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/DirectionOrDecisionIssuedTemplateBody.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/EvidenceUploadControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SubscriptionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/TyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaCaseWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/MessageAuthenticationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/coversheet/CoversheetServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/event/PaperCaseEventFilterUtilTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/pdf/util/PdfDateUtilTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/thirdparty/pdfservice/DocmosisPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/thirdparty/pdfservice/OldPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/DateTimeUtilsTest.java
  src/test/resources/callback/issueFinalDecisionCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1113

#1108 SSCS-7249: Revert SSCS-4203 (Reconnect health check to downstream ser
  src/main/java/uk/gov/hmcts/reform/sscs/healthcheck/TribunalCaseApiHealthAggregator.java
  src/test/java/uk/gov/hmcts/reform/sscs/healthcheck/TribunalCaseApiHealthAggregatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1108

#1120 SSCS-7637 SSCS-7697 Non descriptor flow, changes to reasons field and anything else field
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/e2e/resources/handlers/writefinaldecision/writeFinalDecisionCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/WriteFinalDecisionTemplateBody.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeOutcomeService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeOutcomeServiceTest.java
  src/test/resources/callback/writeFinalDecision.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1120

#1122 Remove unused method
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1122

#1121 SSCS-7668 Manual upload decision notice
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FooterService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/PreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminsendtowithdwp/AdminSendToWithDwpAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fehandledoffline/FeHandledOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/EvidenceManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/StatementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/TribunalsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FooterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/pdf/StoreEvidenceDescriptionServiceTest.java
  src/test/resources/callback/writeFinalDecisionManualUploadDescriptor.json
  src/test/resources/callback/writeFinalDecisionManualUploadNonDescriptor.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1121

#1123 SSCS-7589 Adding initial logic to perform award type validation
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1123

#1112 SSCS-7384 - Remove a Case Link
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/removelinkforcase/RemoveLinkForCaseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/removelinkforcase/RemoveLinkForCaseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1112

#1126 Sscs 7668 manual upload decision
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/DocumentUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1126

#1129 SSCS-7712: Caseloader – Re-requesting a new IDAM token before updatin
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1129

#1131 Sscs 7637 sscs 7697 sscs 7668 non descriptor and manual integration test
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeOutcomeService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeOutcomeServiceTest.java
  src/test/resources/callback/writeFinalDecisionDescriptor.json
  src/test/resources/callback/writeFinalDecisionManualUploadDescriptor.json
  src/test/resources/callback/writeFinalDecisionNonDescriptor.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1131

#1132 Sscs 7661 activities validation
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/AwardType.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/PointsCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeOutcomeService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/PointsConditionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/resources/callback/writeFinalDecisionDescriptorNotConsidered.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1132

#1136 Sscs 7637 adding integration test
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionIt.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1136

#1135 SSCS-7687 - Use Rerunneer-Juniper flaky functional tests
  README.md
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/evidence/EvidenceDocumentUploadTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1135
