Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2021-11, with the labels that each got.

#2329 SSCS - 9155 - Add error for linking case to itself
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/linkcase/LinkCaseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/linkcase/LinkCaseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2329

#2366 Blank commit
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  dependency-check-suppressions.xml
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/CitizenLoginTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, rel:sscs-tribunals-api-pr-2366

#2399 SSCS-9637: CCD UI – Tribunals – Set dwpRegionalCentre when case is up…
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CaseUpdatedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2399

#2422 Child support NPE fix
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminsendtowithdwp/AdminSendToWithDwpAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2422

#2423 Turn on docstore in AAT
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2423

#2424 Fix chart issue
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2424

#2228 SSCS-7821: MYA – Select case – Display tab for active and non-active …
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CitizenController.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/AppealDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/OnlineHearingService.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CitizenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/OnlineHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/DataFixtures.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2228

#2426 Sscs 9729 request hearing rec v2
  README.md
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UploadDocumentFurtherEvidenceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingRecordingRequestService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/citizenrequest/CitizenRequestService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingRecordingRequestServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2426

#2392 Sscs 9677 a/v docuemnt type validation
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UploadFurtherEvidenceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/bundle/BundleAudioVideoPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/AudioVideoEvidenceUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/AudioVideoEvidenceUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2392

#2420 Sscs 9733 correct venue name
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenWriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionPreviewDecisionService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueNoticeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/esa/EsaIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/pip/PipIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/uc/UcIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/resources/callback/uploaddocument/expectedUploadDocumentFECallbackResponse.json
  src/test/resources/callback/uploaddocument/uploadDocumentFECallback.json
  src/test/resources/callback/withdrawnappeals/adminAppealWithdrawnExpectedCaseData.json
  src/test/resources/callback/withdrawnappeals/dwpActionWithdrawalExpectedCaseData.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2420

#2429 Sscs-9750: amend gaps venue
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2429

#2431 suppress warnings
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2431

#2394 SSCS-9668
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/managedwpdocuments/ManageDwpDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/managedwpdocuments/ManageDwpDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SyaJsonMessageSerializer.java
  src/test/resources/sya/allDetailsNonSaveAndReturnCcdChildSupport.json
  src/test/resources/sya/allDetailsNonSaveAndReturnChildSupport.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2394

#2440 SSCS-9800: Common – Update list of venue addresses and new venue
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2440

#2447 Release secure docstore logging
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2447

#2444 SSCS-9814 MYA Demo - Audio files don't playback in MYA application
  src/main/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/tya/HearingRecording.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/citizenrequest/CitizenRequestService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/DocumentUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/citizenrequest/CitizenRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/DocumentUtilTest.java
  src/test/resources/tya/hearingRecordingMya.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2444

#2430 SSCS-9714: Child Support - Update Other Party Data Event
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UpdateOtherPartyDataIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requestinfo/RequestInfoIncompleteApplicationAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validsendtointerloc/ValidSendToInterlocAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtil.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/PartiesOnCaseUtil.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtilTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/PartiesOnCaseUtilTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
  src/test/resources/callback/updateOtherPartyCallback.json
  src/test/resources/callback/uploaddocument/expectedUploadDocumentFECallbackResponse.json
  src/test/resources/callback/withdrawnappeals/adminAppealWithdrawnExpectedCaseData.json
  src/test/resources/callback/withdrawnappeals/dwpActionWithdrawalExpectedCaseData.json
  src/test/resources/sya/allDetailsCcd.json
  src/test/resources/sya/allDetailsFromDraftCcd.json
  src/test/resources/sya/allDetailsFromDraftNoMrnDateCcd.json
  src/test/resources/sya/allDetailsFromDraftWithInterlocCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcdChildSupport.json
  src/test/resources/sya/allDetailsNonSaveAndReturnNoMrnDateCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnWithInterlocCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithDifferentAddressCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressButNoAppellantContactDetailsCcd.json
  src/test/resources/sya/allDetailsWithAppointeeWithSameAddressCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsCcd.json
  src/test/resources/sya/appealWithEvidenceDocumentsLanguagePreferenceWelshCcd.json
  src/test/resources/sya/appellantNoContactDetailsCcd.json
  src/test/resources/sya/appellantPhoneNumberWithoutSpacesCcd.json
  src/test/resources/sya/hearingWithOptionsCcd.json
  src/test/resources/sya/hearingWithSupportEmptyCcd.json
  src/test/resources/sya/hearingWithSupportWithoutScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearingCcd.json
  src/test/resources/sya/ninoWithoutSpacesCcd.json
  src/test/resources/sya/wantsSupportWithoutArrangementsCcd.json
  src/test/resources/sya/wantsSupportWithoutScheduleCcd.json
  src/test/resources/sya/withoutEmailNotificationCcd.json
  src/test/resources/sya/withoutHearingCcd.json
  src/test/resources/sya/withoutNotificationCcd.json
  src/test/resources/sya/withoutRepresentativeCcd.json
  src/test/resources/sya/withoutRpcCcd.json
  src/test/resources/sya/withoutSmsNotificationCcd.json
  src/test/resources/sya/withoutWantsSupportCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2430

#2421 SSCS-9710: MYA – When uploading only docs, set the hasUnprocessedAudi…
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2421

#2436 SSCS-9775: ExUI / Letter – Hearing adjourned notice has random “.”
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2436

#2450 SSCS-9746 added ConfirmPanelComposition event
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/confirmpanelcomposition/ConfirmPanelCompositionTest.java
  src/e2e/resources/handlers/confirmpanelcomposition/confirmPanelCompositionAboutToSubmitCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmpanelcomposition/ConfirmPanelCompositionAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmpanelcomposition/ConfirmPanelCompositionAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2450

#2452 SSCS-9777: Tribunals / Common – Change the document ordering
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2452

#2419 SSCS-9711 Callback for attach scanned docs event
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/attachscanneddocs/AttachScannedDocsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/attachscanneddocs/AttachScannedDocsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2419

#2457 Revert SSCS-9777: Tribunals / Common – Change the document ordering
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2457

#2456 Sscs 9747 ready to list or not listable
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmpanelcomposition/ConfirmPanelCompositionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmpanelcomposition/ConfirmPanelCompositionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2456

#2462 Sscs 9846 remove button validation
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/PartiesOnCaseUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2462

#2428 SSCS-9755 Child Support Robotics
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2428
