Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2021-01, with the labels that each got.

#1672 SSCS-8536 and SSCS-8537 minor changes to decision notice content
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1672

#1675 SSCS-8531 and SSCS-8532 Add points box to scenario 7 for ESA and UC d…
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/EsaDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario7Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario7Content.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario7Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario7Test.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1675

#1670 Sscs 8528 8529 uc esa scenario 2 content change
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/EsaDecisionNoticeFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UcDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcTemplateContent.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario2Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario2Test.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1670

#1624 SSCS-8351 - Notification - Adjournment notice Welsh translations
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournmentnoticewelsh/IssueAdjournmentNoticeWelshAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournmentnoticewelsh/IssueAdjournmentNoticeWelshAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1624

#1668 sscs 8464 clear 8464 label
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/phmereview/PhmeReviewAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/phmereview/PhmeReviewAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1668

#1665 Sscs 8387 action further evidence overwriting state
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/uploaddocument/UploadDocumentFurtherEvidenceHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1665

#1679 SSCS-8472 Death of appellant actioned event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellantactioned/DeathOfAppellantActionedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellantactioned/DeathOfAppellantActionedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1679

#1678 SSCS-8530: Robotics - send to robotics error
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ResendToGapsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ResendToGapsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1678

#1685 SSCS-8525 Appendix 12 document for DWP upload response event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1685

#1694 SSCS-8449 - default all SYA cases to be created with digital = 'Yes'
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/resources/config/application-local.properties
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1694

#1690 SSCS-8115 Set confidential case flag
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confidentialityrequest/ReviewConfidentialityRequestAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confidentialityrequest/ReviewConfidentialityRequestAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1690

#1693 SSCS-8485 Remove confidential case flags on death of appellant
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellant/DeathOfAppellantAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellant/DeathOfAppellantAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1693

#1692 SSCS-8572: Tribunals – Addition of the footer isn’t working as expected
  src/main/java/uk/gov/hmcts/reform/sscs/pdf/PdfWatermarker.java
  src/test/java/uk/gov/hmcts/reform/sscs/pdf/PdfWatermarkerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1692

#1689 SSCS-8520 Adding PIP functional tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/PipDecisionNoticeFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/e2e/resources/handlers/writefinaldecision/pipScenarioCallback.json
  src/e2e/resources/handlers/writefinaldecision/pipScenarioCallbackHearingType.json
  src/e2e/resources/handlers/writefinaldecision/pipScenarioCallbackNonDescriptorFlow.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1689

#1686 SSCS-6508 - Update Reasonable Adjustment Event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatereasonableadjustment/UpdateReasonableAdjustmentAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatereasonableadjustment/UpdateReasonableAdjustmentAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1686

#1697 SSCS-8564 - Upload PHME evidence: Review State
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1697

#1698 SSCS-8037 Confidentiality warning action further evidence
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1698

#1701 SSCS-8483 Refactor SubmitYourAppeal searches
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1701

#1711 Rename reasonableAdjustmentChoice field
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatereasonableadjustment/UpdateReasonableAdjustmentAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatereasonableadjustment/UpdateReasonableAdjustmentAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1711

#1713 Revert "SSCS-8483 Refactor SubmitYourAppeal searches"
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1713

#1715 Code tidyup
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/dwpraiseexception/DwpRaiseExceptionHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpraiseexception/DwpRaiseExceptionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpraiseexception/DwpRaiseExceptionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToSubmitTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1715

#1717 Sscs 8431 remove feature flags
  charts/sscs-tribunals-api/values.aat.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/IntegrationTests/resources/config/application_it.properties
  src/e2e/resources/config/application_e2e.properties
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/resources/config/application-local.properties
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1717

#1709 SSCS-8496 Process reasonable adjustment event callback
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processreasonableadjustment/ProcessReasonableAdjustmentAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processreasonableadjustment/ProcessReasonableAdjustmentAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1709

#1719 SSCS-8483 Refactor SubmitYourAppeal searches - fix
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1719

#1707 SSCS-8573: White list scottish postcode for local testing
  build.gradle
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1707

#1705 SSCS-8570 for work and for work-related activity
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/EsaDecisionNoticeFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UcDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcTemplateContent.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario12Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario3Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenarioHearingTypeTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario12Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario3Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenarioHearingTypeTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1705

#1702 SSCS-8116 Move edited document to sscs documents
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1702

#1695 SSCS-8565 SSCS-8567 Triage fix for ESA and UC
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/EsaDecisionNoticeFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UcDecisionNoticeFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/WriteFinalDecisionTemplateContent.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenario1TriageTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaScenarioHearingTypeTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenarioHearingTypeTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1695

#1721 SSCS-7816 - CCD UI – Disconnect uploadFurtherEvidence from sscsDocument
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1721

#1703 SSCS-8586: Robotics – Automatically clear the “Send to robotics error”
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ResendToGapsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ResendToGapsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1703

#1734 Sscs 8606 doa flag
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellant/DeathOfAppellantAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellant/DeathOfAppellantAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1734

#1726 SSCS-8388: MYA – Hide the hearing information if the case is paper
  src/main/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilder.java
  src/test/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SerializeJsonMessageManager.java
  src/test/resources/tya/dwpRespondMyaForPaperHearingType.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1726

#1735 Sscs 8597 phme bug
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1735

#1738 Sscs 8568 lwca rename fix
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/PipDecisionNoticeFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1738

#1739 Sscs 8568 lwca rename2
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/PipDecisionNoticeFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1739

#1704 Sscs 8568 lwca rename
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UcWriteFinalDecisionIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/UcDecisionNoticeFunctionalTest.java
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupLessThan15ptsReg29AppliesNoSch3NoReg35Callback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupLessThan15ptsReg29AppliesSch3AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupMoreThan15ptsSch3AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedIsSupportGroupSch7SelectionMadeCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNoSupportGroupLessThan15PointsSch8Para4AndSch9Para4AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNoSupportGroupZeroPointsSch8Para4AndSch9Para4AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNonSupportGroupNoSchNoSch9Para4Callback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNonSupportGroupNoSchSch9Para4Callback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNonWcaCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedSupportNoSch7NoSch9Para4Callback.json
  src/e2e/resources/handlers/writefinaldecision/ucDwpReassessTheAwardCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucRefusedNonSupportGroupOnlyCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucRefusedSupportNoSch7NoSch9Para4Callback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaAllowedOrRefusedCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaPointsRegulationsAndSchedule3ActivitiesCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcAllowedOrRefusedCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcPointsRegulationsAndSchedule7ActivitiesCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/WriteFinalDecisionTemplateBody.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EsaDecisionNoticeOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/UcDecisionNoticeOutcomeService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/esa/EsaIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/esa/EsaIssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/pip/PipIssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/uc/UcIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/uc/UcIssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaPointsRegulationsAndSchedule3ActivitiesConditionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcPointsRegulationsAndSchedule7ActivitiesConditionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcScenario10Test.java
  src/test/resources/callback/writeFinalDecisionDescriptorUC.json
  src/test/resources/callback/writeFinalDecisionDescriptorUCNonWca.json
  src/test/resources/callback/writeFinalDecisionDescriptorUCScenario.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1704

#1729 sscs 8495 changed letters object
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processreasonableadjustment/ProcessReasonableAdjustmentAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processreasonableadjustment/ProcessReasonableAdjustmentAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1729

#1730 sscs-8616 use original bundle name for amend bundle event
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/editbundle/EditBundleAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1730

#1666 SSCS-8150 All drafts end point
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdService.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/SyaController.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaCaseWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/SaveCaseOperation.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraft.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraftTest.java
  src/test/resources/json/sya_with_ccdId.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1666
