Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2021-02, with the labels that each got.

#1681 sscs-8458 edit bundle event
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateEditedBundleAboutToStartHandler.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateEditedBundleAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1681

#1743 sscs 8458 suppress kotlin cve
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1743

#1736 SSCS-8598 Migrate DWP lapse event docs to dwp documents collection
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwplapse/DwpLapseCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwprequesttimeextension/DwpRequestTimeExtensionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwplapse/DwpLapseCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwprequesttimeextension/DwpRequestTimeExtensionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1736

#1718 Added empty postcode check with log
  src/main/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1718

#1749 Add false positives for audit file
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1749

#1746 SSCS-8588 Removing PIP functional tests ( except single test)
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/PipDecisionNoticeFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1746

#1755 sscs 8458 fix logic
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
  src/test/resources/json/sya.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1755

#1745 SSCS-8588 Adding PIP integration tests
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/PipWriteFinalDecisionIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/PipDecisionNoticeFunctionalTest.java
  src/test/resources/callback/pipScenarioCallback.json
  src/test/resources/callback/pipScenarioCallbackHearingType.json
  src/test/resources/callback/pipScenarioCallbackNonDescriptorFlow.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1745

#1661 SSCS-8380: CCD UI – Action further evidence – action manually – addin…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1661

#1737 Sscs 8599 migrate challenge validity doc
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpchallengevalidity/DwpChallengeValidityAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpchallengevalidity/DwpChallengeValidityAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwprequesttimeextension/DwpRequestTimeExtensionAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1737

#1747 Sscs 8600 migrate dwp upload response docs
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ResponseEventsAboutToSubmit.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentService.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1747

#1740 SSCS-8624 - Doa Warning
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdCallbackController.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerTestBase.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1740

#1761 SSCS-8574:Look at Jenkins pipeline reliability
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/tya/GetAppealStatus.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/smoke/GetSavedCase.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1761

#1748 SSCS-8544 MYA - Progress bar in MYA status page is broken when a Pape…
  src/main/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilder.java
  src/test/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SerializeJsonMessageManager.java
  src/test/resources/tya/hearingPaperMya.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1748

#1764 fixed the security scan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1764

#1754 SSCS-8580 - Upload Video Evidence to CCD - Upload Further Evidence
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandler.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1754

#1774 SSCS-8681 Fix edited docs error
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1774

#1777 sscs 8682 fix dynamic list edit
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1777

#1776 SSCS-8692 Handle empty appendix 12 doc
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1776

#1772 SSCS-8693 Remove DWP doc migration feature flag
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateEditedBundleAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/AppConstants.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateEditedBundleAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1772

#1770 SSCS-8625 Fixing pip award validation bug and code polish
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueNoticeHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionBenefitTypeHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionComponentId.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/EsaTemplateComponentId.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario10Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario12Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario1Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario2Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario3Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario4Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario5Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario6Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario7Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario8Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/scenarios/Scenario9Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipTemplateComponentId.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/ScenarioAwardAwardContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/ScenarioAwardNoAwardContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/ScenarioAwardNotConsideredContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/ScenarioNoAwardAwardContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/ScenarioNoAwardNoAwardContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/ScenarioNoAwardNotConsideredContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/ScenarioNonDescriptorContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/ScenarioNotConsideredAwardContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/ScenarioNotConsideredNoAwardContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario10Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario12Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario1Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario2Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario3Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario4Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario5Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario6Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario7Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario8Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/Scenario9Content.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/scenarios/UcTemplateComponentId.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeQuestionService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionPreviewDecisionServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1770

#1724 SSCS-8607: Tribunals / Caseloader – Illegal Argument Exception - Comp…
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1724

#1784 Sscs 8623 GEN benefit type prototype
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/GenWriteFinalDecisionIt.java
  src/IntegrationTests/resources/config/application_it.properties
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/GenDecisionNoticeFunctionalTest.java
  src/e2e/resources/handlers/writefinaldecision/dlaScenarioCallbackNonDescriptorFlow.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionBenefitTypeHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenAllowedOrRefusedCondition.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenTemplateContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenWriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenWriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/scenarios/GenScenario.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/scenarios/ScenarioNonDescriptorContent.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/GenDecisionNoticeOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/GenDecisionNoticeQuestionService.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenAllowedOrRefusedConditionTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenTemplateContentTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenWriteFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenWriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/scenarios/GenScenarioNonDescriptorAllowedTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/scenarios/GenScenarioNonDescriptorRefusedTest.java
  src/test/resources/callback/dlaScenarioCallbackHearingType.json
  src/test/resources/callback/dlaScenarioCallbackNonDescriptorFlow.json
  src/test/resources/callback/writeFinalDecisionDescriptorDLA.json
  src/test/resources/callback/writeFinalDecisionManualUploadDescriptorDLA.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1784

#1760 Set interloc review state to none if a field is already set during dw…
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpraiseexception/DwpRaiseExceptionAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpraiseexception/DwpRaiseExceptionAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1760

#1768 SSCS-7817 Clean up FT
  dependency-check-suppressions.xml
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1768

#1788 SSCS-8698 Bundle config name fix
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1788

#1773 SSCS-8659 - Upload A/V Evidence: CCD - Upload Further Evidence (2)
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/DocumentUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1773

#1771 sscs 8636 handle audio video upload in dwp response
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1771

#1792 Clearup doc name for appendix 12
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/AppConstants.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1792

#1793 Use test events for some functional tests to reduce failures
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1793

#1752 sscs 8578 add mp3 mp4 files
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/EvidenceUploadTest.java
  src/e2e/resources/evidence.mp3
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1752

#1781 Sscs 8462 add id to state logging
  src/main/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilder.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1781

#1794 SSCS-8719 Ignore gen decision notice functional test
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/GenDecisionNoticeFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1794

#1782 SSCS-8663: Upload A/V Evidence: CCD - Upload document FE
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceHandlerTest.java
  src/test/resources/callback/uploaddocument/uploadAudioVideoDocumentFECallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1782

#1789 SSCS-8688: Confidentiality flag warning: Remove GAPS warning
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1789

#1560 updated address check regex
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1560

#1790 SSCS-8623 Sharing a single template amongst benefit types
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/DocumentConfigurationTest.java
  src/IntegrationTests/resources/config/application_it.properties
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueNoticeHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaActivityQuestion.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcActivityQuestion.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/esa/EsaIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/pip/PipIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/uc/UcIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionPreviewDecisionServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1790

#1797 Update bundle test data for dwp documents
  src/e2e/resources/handlers/actionStrikeOutCallback.json
  src/e2e/resources/handlers/actionfurtherevidence/actionFurtherEvidenceAboutToStartCallback.json
  src/e2e/resources/handlers/actionfurtherevidence/actionFurtherEvidenceSubmittedCallback.json
  src/e2e/resources/handlers/adjourncase/adjournCaseCallback.json
  src/e2e/resources/handlers/dwplapse/dwpLapseCallback.json
  src/e2e/resources/handlers/dwpraiseexception/dwpRaiseExceptionCallback.json
  src/e2e/resources/handlers/interloc/dwpChallengeValidityCallback.json
  src/e2e/resources/handlers/interloc/sendToAdminCallback.json
  src/e2e/resources/handlers/notlistable/notListableCallback.json
  src/e2e/resources/handlers/timeextension/dwpRequestTimeExtensionAboutToSubmitCallback.json
  src/e2e/resources/handlers/updatenotlistable/updateNotListableCallback.json
  src/e2e/resources/handlers/uploaddocument/uploadDocumentFECallback.json
  src/e2e/resources/handlers/validappeal/validAppealCreatedCallback.json
  src/e2e/resources/handlers/writefinaldecision/dlaScenarioCallbackNonDescriptorFlow.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedIsSupportGroupSch3SelectionMadeCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNoSupportGroupLessThan15PointsReg29AndReg35AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupLessThan15ptsReg29AppliesNoSch3NoReg35Callback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupLessThan15ptsReg29AppliesSch3AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupMoreThan15ptsSch3AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupNoSch3NoReg35Callback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonSupportGroupNoSch3Reg35AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedNonWcaCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaAllowedSupportNoSch3NoReg35Callback.json
  src/e2e/resources/handlers/writefinaldecision/esaDwpReassessTheAwardCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaDwpReassessTheAwardCallbackZeroPoints.json
  src/e2e/resources/handlers/writefinaldecision/esaRefusedNonSupportGroupOnlyCallback.json
  src/e2e/resources/handlers/writefinaldecision/esaRefusedSupportNoSch3NoReg35Callback.json
  src/e2e/resources/handlers/writefinaldecision/pipScenarioCallback.json
  src/e2e/resources/handlers/writefinaldecision/pipScenarioCallbackHearingType.json
  src/e2e/resources/handlers/writefinaldecision/pipScenarioCallbackNonDescriptorFlow.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedIsSupportGroupSch7SelectionMadeCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNoSupportGroupLessThan15PointsSch8Para4AndSch9Para4AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNoSupportGroupZeroPointsSch8Para4AndSch9Para4AppliesCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNonSupportGroupNoSchNoSch9Para4Callback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNonSupportGroupNoSchSch9Para4Callback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedNonWcaCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucAllowedSupportNoSch7NoSch9Para4Callback.json
  src/e2e/resources/handlers/writefinaldecision/ucDwpReassessTheAwardCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucRefusedNonSupportGroupOnlyCallback.json
  src/e2e/resources/handlers/writefinaldecision/ucRefusedSupportNoSch7NoSch9Para4Callback.json
  src/e2e/resources/handlers/writefinaldecision/writeFinalDecisionCallback.json
  src/test/resources/callback/createBundleCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1797

#1804 SSCS-8731 Fix response reviewed issue code bug for UC cases
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1804

#1811 fixed the security scan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1811

#1767 SSCS 8257 Welsh Reinstatement Handling Judge
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1767

#1791 sscs 8675 moved to audiovideo evidence
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/EvidenceUploadTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1791

#1798 sscs 8727 fix check for At38 in new collection
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/elementsdisputed/ElementsDisputedMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/elementsdisputed/ElementsDisputedMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1798

#1732 Remove Interlocutory review state check in action further evidence event
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1732

#1813 Sscs 8578 upload mp3 mp4
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/EvidenceUploadTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1813

#1812 sscs 8732 move docs to old position then put them back if updated
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToStartTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1812

#1805 added empty dwp office check for direction issued event
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1805

#1817 SSCS-8735 Set DWP documents in response received event
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/CreateAndUpdateCaseInCcdTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToStartTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1817

#1818 SSCS-8746: Tribunals – Update to case data regex is still too strong
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1818

#1796 SSCS-8722: Tribunals / MYA – Sscs Documents sorting Illegal Argument …
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/fehandledoffline/FeHandledOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwplapse/DwpLapseCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1796

#1775 SSCS-8634: Upload A/V Evidence: CCD - Supplementary Response
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/supplementaryresponse/SupplementaryResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/supplementaryresponse/SupplementaryResponseMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/supplementaryresponse/SupplementaryResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/supplementaryresponse/SupplementaryResponseMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/DocumentUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1775

#1801 SSCS-8648 - Upgrade Idam Client Only
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/TribunalsCaseApiApplication.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1801

#1822 Fixed regex address validation
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1822

#1816 SSCS-6327 - The 'Action Further Evidence' event can be triggered without completing the scanned documents section
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1816

#1825 fixed the security scan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1825

#1783 SSCS-8673 add a log message when uploading an additional evidence
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1783

#1826 Relax regex address validation
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1826

#1727 SSCS-7851 Upload FE validate is readable pdf
  src/e2e/resources/handlers/uploaddocument/uploadDocumentFECallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/AbstractFooterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/exceptions/PdfPasswordException.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FooterServiceTest.java
  src/test/resources/pdf/test-protected.pdf
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1727

#1836 SSCS-8746: Relax regex address validation
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1836

#1830 sscs 8765 changed back to old style test
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/elementsdisputed/ElementsDisputedMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/elementsdisputed/ElementsDisputedMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1830

#1839 SSCS-8746: Comment out address validation functionality as we need mo…
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1839

#1831 sscs 8757 updated docmosis urls for staging
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1831
