Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2021-12, with the labels that each got.

#2448 Sscs 9539 2 confidentiality
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2448

#2454 SSCS-9793 Child support confidential warning
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2454

#2455 SSCS-9766: Tribunals / SSCS1 – Add the hearing sub-type into the gene…
  build.gradle
  src/e2e/resources/handlers/validappeal/validAppealCreatedCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2455

#2471 SSCS-9777: Tribunals / Common – Change the document ordering
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2471

#2451 SSCS-9748 Add other party hearing preferences document type
  build.gradle
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2451

#2474 SSCS-9833 documents with NINO hidden for child support
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/NoticeIssuedTemplateBody.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2474

#2459 SSCS-9787 Update hearing recording requests for other parties
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AbstractEventIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ActionHearingRecordingIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/helper/IntegrationTestHelper.java
  src/e2e/resources/handlers/actionhearingrecordingrequest/actionHearingRecordingRequestAboutToSubmitCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/actionhearingrecordingrequest/ActionHearingRecordingRequestService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/PartiesOnCaseUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/processhearingrecordingrequest/ActionHearingRecordingRequestServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2459

#2482 upgrade log4j to 2.15.0
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2482

#2458 SSCS-9776:Action further evidence warning message
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/resources/callback/actionFurtherEvidenceWithInterlocOptionCallback.json
  src/test/resources/callback/appealDormantCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2458

#2469 SSCS-9767: Add warning for hearing option during update to case data
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2469

#2470 Other Party login use postcode and email
  src/main/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtil.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/PostcodeUtil.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/PostcodeUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2470

#2442 Sscs 9735 2 subscription other party
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/subscriptionupdated/SubscriptionUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtil.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/PostcodeUtil.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/subscriptionupdated/SubscriptionUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtilTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/PostcodeUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2442

#2475 SSCS-9824: Child Support - MYA: Other party Log in
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/OnlineHearing.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/Subscription.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/UserDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/UserType.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/OnlineHearingService.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/OnlineHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/DataFixtures.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2475

#2479 SSCS-9825 - MYA: Upload Evidence / Upload Audio Video Evidence
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/pdf/PdfAppealDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/AppellantStatementService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/pdf/StoreAppellantStatementService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/pdf/StorePdfService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/pdf/data/AppellantStatementPdfData.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/pdf/data/EvidenceDescriptionPdfData.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/pdf/data/PdfData.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtil.java
  src/main/resources/templates/evidenceDescription.html
  src/main/resources/templates/evidenceDescriptionWelsh.html
  src/main/resources/templates/personalStatement.html
  src/main/resources/templates/personalStatementWelsh.html
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/AppellantStatementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/pdf/StoreAppellantStatementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/pdf/StorePdfServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2479

#2463 SSCS-9743: Child Support - otherPartyAdded Notification
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UpdateOtherPartyDataIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtilTest.java
  src/test/resources/callback/updateOtherPartyCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2463

#2476 SSCS-9831 - Update Reissue Document Event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/PartiesOnCaseUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/PartiesOnCaseUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2476

#2477 SSCS-9862 Get other party id for document from original sender
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/PartiesOnCaseUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/PartiesOnCaseUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2477

#2491 SSCS-9925: SSCS2 Form - Upload Response-: Edited and Unedited Response
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2491

#2481 SSCS-9730 Reasonable adjustments for other parties
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatereasonableadjustment/UpdateReasonableAdjustmentAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatereasonableadjustment/UpdateReasonableAdjustmentAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/PartiesOnCaseUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processreasonableadjustment/ProcessReasonableAdjustmentAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatereasonableadjustment/UpdateReasonableAdjustmentAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatereasonableadjustment/UpdateReasonableAdjustmentAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2481

#2483 Sscs 9871
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ReissueFurtherEvidenceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtil.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/PartiesOnCaseUtil.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/ReissueUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissueartifact/ReissueArtifactHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reissuedocument/ReissueDocumentAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validsendtointerloc/ValidSendToInterlocAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/PartiesOnCaseUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2483

#2487 sscs 9882 set caseName for SYA
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/CreateAndUpdateCaseInCcdTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/resources/sya/allDetailsFromDraftCcd.json
  src/test/resources/sya/allDetailsFromDraftNoMrnDateCcd.json
  src/test/resources/sya/allDetailsFromDraftWithInterlocCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcdChildSupport.json
  src/test/resources/sya/allDetailsNonSaveAndReturnNoMrnDateCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnWithInterlocCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2487
