Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2021-07, with the labels that each got.

#2180 Suppress for one more month
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2180

#2181 Fix security scan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2181

#2145 SSCS-9233: Upload hearing recordings submit event
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/uploadhearingrecording/UploadHearingRecordingAboutToStartHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/uploadhearingrecording/UploadHearingRecordingAboutToSubmitHandlerTest.java
  src/e2e/resources/handlers/uploadhearingrecording/hearingRecordingsCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/HearingTypeForRecording.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2145

#2177 SSCS-9316 Decision notice formatting fix
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/PipWriteFinalDecisionIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipTemplateContent.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/PipScenarioEnhancedRateEnhancedRateTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/PipScenarioEnhancedRateStandardRateTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/PipScenarioNoAwardEnhancedRateTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/PipScenarioNoAwardStandardRateTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/PipScenarioNotConsideredEnhancedRateTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/PipScenarioNotConsideredStandardRateTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/PipScenarioStandardRateEnhancedRateTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/scenarios/PipScenarioStandardRateStandardRateTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2177

#2192 Sscs 9225 3
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/requesthearingrecording/RequestHearingRecordingAboutToStartHandlerTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/requesthearingrecording/RequestHearingRecordingAboutToSubmitHandlerTest.java
  src/e2e/resources/handlers/requesthearingrecording/requestHearingRecordingAboutToSubmitCallback.json
  src/e2e/resources/handlers/requesthearingrecording/requestHearingRecordingStartCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2192

#2194 Sscs 9061 allow social fund
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/admin/RestoreCasesService2.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2194

#2144 SSCS-9308 - CCD UI – Setting the ESA and UC dwpRegionalCentrer
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2144

#2193 SSCS-9228 Upload document FE hearing recording request
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/requesthearingrecording/RequestHearingRecordingAboutToStartHandlerFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/requesthearingrecording/RequestHearingRecordingAboutToSubmitHandlerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requestinfo/RequestInfoIncompleteApplicationAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2193

#2176 Sscs 9363 upload response integration tests
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DwpUploadResponseIt.java
  src/test/resources/callback/dwpUploadResponse.json
  src/test/resources/callback/dwpUploadResponseError.json
  src/test/resources/callback/dwpUploadResponsePhme.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2176

#2188 SSCS-9226: MYA: New 'Requests' Tab
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/controller/CitizenRequestControllerIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/HearingTypeForRecording.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CitizenRequestController.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/tya/CitizenHearingRecording.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/tya/HearingRecording.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/tya/HearingRecordingResponse.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/citizenrequest/CitizenRequestService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CitizenRequestControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/citizenrequest/CitizenRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SerializeJsonMessageManager.java
  src/test/resources/tya/hearingRecordingCcd.json
  src/test/resources/tya/hearingRecordingMya.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2188

#2206 Sscs 9306 phme add note
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DwpUploadResponseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addnote/AddNoteAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/informationreceived/InformationReceivedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatewelshpreference/UpdateWelshPreferenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/AddNoteService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addnote/AddNoteAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/informationreceived/InformationReceivedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatewelshpreference/UpdateWelshPreferenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/AddNoteServiceTest.java
  src/test/resources/callback/dwpUploadResponsePhme.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2206

#2208 Sscs 9307 info received note
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2208

#2209 Suppress low warnings
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2209

#2210 update * to sscs
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2210

#2199 SSCS-9362 - Secure doc store
  build.gradle
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2199

#2207 SSCS-9213 Add other benefit types
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2207

#2227 Fix PR's due to changes in chart
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2227

#2221 Bump common 4.4.49
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2221

#2229 Sscs 9358 add rf e to uc
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/HmctsResponseReviewedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2229

#2230 Sscs 9450 regional centre rfe
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2230

#2233 SSCS-9459 Update income support rfe mapping
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2233

#2236 SSCS-9386 - Upload Further Evidence Integration Tests
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AbstractEventIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UploadFurtherEvidenceIt.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2236

#2238 SSCS-9387 - Add integration test for Upload document FE
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AbstractEventIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UploadDocumentFurtherEvidenceIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UploadFurtherEvidenceIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/helper/IntegrationTestHelper.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2238

#2239 Sscs 9385 add integration tests sup response
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/SupplementaryResponseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/supplementaryresponse/SupplementaryResponseAboutToSubmitHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2239
