Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2021-08, with the labels that each got.

#2212 SSCS-9381: Fortify scan for nightly build
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
  src/main/resources/config/application-local.properties
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2212

#2237 SSCS-9449 Remove playback AV workaround event and related fields
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/PlaybackAudioVideoEvidenceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/playbackaudiovideo/PlaybackAudioVideoActionHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/playbackaudiovideo/PlaybackAudioVideoEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/playbackaudiovideo/PlaybackAudioVideoEvidenceMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/playbackaudiovideo/PlaybackAudioVideoEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/playbackaudiovideo/PlaybackAudioVideoEvidenceMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceMidEventHandlerTest.java
  src/test/resources/callback/playbackAudioVideoEvidenceCallback.json
  src/test/resources/callback/playbackAudioVideoEvidenceMideventCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2237

#2234 SSCS-9341 - BenefitType not found
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/admin/RestoreCasesService2.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2234

#2241 pr-values:ccd sscs 9462 added ccd chart
  Jenkinsfile_CNP
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2241

#2252 SSCS-9480: Unable to Archive "Other Benefit" cases on multi-draft page
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraftTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2252

#2242 SSCS-9434 - CCD UI – Change post actions when granting confidentiality
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confidentialityrequest/ReviewConfidentialityRequestAboutToSubmitHandler.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confidentialityrequest/ReviewConfidentialityRequestAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2242

#2266 fix for CVE-2021-28170
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/TribunalsCaseApiApplication.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/MidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellant/DeathOfAppellantAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/elementsdisputed/ElementsDisputedMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/esa/EsaIssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/pip/PipIssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/uc/UcIssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerTestBase.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2266

#2261 SSCS-9508 - BSPS - dwpAddress JSON
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2261

#2260 sscs 9477 return office for all types other than pip
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2260

#2264 SSCS-9506 - Change Benefit name to Jobseeker’s Allowance (JSA)
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2264

#2278 ignore low warnings
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2278

#2269 SSCS-9502: Change Benefit name from Pension Credits to Pension Credit
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2269

#2248 SSCS-9244 Issue direction refuse hearing recording
  build.gradle
  src/IntegrationTests/resources/config/application_it.properties
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocReferralReason.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionTypeItemList.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2248

#2258 SSCS-9421: IDAM Consumer PACT test
  dependency-check-suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/idam/IdamApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/idam/IdamConsumerTestBase.java
  src/contractTest/resources/config/application_contract.properties
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2258
