Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2021-05, with the labels that each got.

#2013 dependency-check-suppressions
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2013

#1992 setting hasUnprocessedAudioVideoEvidence flag in multiple events
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/supplementaryresponse/SupplementaryResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/AudioVideoEvidenceUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/supplementaryresponse/SupplementaryResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/AudioVideoEvidenceUtilTest.java
  src/test/resources/callback/uploaddocument/expectedUploadDocumentFECallbackResponse.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1992

#1985 SSCS-8969:CCD UI - Mark now valid cases as digital
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validappeal/ValidateAppealAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validappeal/ValidateAppealAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1985

#1981 SSCS-8007 - Enhanced confidentiality
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CreateBundleIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confidentialityrequest/ReviewConfidentialityRequestAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/ConfidentialityRequestUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/ConfidentialityRequestUtilTest.java
  src/test/resources/callback/createBundleCallbackWithEnhancedConfidentialityEditedDocuments.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1981

#1983 SSCS-8967:Handle error for unreadable and encrypted PDF for Action further evidence
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/pdf/PdfState.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/AbstractFooterService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/domain/wrapper/pdf/PdfStateTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FooterServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1983

#1982 SSCS-8900 - Attendance Allowance - Airlookup, DWP addresses & Robot Configuration
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1982

#2031 Suppress false positive CVE-2020-7791 since it is a C# CVE
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2031

#1995 sscs 8879 update common
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1995

#2036 SSCS-9087 Improve functional tests for non save and return route
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AbstractEventIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/CcdIdGenerator.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SyaJsonMessageSerializer.java
  src/test/resources/json/sya_with_benefit_type.json
  src/test/resources/sya/allDetailsNonSaveAndReturn.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnNoMrnDateCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnWithInterlocCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2036

#2035 sscs 9066 moved to jitpack
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2035

#1987 SSCS-8997 Bundle Addition for Send to interloc Judge
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1987

#1991 SSCS-8998:Send to interloc TCW – adding docs to bundle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1991

#2045 Update test names
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2045

#2002 SSCS-8870:CCD UI – Implement DWP due date field
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminsendtowithdwp/AdminSendToWithDwpAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/DateTimeUtils.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminsendtowithdwp/AdminSendToWithDwpAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2002

#2032 SSCS-9129:Sonar security hotspot fix
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeQuestionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EsaDecisionNoticeQuestionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/UcDecisionNoticeQuestionService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/EsaDecisionNoticeQuestionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/UcDecisionNoticeQuestionServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2032

#2044 sscs 8160 added missing interloc reason
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocReferralReason.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2044

#2019 SSCS-8920 Set show work capability page field in decision notice midevent handlers
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenWriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenWriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2019

#2028 Sscs 9124 add wca
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/ElementsDisputed.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/elementsdisputed/ElementsDisputedMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/elementsdisputed/ElementsDisputedMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2028

#2029 SSCS-9117 Reverse some flags set during review confidentiality handler
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confidentialityrequest/ReviewConfidentialityRequestAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confidentialityrequest/ReviewConfidentialityRequestAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2029

#2020 SSCS-9079:Carer's Allowance (SYA) - Update the FL_dwpRegionalCentre l…
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2020

#2059 Suppress warning
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2059

#2050 SSCS-9094 - migrate annotation validation
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/MidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/DateTimeUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/MidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/DateTimeUtilsTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2050

#2057 SSCS-9165 Playback audio video evidence event
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/PlaybackAudioVideoEvidenceIt.java
  src/e2e/resources/handlers/playbackaudiovideo/playbackAudioVideoEvidenceAboutToStartCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/playbackaudiovideo/PlaybackAudioVideoActionHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/playbackaudiovideo/PlaybackAudioVideoEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/playbackaudiovideo/PlaybackAudioVideoEvidenceMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/playbackaudiovideo/PlaybackAudioVideoEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/playbackaudiovideo/PlaybackAudioVideoEvidenceMidEventHandlerTest.java
  src/test/resources/callback/playbackAudioVideoEvidenceCallback.json
  src/test/resources/callback/playbackAudioVideoEvidenceMideventCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2057

#2062 SSCS-8906 Bereavement benefit DWP mappings
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2062

#2063 SSCS-9184:Validate appeal Dwp regional centre
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validappeal/ValidateAppealAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validappeal/ValidateAppealAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2063

#2037 added about to start handler for upload response
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2037

#2066 SSCS-9041 - CCD UI – Validate DWP originating and presenting office for the 'Response reviewed' event
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/HmctsResponseReviewedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToStartTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2066

#2060 added null check for benefit type and nino when filtering linked cases
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2060

#2038 SSCS-9122 Upgrade Common
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2038

#2053 Sscs 9092 add note when changing welsh preference
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/updatewelshpreference/UpdateWelshPreferenceAboutToSubmitHandlerFunctionalTest.java
  src/e2e/resources/handlers/updatewelshpreference/updateWelshPreferenceAboutToSubmitCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addnote/AddNoteAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatewelshpreference/UpdateWelshPreferenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatewelshpreference/UpdateWelshPreferenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2053

#2056 SSCS-9187: Appointee should be shown as attending hearing on decision…
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueNoticeHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueNoticeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueNoticeHandlerTestBase.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2056
