Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2021-09, with the labels that each got.

#2284 SSCS-9432 - Postponement request
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocReferralReason.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/PostponeRequestTemplateBody.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2284

#2271 Sscs 9433 postponement req
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2271

#2308 Revert "Sscs 9433 postponement req"
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2308

#2309 Revert "SSCS-9432 - Postponement request"
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocReferralReason.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/PostponeRequestTemplateBody.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2309

#2307 SSCS-9567: P1 – Flag to tell users that a case has been affected by t…
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2307

#2298 SSCS-9558:Warning for same letter in bundle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2298

#2312 Sscs 9438 postponement send to judge
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionposteponementrequest/ActionPostponementRequestTest.java
  src/e2e/resources/handlers/actionpostponementrequest/actionPostponementRequestAboutToSubmitCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2312

#2324 Add log statement
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2324

#2325 SSCS-9554 Add log
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2325

#2320 Sscs 9439 action postponement request event grant postponement
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionposteponementrequest/ActionPostponementRequestTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2320

#2323 Sscs 9440 action postponement request event refuse
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2323

#2326 SSCS-9584 - Update ccd-e2e test framework to generate test data with random NINO, MRN-Date
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CreateCaseController.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/SyaController.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CreateCaseControllerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2326

#2316 SSCS-9560 Update broken AV doc link in bundle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2316

#2262 SSCS-9374: Upload Hearing Recording Event - Overwrite Existing Record…
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/processhearingrecordingrequest/ProcessHearingRecordingRequestAboutToSubmitHandlerFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/requesthearingrecording/RequestHearingRecordingAboutToStartHandlerFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/requesthearingrecording/RequestHearingRecordingAboutToSubmitHandlerFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/uploadhearingrecording/UploadHearingRecordingAboutToSubmitHandlerTest.java
  src/e2e/resources/handlers/processhearingrecordingrequest/processHearingRecordingRequestAboutToSubmitCallback.json
  src/e2e/resources/handlers/requesthearingrecording/requestHearingRecordingAboutToSubmitCallback.json
  src/e2e/resources/handlers/requesthearingrecording/requestHearingRecordingStartCallback.json
  src/e2e/resources/handlers/uploadhearingrecording/hearingRecordingsCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processhearingrecordingrequest/ProcessHearingRecordingRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/citizenrequest/CitizenRequestService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/processhearingrecordingrequest/ProcessHearingRecordingRequestService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processhearingrecordingrequest/ProcessHearingRecordingRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processhearingrecordingrequest/ProcessHearingRecordingRequestMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requesthearingrecording/RequestHearingRecordingAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/citizenrequest/CitizenRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/processhearingrecordingrequest/ProcessHearingRecordingRequestServiceTest.java
  src/test/resources/tya/hearingRecordingCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2262

#2334 SSCS-9611-ignore-security-scan-issues
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2334

#2336 SSCS-9561- change event name
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/processhearingrecordingrequest/ActionHearingRecordingRequestAboutToSubmitHandlerFunctionalTest.java
  src/e2e/resources/handlers/actionhearingrecordingrequest/actionHearingRecordingRequestAboutToSubmitCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/actionhearingrecordingrequest/ActionHearingRecordingRequestService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/processhearingrecordingrequest/ActionHearingRecordingRequestServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2336

#2327 SSCS-9335 - Time set to 12am for Statement upload
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2327

#2299 SSCS-9348 - Keep environment specific branches in sync with master
  Jenkinsfile_CNP
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2299

#2097 SSCS-9042 - CCD UI – Validation within the Manage DWP document event
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/managedwpdocuments/ManageDwpDocumentsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/managedwpdocuments/ManageDwpDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/managedwpdocuments/ManageDwpDocumentsAboutToStartTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/managedwpdocuments/ManageDwpDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2097
