Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2021-06, with the labels that each got.

#2083 Verify we have removed enough of the suppressions
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2083

#2046 SSCS-8854 Generate bundle without DWP error being seen
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2046

#2085 Sscs 9181 admit av evidence with statement
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/EvidenceUploadTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2085

#2075 SSCS-8820 - JSA Dwp Office Address
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2075

#2076 SSCS-9151 Issue generic letter to specific party
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ReissueFurtherEvidenceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/OriginalSenderItemList.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requestinfo/RequestInfoIncompleteApplicationAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requestinfo/RequestInfoIncompleteApplicationAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requestinfo/RequestInfoIncompleteApplicationAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2076

#2104 SSCS-9288 change url to an id
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/TyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocumentDownloadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/builder/TrackYourAppealJsonBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DocumentDownloadServiceTest.java
  src/test/resources/tya/adjournmentNoticeCaseMya.json
  src/test/resources/tya/audioVideoEvidenceMya.json
  src/test/resources/tya/finalDecisionCaseMya.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2104

#2091 SSCS-9182 Statement of evidence PDF included in bundle
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ResponseEventsAboutToSubmit.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/bundle/BundleAudioVideoPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/AudioVideoEvidenceUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/bundle/BundleAudioVideoPdfServiceTest.java
  src/test/resources/callback/createBundleCallbackWithAudioVideoEvidence.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2091

#2081 Sscs 9156 dont set other document type
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2081

#2106 Sscs 9161 sc conflict logs
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2106

#1931 Ta 593 consumer contract test
  Jenkinsfile_CNP
  README.md
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/CcdConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/CcdConsumerTestBase.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/ReadForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/ReadForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/SearchCasesConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/SearchForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/StartEventForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/StartEventForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/StartForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/StartForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/SubmitEventForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/SubmitEventForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/SubmitForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/SubmitForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/util/ObjectMapperTestUtil.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/util/PactDslBuilderForCaseDetailsList.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/util/PactDslFixtureHelper.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/util/ResourceLoader.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/idam/IdamConsumerTest.java
  src/contractTest/resources/config/application_contract.properties
  src/contractTest/resources/json/base-case.json
  src/contractTest/resources/json/case.json
  src/contractTest/resources/json/esQuery.json
  src/contractTest/resources/json/sscs-map.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1931

#2123 SSCS-9293 Fix AV bug in upload fe event
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2123

#2112 SSCS-9292 Show error when rip1 uploaded but no av evidence
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2112

#2118 SSCS-9304 set interloc review state to reviewByJudge when 'Send to In…
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2118

#2117 SSCS-9290 Use shouldBundleIncludeDocLink to build rip1 in bundle
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/bundle/BundleAudioVideoPdfServiceTest.java
  src/test/resources/callback/createBundleCallbackWithAudioVideoEvidence.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2117

#2129 Logging for Add note handler
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addnote/AddNoteAboutToSubmitHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2129

#2086 SSCS-8957 Maternity allowance
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2086

#2131 Fix security scan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2131

#2092 SSCS-9222: Select hearing for Upload hearing recording event
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/uploadhearingrecording/UploadHearingRecordingAboutToStartHandlerTest.java
  src/e2e/resources/handlers/uploadhearingrecording/hearingsAttendedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/DateTimeUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/DateTimeUtilsTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2092

#2134 SSCS-9331 - Address fortify backend issues
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/generatecoversheet/GenerateCoversheetAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2134

#2136 SSCS-9331-Fortify Issues part 2
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/generatecoversheet/GenerateCoversheetAboutToStartHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2136

#2146 Suppres low alert
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2146

#2130 SSCS-9329 Response reviewed check interloc reason is none bug fix
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addnote/AddNoteAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addnote/AddNoteAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2130

#2151 SSCS-9223: Backend change to combine upload document events for MYA -…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/controller/EvidenceUploadController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/TempEvidenceUploadService.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2151

#2132 SSCS-9318: Decision Notice - Generate notice 'Yes' to 'No' route not …
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2132

#2108 SSCS-9231: Upload hearing recording page
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/audiovideo/AudioVideoState.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/AudioVideoEvidenceUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadhearingrecording/UploadHearingRecordingMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2108

#2135 SSCS-9303 Do not show error if further info missing as cannot be empty
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2135

#2140 SSCS-9305 Panel doctor specialism field
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/pdf/StorePdfServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2140

#2156 Suppress low warnings
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2156

#2133 SSCS-9317 Summary of outcome getting cleared when editing from summary
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionMidEventValidationHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenWriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2133

#2119 SSCS-9322-handle old url checking
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocumentDownloadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DocumentDownloadServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2119

#2162 resolve CVE-2021-30468
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2162

#2161 SSCS-9327 Process AV evidence integration test
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ProcessAudioVideoIt.java
  src/test/resources/callback/processAudioVideoEvidenceCallback.json
  src/test/resources/callback/processAudioVideoEvidenceWithDueDateCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2161

#2157 SSCS-9340 - CCD UI – Action manually has documents sent to bulk print
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2157

#2158 SSCS-9336 NPE fix for empty document names
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2158

#2078 sscs 9105 return booleans rather than Yes/No
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionHearingOptionsFaceToFace.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionHearingOptionsTelephone.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionHearingOptionsVideo.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraftTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2078

#2160 SSCS-9330 Fix directions due date error fix
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2160

#2099 MVP: Tech debt - Extend helm charts to add CCD reference
  Jenkinsfile_CNP
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2099

#2169 stop creating CCD containers in staging
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2169

#2138 SSCS-9274 - Mutation tests
  Jenkinsfile_nightly
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2138

#2178 update security script
  security.sh
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2178
