Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2021-04, with the labels that each got.

#1937 SSCS-9022 Restore missing fields for draft case issue
  dependency-check-suppressions.xml
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/CcdMidEventControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocServiceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/isscottish/IsScottishHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/admin/RestoreCasesService2.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/main/resources/csv/restore-cases1-demo.csv
  src/main/resources/csv/restore-cases1.csv
  src/main/resources/csv/restore-cases10.csv
  src/main/resources/csv/restore-cases11.csv
  src/main/resources/csv/restore-cases2-demo.csv
  src/main/resources/csv/restore-cases2.csv
  src/main/resources/csv/restore-cases3-demo.csv
  src/main/resources/csv/restore-cases3.csv
  src/main/resources/csv/restore-cases4.csv
  src/main/resources/csv/restore-cases5.csv
  src/main/resources/csv/restore-cases6.csv
  src/main/resources/csv/restore-cases7.csv
  src/main/resources/csv/restore-cases8.csv
  src/main/resources/csv/restore-cases9.csv
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/RestoreCasesService2Test.java
  src/test/resources/csv/restore-cases-test.csv
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1937

#1936 updated common
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1936

#1940 Split csv into smaller batches
  src/main/resources/csv/restore-cases10.csv
  src/main/resources/csv/restore-cases12.csv
  src/main/resources/csv/restore-cases13.csv
  src/main/resources/csv/restore-cases14.csv
  src/main/resources/csv/restore-cases15.csv
  src/main/resources/csv/restore-cases16.csv
  src/main/resources/csv/restore-cases17.csv
  src/main/resources/csv/restore-cases18.csv
  src/main/resources/csv/restore-cases4.csv
  src/main/resources/csv/restore-cases5.csv
  src/main/resources/csv/restore-cases6.csv
  src/main/resources/csv/restore-cases7.csv
  src/main/resources/csv/restore-cases8.csv
  src/main/resources/csv/restore-cases9.csv
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1940

#1941 Revert "SSCS-8894:Carer's Allowance - Airlookup, DWP addresses & Robo…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1941

#1944 Bump pdf common 1.4.31
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1944

#1926 SSCS-8976 Clear existing bundles on bundle creation
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1926

#1916 SSCS-8977 Remove edited bundle callback handler
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateEditedBundleAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateEditedBundleAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1916

#1954 SSCS-9046 - fix DC failures
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1954

#1946 SSCS-9011, 9013 Admit audio evidence and validate due date
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/MidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoActionDynamicListItems.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/MidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1946

#1951 SSCS-9017 Default audio video empty file name
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/resources/callback/uploaddocument/uploadAudioVideoDocumentFECallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1951

#1923 SSCS-8855 Update Common and PDF-Email
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1923

#1935 SSCS-8971: Process A/V Evidence Event - Send to Admin/Judge - Add Not…
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueNoticeHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addnote/AddNoteAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenWriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionPreviewDecisionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/UserDetailsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addnote/AddNoteAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/esa/EsaIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/pip/PipIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/uc/UcIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/esa/EsaWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/gen/GenWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/pip/PipWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/uc/UcWriteFinalDecisionPreviewDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/UserDetailsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1935

#1952 sscs 8973 remove edited bundle for phme rejected
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1952

#1970 SSCS-9069 Validate direction due date as part of process audio video …
  build.gradle
  src/e2e/resources/handlers/processaudiovideo/processAudioVideoEvidenceAboutToSubmitCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/MidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/MidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1970

#1914 SSCS-7602-Exception logged during .docx .rtf evidence upload
  src/main/java/uk/gov/hmcts/reform/sscs/controller/EvidenceManagementController.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/EvidenceManagementControllerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1914

#1909 SSCS-8790 Set DWP Offices for Carers Allowance
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1909

#1938 SSCS-9008: A/V Evidence: Set Interlocutory Referral Reason
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocReferralReason.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/supplementaryresponse/SupplementaryResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/supplementaryresponse/SupplementaryResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1938

#1960 SSCS-9033 - CCD UI – Footer service – Sender should show as footer
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/OriginalSenderItemList.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1960

#1961 SSCS-9031 Carers Allowance SSCS1 form camel case fix
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SscsPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/WelshBenefitTypeTranslator.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/service/SscsPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/WelshBenefitTypeTranslatorTest.java
  src/test/resources/sya/allDetailsFromDraft.json
  src/test/resources/sya/allDetailsFromDraftCcd.json
  src/test/resources/sya/allDetailsFromDraftNoMrnDateCcd.json
  src/test/resources/sya/allDetailsFromDraftWithInterlocCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1961

#1959 SSCS-8996 - CCD UI – Stop setting the DWP state when performing “Upload document FE” and fix for “Action further evidence”
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/resources/callback/uploaddocument/expectedUploadDocumentFECallbackResponse.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1959

#1958 SSCS-9016 Process Audio DropDown Fix
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/processaudiovideo/ProcessAudioVideoEvidenceAboutToStartHandlerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoActionHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1958

#1972 SSCS-9050 - DLA - Update Welsh SSCS1 Form
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/SscsPdfService.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1972

#1973 SSCS-9002 Remove unedited bundle config
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CreateBundleIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1973

#1978 SSCS-8766 Attendance Allowance benefit type
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1978

#1962 SSCS-8995 - HMCTS evidence
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/OriginalSenderItemList.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1962

#1980 SSCS-8890 Add missing Hearing Sub Type to draft response
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraft.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionHearingOptions.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionHearingOptionsFaceToFace.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionHearingOptionsTelephone.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionHearingOptionsVideo.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionHearingSelectOptions.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraftTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1980

#1990 SSCS-9100: Investigate Fortify vulnerabilities
  hub.Dockerfile
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CreateCaseController.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1990

#1965 SSCS-9015:Investigate how to play mp3 and mp4 videos in browser from CCD
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1965

#1976 SSCS-7882: CCD UI - Unlink Related Cases
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/removelinkforcase/RemoveLinkForCaseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/removelinkforcase/RemoveLinkForCaseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1976

#1989 Sscs 9103 null pointer fix
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1989

#1915 Sscs 6974 response reviewed improvements
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocReferralReason.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addnote/AddNoteAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addnote/AddNoteAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1915

#1934 added about to start and submit handler for generate coversheet event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/generatecoversheet/GenerateCoversheetAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/generatecoversheet/GenerateCoversheetAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/generatecoversheet/GenerateCoversheetAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/generatecoversheet/GenerateCoversheetAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-1934
