Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2022-10, with the labels that each got.

#2963 Moved suppressions to november
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2963

#2948 Feature/sscs 10841 epims id court venue
  build.gradle
  dependency-check-suppressions.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CaseUpdatedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/client/RefDataClientIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/client/RefDataClientTest.java
  src/e2e/resources/config/application_refdata_test.properties
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2948

#2977 SSCS-10959 ActionPostponementRequestTest Fix
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionposteponementrequest/ActionPostponementRequestTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2977

#2978 Feature/sscs 10844 fix preview traefik
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2978

#2979 Suppress jackson databind
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2979

#2956 SSCS-10939 - Unable to submit Update to Reasonable Adjustments Event
  src/main/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtil.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2956

#2981 SSCS-10968 cve suppression
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2981

#2983 SSCS-10925 Add wiremock stub, fetch secrets automatically.
  build.gradle
  src/cftlib/java/uk/gov/hmcts/reform/sscs/AdditionalComposeServiceRunner.java
  src/cftlib/resources/docker/cft-lib-ref-data-wiremock.yml
  src/cftlib/resources/scripts/start.sh
  src/cftlib/resources/wiremock/reference-data/mappings/court-venues-mapping.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2983

#2986 Suppress false positives
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2986

#2988 SSCS-10927 chmod start.sh
  src/cftlib/resources/scripts/start.sh
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2988

#2980 SSCS-10985 CVE Fix Commons Bump
  build.gradle
  dependency-check-suppressions.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2980

#2944 SSCS-10914 Commons Decoupling
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/service/DecisionNoticeQuestionService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LanguageService.java
  src/main/resources/reference/esa-decision-notice-questions.json
  src/main/resources/reference/languages.json
  src/main/resources/reference/pip-decision-notice-questions.json
  src/main/resources/reference/uc-decision-notice-questions.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2944

#2973 SSCS-10895 remove PO attending from override fields
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ListAssistHearingMessageHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/UpdateListingRequirementsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2973

#3010 SSCS-10912 - OWASP Zap timestamp suppression
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3010

#3012 Update values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3012

#3016 Renovate PR Groups
  .github/renovate.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3016

#2918 SSCS-9772 - use uploaded document when writing adjournment notice
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2918

#3025 SSCS-11063 Use Renovate Shared Preset
  .github/renovate.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3025
