Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2022-08, with the labels that each got.

#2878 suppress zap false positives
  audit.json
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2878

#2859 SSCS-10750 Do not send existing GAPs cases to list assist.
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/readytolist/ReadyToListAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ResendToGapsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/readytolist/ReadyToListAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ResendToGapsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2859

#2875 Bump ccd chart 8.0.17
  charts/sscs-tribunals-api/Chart.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2875

#2886 Add elastic name override
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2886

#2880 SSCS-10805-update-jar-version
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2880

#2888 Sscs 10315
  build.gradle
  docker-compose.yml
  settings.gradle
  src/cftlib/java/uk/gov/hmcts/reform/sscs/CftlibConfig.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2888

#2893 SSCS-10315 Fix roles.
  src/cftlib/java/uk/gov/hmcts/reform/sscs/CftlibConfig.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2893

#2894 SSCS-10773: commons version bump
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2894

#2896 SSCS-10315 Add document environment variables.
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2896

#2910 Create dedicated test superuser.
  src/cftlib/java/uk/gov/hmcts/reform/sscs/CftlibConfig.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2910

#2911 Restore cftlib roles
  src/cftlib/java/uk/gov/hmcts/reform/sscs/CftlibConfig.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2911

#2908 Add backstage configuration file
  catalog-info.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2908

#2723 SSCS-9874-Control-Number
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DwpUploadResponseIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ReissueFurtherEvidenceIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UploadWelshDocumentsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/fehandledoffline/FeHandledOfflineHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ResponseEventsAboutToSubmit.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpchallengevalidity/DwpChallengeValidityAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToStartTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2723

#2915 SSCS-10857 Add new environment variables, bump cft lib.
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2915

#2899 SSCS-10841 Use epims ID to resolve court venue.
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CaseUpdatedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/client/RefDataClientIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2899

#2917 Revert "SSCS-10841 Use epims ID to resolve court venue."
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CaseUpdatedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/client/RefDataClientIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2917
