Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2022-11, with the labels that each got.

#3042 extends expired suppressions until Nov 8th
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3042

#3043 bumps apache tomcat to 9.0.68
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3043

#2951 SSCS-10924 Change to tf managed secret.
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2951

#2976 SSCS-10542 Set Aside
  .gitignore
  build.gradle
  lombok.config
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DecisionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DirectionIssuedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionposthearingapplication/ActionPostHearingApplicationAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionposthearingapplication/ActionPostHearingApplicationMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionposthearingapplication/ActionPostHearingApplicationSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/generatecoversheet/GenerateCoversheetAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/generatecoversheet/GenerateCoversheetAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandler.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionposthearingapplication/ActionPostHearingApplicationAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionposthearingapplication/ActionPostHearingApplicationMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionposthearingapplication/ActionPostHearingApplicationSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/generatecoversheet/GenerateCoversheetAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/generatecoversheet/GenerateCoversheetAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournmentnoticewelsh/IssueAdjournmentNoticeWelshAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandlerTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FooterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/WelshFooterServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2976

#2957 SSCS-10950 Add list assist create hearing for adjournment
  dependency-check-suppressions.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ccd/CcdMidEventControllerFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/adjourncase/AdjournCaseAboutToSubmitHandlerTest.java
  src/e2e/resources/handlers/adjourncase/adjournCaseGapsCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ListAssistHearingMessageHelper.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ListAssistHearingMessageHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/PreviewDocumentServiceTest.java
  src/test/resources/callback/adjournCaseValidSubmissionWithNullGeneratedDate.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2957

#3051 SSCS-11169 - new ignore entry for audit.json
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3051

#3040 Sscs 10954 local queue solution
  build.gradle
  src/cftlib/resources/docker/cft-lib-activemq.yml
  src/cftlib/resources/wiremock/reference-data/mappings/hmc-other-case-hearings.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/HearingServiceBusClientConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/JmsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/JsonMessageConverter.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/servicebus/HearingMessagingServiceFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/servicebus/JmsMessagingService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/servicebus/SessionAwareServiceBusMessagingService.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/resendtogaps/ListAssistHearingMessageHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/servicebus/JmsMessagingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/servicebus/hearings/HearingMessagingServiceFactoryTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3040

#2955 SSCS-10853 Hearing Postponed Event Change
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/postpone/PostponeHearingHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/PostponeHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/PostponeHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SyaJsonMessageSerializer.java
  src/test/resources/sya/postponeHearingCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2955

#3030 SSCS-10923: clerk can now create a bundle without FTA documents.
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToStartEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3030
