Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2022-01, with the labels that each got.

#2507 suppress jakarta.el
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2507

#2485 Upgrade log4j to 2.16.0
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2485

#2499 SSCS-9927 - Process Reasonable Adjustments
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processreasonableadjustment/ProcessReasonableAdjustmentAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/processreasonableadjustment/ProcessReasonableAdjustmentAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2499

#2496 SSCS-9928 - Other party tab fix for reasonable adjustments
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/subscriptionupdated/SubscriptionUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatereasonableadjustment/UpdateReasonableAdjustmentAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/subscriptionupdated/SubscriptionUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatereasonableadjustment/UpdateReasonableAdjustmentAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2496

#2493 SSCS-9916 - Show Original Sender on Documents Tab
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2493

#2513 SSCS-9870: Child Support - Reissue Further Evidence Event : Send evid…
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2513

#2511 Sscs 9918 other party
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/PartiesOnCaseUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2511

#2501 sscs 9893 changed to error
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2501

#2509 Add Issue final decision event type to callback
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dormant/DormantEventsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dormant/DormantEventsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2509

#2480 Sscs 9826 Child Support - MYA: Hearing Recordings
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ActionHearingRecordingIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/actionhearingrecordingrequest/ActionHearingRecordingRequestService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/citizenrequest/CitizenRequestService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionhearingrecordingrequest/ActionHearingRecordingRequestMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/citizenrequest/CitizenRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/processhearingrecordingrequest/ActionHearingRecordingRequestServiceTest.java
  src/test/resources/tya/hearingRecordingCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2480

#2536 Functional test for SSCS5
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SyaJsonMessageSerializer.java
  src/test/resources/sya/allDetailsNonSaveAndReturnCcdSscs5.json
  src/test/resources/sya/allDetailsNonSaveAndReturnSscs5.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2536

#2506 SSCS-9881 Change PHME to PHE
  Jenkinsfile_CNP
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DwpUploadResponseIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ReviewPhmeRequestIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/InterlocReferralReason.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminsendtowithdwp/AdminSendToWithDwpAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reviewphme/ReviewPhmeAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addnote/AddNoteAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminsendtowithdwp/AdminSendToWithDwpAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/CreateBundleAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/reviewphme/ReviewPhmeAboutToSubmitHandlerTest.java
  src/test/resources/callback/dwpUploadResponsePhe.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2506

#2523 SSCS-9842:SSCS5 Update other party data event
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UpdateSscs5OtherPartyDataIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandlerTest.java
  src/test/resources/callback/updateOtherPartySscs5Callback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2523

#2547 Revert "Update Helm release redis to v15.7.6"
  charts/sscs-tribunals-api/Chart.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2547

#2518 SSCS-9961 Set HMCTS Service Id in supplementary data
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2518

#2516 Sscs 9945 wa fields
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/resources/sya/allDetailsFromDraftCcd.json
  src/test/resources/sya/allDetailsFromDraftNoMrnDateCcd.json
  src/test/resources/sya/allDetailsFromDraftWithInterlocCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcdChildSupport.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcdSscs5.json
  src/test/resources/sya/allDetailsNonSaveAndReturnNoMrnDateCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnWithInterlocCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2516

#2552 sscs 9945 remove ignore from tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2552

#2541 SSCS-9860 SSCS5 - Upload response event
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpDocumentService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2541

#2551 SSCS-9841 Robotics for sscs5
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2551

#2550 SSCS-10004:Update hearing type for non SSCS1 case
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UpdateOtherPartyDataIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UpdateSscs5OtherPartyDataIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandlerTest.java
  src/test/resources/callback/updateOtherPartySscs5Callback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2550

#2490 SSCS-9599: MYA – Split out document and audio/visual evidence uploads
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/EvidenceUploadTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/mya/SscsMyaBackendRequests.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/EvidenceUploadController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/EvidenceUploadControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/pdf/StoreAppellantStatementServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-2490
