Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2023-10, with the labels that each got.

#3442 Dtspo 14838 add postgres dbs
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3442

#3467 Tribs: add yes check for interpreterRequired
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3467

#3477 Tribs: add null check
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3477

#3479 SSCS-12065 fix task processAudioVideoEvidence
  build.gradle
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/managewelshdocuments/ManageWelshDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentWorkAllocationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/AddedDocumentsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/managewelshdocuments/ManageWelshDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentWorkAllocationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/DwpActionWithdrawalHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3479

#3393 SSCS-11363-Add-Address-Validation
  build.gradle
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/handlers/uploaddocument/uploadDocumentFECallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/resources/callback/caseUpdated.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3393

#3484 Revert "SSCS-11363-Add-Address-Validation"
  build.gradle
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/handlers/uploaddocument/uploadDocumentFECallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/resources/callback/caseUpdated.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3484

#3478 revert preview db changes
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/config/HttpClientConfiguration.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3478

#3488 Suppress vulnerabilities
  config/owasp/suppressions.xml
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3488

#3464 update write final decision handler
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3464

#3457 Tribs: refactor to update hearing channel in update listing requirements
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3457

#3461 Sscs 11998 demo testing
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerMainTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTestBase.java
  src/test/resources/callback/adjournCaseGeneratedFaceToFaceWhenCaseNotListedStraightAwayWithoutDirectionsMade.json
  src/test/resources/callback/adjournCaseGeneratedFaceToFaceWithInterpreterNotRequiredAndLanguageSet.json
  src/test/resources/callback/adjournCaseGeneratedFaceToFaceWithInterpreterRequiredAndLanguageSet.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3461

#3491 SSCSCI-12
  audit.json
  charts/sscs-tribunals-api/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3491
