Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2023-12, with the labels that each got.

#3551 SSCS-12212 Pre Hearing work type
  build.gradle
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  config/owasp/suppressions.xml
  src/IntegrationTests/resources/config/application_it.properties
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/mya/CitizenLoginTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
  src/functionalTest/resources/config/application_functional.properties
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueNoticeHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdClient.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/esa/EsaIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/pip/PipIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/uc/UcIssueFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdClientTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3551

#3507 New sscs-common version for QA
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3507

#3559 fix ES match_all query
  src/main/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdClient.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3559

#3565 SSCS-12223 Testing
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3565

#3568 CitizenLoginTest fix
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/mya/CitizenLoginTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3568

#3512 Sscs 12091 update sor notice
  build.gradle
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/IntegrationTests/resources/config/application_it.properties
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writestatementofreasons/WriteStatementOfReasonsMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writestatementofreasons/WriteStatementOfReasonsPreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/NoticeIssuedTemplateBody.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writestatementofreasons/WriteStatementOfReasonsMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3512

#3578 SSCS-12274 testing
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3578

#3577 Updating suppressions
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3577
