Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2023-04, with the labels that each got.

#3050 SSCS-11166: Initial implementation of bundle/stitching for local dev setup
  build.gradle
  src/IntegrationTests/resources/config/application_it.properties
  src/cftlib/resources/docker/cft-lib-em-stack.yml
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3050

#3223 fix suppression dates
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3223

#3234 sscs-11550 Fixing pipeline
  Dockerfile
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3234

#3237 Removal secuirty.sh file
  security.sh
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3237

#3166 SSCS-11342 updates case with Dormant event when set aside refused
  build.gradle
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewSubmittedHandlerTest.java
Labels: ns:sscs, prd:sscs, add-or-update, rel:sscs-tribunals-api-pr-3166

#3129 SSCS-10759 - Add Set aside application document from appellant/representative to documents tab
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3129

#3145 SSCS-10544: Added the changes for set aside grant flow
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3145

#3246 updates suppressions
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3246

#3189 Sscs 10984 creating new body content for correction
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/util/PdfRequestUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingrequest/PostHearingRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/PdfRequestUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3189

#3176 Sscs 10576 admin can upload or set a doc type as correction request
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/FurtherEvidenceActionDynamicListItems.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3176

#3250 SSCS-11614 adds missing feature flags for post hearings
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3250

#3210 SSCS-11444 - further evidence original sender regex fix
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3210

#3253 add log to AFE submit handler
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3253

#3254 further evidence original sender regex fix
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3254

#3117 SSCS-10978: Initial implementation of Issue generic letter functionality
  build.gradle
  src/cftlib/java/uk/gov/hmcts/reform/sscs/CftlibConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitDraftTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuegenericletter/IssueGenericLetterAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuegenericletter/IssueGenericLetterAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuegenericletter/IssueGenericLetterMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/requestinfo/RequestInfoIncompleteApplicationAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/SyaController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/PartiesOnCaseUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuegenericletter/IssueGenericLetterAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuegenericletter/IssueGenericLetterAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuegenericletter/IssueGenericLetterMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3117
