Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2023-05, with the labels that each got.

#3252 SSCS-10523 bump and add SOR doc type
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingrequest/PostHearingRequestAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingrequest/PostHearingRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingrequest/PostHearingRequestMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingrequest/PostHearingRequestSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validsendtointerloc/ValidSendToInterlocMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FooterDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FooterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/UserDetailsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/PdfRequestUtil.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingrequest/PostHearingRequestMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/UserDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/PdfRequestUtilTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3252

#3261 add flag around populating action further evidence list SSCS-11667
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/FurtherEvidenceActionDynamicListItems.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3261

#3260 SSCS-11656 - Fix Hearings Tab When First Hearing is Oral On Case
  Dockerfile
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3260

#3256 SSCS-11601 - force to add other parties during upload response for sscs2 cases
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/OtherPartyDataUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3256

#3269 renovate 2023-05-09
  build.gradle
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:sscs, prd:sscs, no-changes, rel:sscs-tribunals-api-pr-3269

#3274 revert app insights
  Dockerfile
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3274

#3248 Fix for getting most recent generateDate
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandlerMainTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3248

#3283 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3283

#3276 new branch for preview testing
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3276

#3289 Preview db init fix
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3289

#3211 s2s key from secret fetch for admin-web added
  Jenkinsfile_CNP
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/cftlib/resources/wiremock/hmc-la/mappings/judicial-api-judges-search.json
  src/cftlib/resources/wiremock/reference-data/mappings/judicial-api-judges-search.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3211
