Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2024-08, with the labels that each got.

#3919 Added logging for feign exception to capture validation/warning from ccd callback
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedSubmittedHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3919

#3806 Sscssi 161 v2
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/controller/CitizenRequestControllerIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/linkcase/LinkCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/IssueDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/citizenrequest/CitizenRequestService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerV2Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/linkcase/LinkCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/IssueDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/citizenrequest/CitizenRequestServiceTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, enable_hearings, rel:sscs-tribunals-api-pr-3806

#3849 SSCSCI-860: Add Associate case handler
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/associatecase/AssociateCaseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/associatecase/AssociateCaseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3849

#3683 SSCSCI-792
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3683

#3905 SSCSCI-957 dependency check bump
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3905

#3928 Revert "SSCSSI-352 | Fix prefetching issue with service bus topic message listeners"
  src/main/java/uk/gov/hmcts/reform/sscs/config/MessagingConfig.java
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3928

#3927 Use ignore warning field from case data to determine if the warning has to be ignored
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/readytolist/ReadyToListAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/readytolist/ReadyToListAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3927

#3929 "SSCSSI-352 | Fix prefetching issue with service bus topic message listeners"
  src/main/java/uk/gov/hmcts/reform/sscs/config/MessagingConfig.java
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3929

#3932 SSCSSI-225: upgraded commons
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3932

#3900 changes to fix local setup
  .env
  Dockerfile
  README.md
  build.gradle
  src/cftlib/resources/docker/cft-lib-activemq.yml
  src/cftlib/resources/docker/cft-lib-doc-assembly.yml
  src/cftlib/resources/docker/cft-lib-doc-stack.yml
  src/cftlib/resources/docker/cft-lib-em-stack.yml
  src/cftlib/resources/scripts/start.sh
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/mya/BaseFunctionTest.java
  src/functionalTest/resources/config/application_functional.properties
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-3900

#3934 Fix 409 conflict with pact consumer publish as case ids in contract was getting changed for every run
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/caseassignment/CaseAssignmentUserRolesConsumerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3934

#3901 SSCSCI-879: Validate DirectionDueDate only when explicitly entered
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackController.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationCanHandleTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandlerMainTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationHandlerTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseMidEventValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CcdMideventCallbackControllerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, enable_hearings, rel:sscs-tribunals-api-pr-3901

#3881 Update Docmosis HealthCheck for v2.9.7
  src/main/java/uk/gov/hmcts/reform/sscs/healthcheck/DocmosisHealthIndicator.java
  src/test/java/uk/gov/hmcts/reform/sscs/healthcheck/DocmosisHealthIndicatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3881

#3944 Update suppression date
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3944
