Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2024-12, with the labels that each got.

#4112 SSCSCI-1369
  definitions/test/fixtures/steps/upload.response.ts
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4112

#4095 SSCSCI-1206
  build.gradle
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-dwpChallengeValidity.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-dwpUploadResponse.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-dwpChallengeValidity.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-dwpUploadResponse.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  definitions/benefit/sheets/CaseField/CaseField.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes.json
  definitions/benefit/sheets/FixedLists/FixedLists-nonprod.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/DwpUploadResponseHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/DwpUploadResponseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4095

#4187 SSCSCI-1206: move ibca only issue codes into fixed lists json
  definitions/benefit/sheets/FixedLists/FixedLists-nonprod.json
  definitions/benefit/sheets/FixedLists/FixedLists.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4187

#4130 SSCSCI-1352
  build.gradle
  definitions/benefit/sheets/FixedLists/FixedLists-nonprod.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SscsPdfService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SscsPdfServiceTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4130

#4190 SSCSCI-1432: Move Add Hearing Outcome to PROD
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/benefit/sheets/CaseEvent/CaseEvent-nonprod.json
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-nonprod.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  definitions/benefit/sheets/CaseField/CaseField-nonprod.json
  definitions/benefit/sheets/CaseField/CaseField.json
  definitions/benefit/sheets/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/benefit/sheets/CaseTypeTab/CaseTypeTab.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes-nonprod.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4190

#4196 Update default subscription name for preview to point to AAT as default
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4196

#4178 SSCSSI-246: Fix broken trigger in TribunalsHearingsEventQueueListener
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerItTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerV2ItTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventQueueListener.java
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4178

#4184 SSCSCI-1425
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/config/AppConstants.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4184

#4179 Fixes generating CCD Definition for hearings and uploads it as artefact in Jenkins
  Jenkinsfile_CNP
  README.md
  bin/create-pr-definition.sh
  bin/create-xlsx.sh
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, rel:sscs-tribunals-api-pr-4179

#4199 Added remove case outcome event for superusers
  build.gradle
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/removecaseoutcome/RemoveCaseOutcomeAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/removecaseoutcome/RemoveCaseOutcomeAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, rel:sscs-tribunals-api-pr-4199

#4198 SSCSSI-115: fixed v2 call and UT
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/IssueFurtherEvidenceHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/IssueFurtherEvidenceHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4198

#4137 SSCSSI-425: update case to V2 on hmctsResponseReviewed event
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/HmctsResponseReviewedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedSubmittedHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4137

#4207 SSCSSI-425_v1: Enabled infected blood on preview
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4207

#4192 SSCSCI-1348
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-caseUpdated.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4192

#4211 Accessibility tests in nightly dev
  Jenkinsfile_nightly
  build.gradle
  definitions/test/e2e/accessibility.spec.ts
  definitions/test/fixtures/steps/accessibilitySteps.ts
  definitions/test/helpers/accessibility.ts
  definitions/test/lib/steps.factory.ts
  definitions/test/package.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4211

#4124 SSCSCI-1214
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerItTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerV2ItTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaBenefitType.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/RoboticsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsLocationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/admin/RestoreCasesService2.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/AbstractedCaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CitizenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/RoboticsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/AbstractSubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4124

#4200 SSCSSI-82: Setting originalSender as received in the callback case details
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4200

#4203 Enable uploading ccd definition to AAT for hearings PR
  Jenkinsfile_CNP
  README.md
  bin/create-xlsx.sh
  src/main/java/uk/gov/hmcts/reform/sscs/config/HighLevelDataSetupApp.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, rel:sscs-tribunals-api-pr-4203

#4165 Revert "Revert SSCSCI-1344 (#4164)"
  build.gradle
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4165

#4172 add letter testing setup
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/AbstractFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/DocmosisWithGovNotifyLetterFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/notifications/AbstractNotificationsFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/notifications/DocmosisGovNotifyLettersFT.java
  src/functionalTest/resources/config/application_functional.properties
  src/functionalTest/resources/tyanotifications/appealCreatedAppointeeCallback.json
  src/functionalTest/resources/tyanotifications/missingFileFallbackCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/NotificationSender.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4172

#4173 SSCSSI-247: SubmitAppealService - case create or update from SYA
  build.gradle
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/v2/SubmitAppealService.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/AbstractSyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraftTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/AbstractSubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTestV1.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/v2/SubmitAppealServiceTestV2.java
  src/test/resources/drafts/session-sample-with-rep.json
  src/test/resources/sya/allDetailsNonSaveAndReturn.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcdChildSupport.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcdSscs5.json
  src/test/resources/sya/allDetailsNonSaveAndReturnNoMrnDateCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnWithInterlocCcd.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4173

#4205 SSCSCI-1410: Use SB3 job scheduler 2
  build.gradle
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, rel:sscs-tribunals-api-pr-4205

#4140 SSCSCI-1221: Verify IBCA reference before assigning a new user to an ibca case
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/cftlib/java/uk/gov/hmcts/reform/sscs/CftlibConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CitizenController.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/AssociateCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/CaseAssignmentVerifier.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/attachscanneddocs/AttachScannedDocsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CitizenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/AbstractCitizenLoginServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ServiceRequestExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/event/EventPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/CaseAssignmentVerifierTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/PostcodeUtilTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4140

#4096 SSCSCI-1347 Confirm Panel Composition IBCA changes
  build.gradle
  charts/sscs-tribunals-api/values.preview.template.yaml
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  definitions/benefit/sheets/CaseField/CaseField.json
  definitions/benefit/sheets/CaseTypeTab/CaseTypeTab.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4096

#4224 Accessibility tests
  Jenkinsfile_nightly
  build.gradle
  definitions/test/accessibility-report/report.html
  definitions/test/e2e/accessibility.spec.ts
  definitions/test/fixtures/steps/accessibilitySteps.ts
  definitions/test/helpers/accessibility.ts
  definitions/test/lib/steps.factory.ts
  definitions/test/package.json
  definitions/test/playwright.config.ts
  definitions/test/yarn.lock
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4224

#4177 SSCSCI-1356 fixing draft appeals for IBC
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionAppellantIbcRole.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionAppellantIbcaReference.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionContactDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraft.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionInMainlandUk.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/draft/SessionRepresentativeDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraft.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/AbstractSyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/model/draft/SessionDraftTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/converter/ConvertSscsCaseDataIntoSessionDraftTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SerializeJsonMessageManager.java
  src/test/resources/drafts/session-sample-ibc-international.json
  src/test/resources/drafts/session-sample-ibc-rep-international.json
  src/test/resources/drafts/session-sample-ibc-rep.json
  src/test/resources/drafts/session-sample-ibc.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4177

#4227 Move caseoutcome migration event to prod
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/benefit/sheets/CaseEvent/CaseEvent-nonprod.json
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4227

#4157 SSCSCI-1137 Address logic changes
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/NotificationsFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/GenericLetterPlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderUtility.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/SorPlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/coversheet/CoversheetService.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/config/PersonalisationMappingConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/LetterUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/docmosis/PdfLetterService.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/GenericLetterPlaceholderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/AbstractSubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/LetterUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/SendNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/docmosis/PdfLetterServiceTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4157

#4229 SSCSCI-1347 adding isFqpmRequired behind benefit type
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-nonprod.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4229

#4215 allowing issue adjournment notice welsh event to be triggered after r…
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4215

#4208 SSCSCI-1413: Updating SOR direction notice doc
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4208

#4212 SSCSCI-1431
  charts/sscs-tribunals-api/values.preview.template.yaml
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4212

#4213 SSCSCI-1137
  Jenkinsfile_CNP
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/notifications/AbstractNotificationsFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/notifications/DocmosisGovNotifyLettersFT.java
  src/functionalTest/resources/config/application_functional.properties
  src/functionalTest/resources/tyanotifications/appealCreatedCallbackWelsh.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4213

#4210 SSCSCI-1183 pointing to new appeal lodged rep docs
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4210

#4155 SSCSCI-1397
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-tribunals-api/values.preview.template.yaml
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tyanotifications/tya/NotificationsIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/notifications/AbstractNotificationsFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/notifications/DocmosisGovNotifyLettersFT.java
  src/functionalTest/resources/config/application_functional.properties
  src/functionalTest/resources/tyanotifications/appealCreatedCallbackWelsh.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/GenericLetterPlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/NoticeIssuedTemplateBody.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/Respondent.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/docmosis/PdfLetterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/GenericLetterPlaceholderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/tyanotifications/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/docmosis/PdfLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4155

#4168 SSCSCI-1156 updates to placeholder service for IBC
  charts/sscs-tribunals-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4168
