Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2024-10, with the labels that each got.

#3990 Revert "SSCSCI-1028: move mrd reference lookup logic to common"
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/DynamicListLanguageUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/DynamicListLanguageUtilTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3990

#3988 SSCSCI Suppression date update
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3988

#3942 SSCSCI-982: Due date validation in Issue Directions Notice
  definitions/benefit/VERSION.yaml
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3942

#3992 Change environment var to avoid conflict
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3992

#3973 SSCSSI-391: merge ccd defs changes
  charts/sscs-tribunals-api/values.aat.template.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/handlers/AdminAppealWithdrawnNotificationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/DocmosisWithGovNotifyLetterFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/EvidenceReceivedFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/JointPartyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/NotificationsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/OtherPartyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/WelshNotificationsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/WithRepresentativePersonalisationTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/callback/handlers/FilterNotificationsEventsHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/NotificationValidService.java
  src/test/java/uk/gov/hmcts/reform/sscs/tyanotifications/callback/handlers/FilterNotificationsEventsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/NotificationServiceTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, enable_hearings, rel:sscs-tribunals-api-pr-3973

#3999 try all secrets, all the time
  Jenkinsfile_CNP
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3999

#3998 Enable DB Migration on preview
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3998

#3996 Upgrade azurerm
  infrastructure/state.tf
Labels: ns:sscs, prd:sscs, aat/no-changes, prod/no-changes, rel:sscs-tribunals-api-pr-3996

#4000 Add support for test UI suites
  Jenkinsfile_CNP
  definitions/test/e2e/write-and-issue-final-decision.spec.ts
  definitions/test/package.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4000, test-suite:regression

#4010 Add stale bot
  .github/workflows/stale.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4010

#4011 Remove TYA
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.wa.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4011

#3985 SSCSSI-336: Restoring branch to release
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.aat.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/PostHearingRequestIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/posthearingrequest/PostHearingRequestSubmittedHandlerTest.java
  src/functionalTest/resources/handlers/posthearingrequest/postHearingRequest.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingrequest/PostHearingRequestSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingrequest/PostHearingRequestSubmittedHandlerTest.java
  src/test/resources/callback/postHearingRequest.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-3985

#3880 SSCSSI-338: Fix broken trigger for WriteStatementOfReasonsSubmittedHa…
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteStatementOfReasonsSubmittedIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/posthearingrequest/WriteStatementOfReasonsSubmittedHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writestatementofreasons/WriteStatementOfReasonsSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writestatementofreasons/WriteStatementOfReasonsSubmittedHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, enable_hearings, aat/no-changes, prod/no-changes, rel:sscs-tribunals-api-pr-3880

#4017 Sscssi 157
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeSubmittedHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4017

#4018 Add IBA domain to sya
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4018

#3970 SSCSCI-1046
  .github/workflows/ccd-diff.yaml
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/benefit/sheets/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/benefit/sheets/RoleToAccessProfiles/RoleToAccessProfiles.json
  definitions/benefit/sheets/WorkBasketInputFields/WorkBasketInputFields.json
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, aat/no-changes, prod/no-changes, rel:sscs-tribunals-api-pr-3970

#4015 Fix FT's in nightly build
  Jenkinsfile_nightly
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4015

#4030 increase def store TX timeout
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4030

#3991 Move TYA infra to tribs repo
  infrastructure/database.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:sscs, prd:sscs, aat/add-or-update, prod/add-or-update, rel:sscs-tribunals-api-pr-3991

#3978 SSCSCI-1047
  build.gradle
  charts/sscs-tribunals-api/values.aat.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/benefit/sheets/CaseField/CaseField.json
  definitions/benefit/sheets/FixedLists/FixedLists-nonprod.json
  definitions/benefit/sheets/SearchInputFields/SearchInputFields.json
  definitions/benefit/sheets/SearchResultFields/SearchResultFields.json
  definitions/benefit/sheets/WorkBasketInputFields/WorkBasketInputFields.json
  definitions/benefit/sheets/WorkBasketResultFields/WorkBasketResultFields.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SscsPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/AbstractedCaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, aat/add-or-update, prod/no-changes, rel:sscs-tribunals-api-pr-3978

#3997 SSCSCI-1158: Revert interloc decision notice changes
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DecisionIssuedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:sscs-tribunals-api-pr-3997

#4014 SSCSCI-1116+
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CitizenController.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CitizenControllerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4014, pr-values:iba

#4001 add preview tags to test
  Jenkinsfile_CNP
  README.md
  definitions/test/e2e/create-a-bundle.spec.ts
  definitions/test/e2e/enhanced-confidentiality.spec.ts
  definitions/test/e2e/hearing-request.spec.ts
  definitions/test/e2e/issue-directions-notice.spec.ts
  definitions/test/e2e/postponement.spec.ts
  definitions/test/e2e/reinstatement.spec.ts
  definitions/test/e2e/upload-hearing.spec.ts
  definitions/test/e2e/upload-response.spec.ts
  definitions/test/e2e/urgent-hearing.spec.ts
  definitions/test/e2e/write-and-issue-final-decision.spec.ts
Labels: ns:sscs, prd:sscs, enable_keep_helm, aat/add-or-update, prod/add-or-update, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4001

#4062 Add new secrets to comply with library naming
  infrastructure/database.tf
Labels: ns:sscs, prd:sscs, aat/add-or-update, prod/add-or-update, rel:sscs-tribunals-api-pr-4062

#4005 SSCSCI-1159
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTestBase.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, aat/no-changes, prod/no-changes, rel:sscs-tribunals-api-pr-4005

#4065 Move secrets to use tribs
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4065

#4067 unit test updates after commons release
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/AbstractedCaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4067

#4068 Upgrade chart version for fixing Jenkins publish
  charts/sscs-tribunals-api/Chart.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4068

#4056 SSCSSI-404: merge sscs-hearings-api into sscs-tribunals-case-api - wi…
  Jenkinsfile_CNP
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/controller/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/jms/HearingsJmsConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/jms/TribunalsHearingsJmsConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventQueueListener.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, aat/destroy, pr-values:hearings, prod/destroy, rel:sscs-tribunals-api-pr-4056

#4064 Add new test label
  Jenkinsfile_CNP
  charts/sscs-tribunals-api/values.preview.template.yaml
  definitions/test/package.json
  definitions/test/pages/common/homePage.ts
Labels: ns:sscs, prd:sscs, enable_keep_helm, aat/destroy, pr-values:hearings, prod/destroy, rel:sscs-tribunals-api-pr-4064

#4074 After SSCSSI-404 release cleanup
  Jenkinsfile_CNP
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.wa.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventQueueListener.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4074

#4082 tolerate HLD failure in demo
  src/main/java/uk/gov/hmcts/reform/sscs/config/HighLevelDataSetupApp.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4082

#4077 Sscsci 1123 international bulk print
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/benefit/sheets/CaseField/CaseField.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes.json
  definitions/benefit/sheets/SearchInputFields/SearchInputFields.json
  definitions/benefit/sheets/WorkBasketInputFields/WorkBasketInputFields.json
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/BulkPrintService.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/BulkPrintServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4077

#4086 Rollback of labels from production
  definitions/benefit/sheets/ComplexTypes/ComplexTypes.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4086

#4085 lower cpu requests
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.wa.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4085

#3882 SSCSSI-337: Fix broken trigger for CcdCallbackMapService - Post Heari…
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/PostHearingReviewIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/posthearingreview/PostHearingReviewSubmittedHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewSubmittedHandlerTest.java
  src/test/resources/callback/postHearingReview.json
Labels: ns:sscs, prd:sscs, no-changes, enable_keep_helm, prod/no-changes, rel:sscs-tribunals-api-pr-3882

#3891 SSCSSI-333: Fix broken trigger for CcdCallbackMapService - Admin acti…
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdminActionCorrectionSubmittedHandlerIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminactioncorrection/AdminActionCorrectionSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminactioncorrection/AdminActionCorrectionSubmittedHandlerTest.java
  src/test/resources/callback/adminActionCorrection.json
Labels: ns:sscs, prd:sscs, stale, rel:sscs-tribunals-api-pr-3891

#3986 SSCSCI-1026: JCM SSCS Post hearing SOR - panel member names not included
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writestatementofreasons/WriteStatementOfReasonsPreviewService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writestatementofreasons/WriteStatementOfReasonsMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3986

#3860 SSCSSI-334: Fix broken trigger for GetFirstTierDocumentsSubmittedHandler
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/getfirsttierdocuments/GetFirstTierDocumentsSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/getfirsttierdocuments/GetFirstTierDocumentsSubmittedHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, test-suite:preview-regression, test-suite:aat-regression, rel:sscs-tribunals-api-pr-3860

#4098 SSCSCI: commons upgrade for caseloader
  build.gradle
Labels: ns:sscs, prd:sscs, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4098

#4100 SSCSSI-418 Enable e2e UI tests in nightly builds
  Jenkinsfile_nightly
  build.gradle
  definitions/test/e2e/postponement.spec.ts
  definitions/test/e2e/process-audio-video-evidence.spec.ts
  definitions/test/e2e/provide-appointee-details.spec.ts
  definitions/test/e2e/reissue-further-evidence.spec.ts
  definitions/test/e2e/search-filter.spec.ts
  definitions/test/e2e/upload-hearing.spec.ts
  definitions/test/package.json
  definitions/test/pages/issue.direction.page.ts
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4100

#4009 SSCSSI-257: Fix Broken Trigger in PostponeHearingHandler
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/PostponeHearingRequestIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/postpone/PostponeHearingHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/PostponeHearingHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/PostponeHearingHandlerTest.java
  src/test/resources/callback/hearingPostponedRequest.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4009, test-suite:aat-regression

#4081 Sscsci 1189 database structure for hearing outcome
  build.gradle
  config/owasp/suppressions.xml
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/benefit/sheets/CaseField/CaseField-nonprod.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes-nonprod.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4081
