Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2024-11, with the labels that each got.

#3972 SSCSCI-995-jackson-databind-bump
  build.gradle
  config/owasp/suppressions.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AbstractEventIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CreateBundleIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/EditBundleIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/HmctsResponseReviewedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ProcessAudioVideoIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/ReissueFurtherEvidenceIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/RequestInfoIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/SendToFirstTierIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/SpringConfig.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/BaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/event/EventPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SyaServiceHelper.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3972, test-suite:preview-regression

#4072 SSCSCI-1175: Rename add outcome
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/benefit/sheets/CaseEvent/CaseEvent-nonprod.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-nonprod.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-nonprod.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4072

#4103 Add retry on exception with connection
  src/main/java/uk/gov/hmcts/reform/sscs/config/MessagingConfig.java
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4103

#3820 SSCSSI-173: Update RestoreCasesService to use trigger event v2
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/admin/RestoreCasesService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/admin/RestoreCasesService2.java
  src/main/resources/csv/restore-cases-sscssi-173.csv
  src/test/java/uk/gov/hmcts/reform/sscs/service/RestoreCasesService2Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/admin/RestoreCasesServiceTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, aat/destroy, test-suite:preview-regression, prod/destroy, rel:sscs-tribunals-api-pr-3820

#4110 Fix high level data setup demo
  src/main/java/uk/gov/hmcts/reform/sscs/config/HighLevelDataSetupApp.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4110

#4084 SSCSSI-98-21: C4: hearingBooked - ProcessHmcMessageService (Only cove…
  build.gradle
  charts/sscs-tribunals-api/values.preview.template.yaml
  definitions/test/fixtures/steps/upload.response.ts
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerItTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerV2ItTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerItTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerV2ItTest.java
  src/IntegrationTests/resources/config/application_it.properties
  src/IntegrationTests/resources/config/application_it_updateCaseV2.properties
  src/main/java/uk/gov/hmcts/reform/sscs/exception/HearingUpdateException.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/processing/ProcessHmcMessageHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageServiceV1.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageServiceV2.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/helper/processing/ProcessHmcMessageHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/AbstractProcessHmcMessageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageServiceTestV1.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageServiceTestV2.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4084

#4113 IBA name alteration
  build.gradle
  charts/sscs-tribunals-api/values.aat.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  definitions/benefit/sheets/RoleToAccessProfiles/RoleToAccessProfiles.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/AbstractedCaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4113

#4097 SSCSSI-413: extended some delays on flaky FTs
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/AbstractFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/handlers/AdminAppealWithdrawnNotificationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/NotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4097

#4123 Add sampling for health requests
  lib/applicationinsights.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4123

#4108 SSCSSI-97: C1b: updateCaseOnly - ServiceHearingsService
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4108

#4116 SSCSSI-96: C1b: updateCaseOnly - ManualCaseCreatedHandler
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/ManualCaseCreatedHandler.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/ManualCaseCreatedHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4116

#4093 SSCSCI-1137 - Update Docmosis address logic
  .gitignore
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/NotificationsFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/GenericLetterPlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderUtility.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/SorPlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/config/PersonalisationMappingConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/LetterUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/docmosis/PdfLetterService.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/GenericLetterPlaceholderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/LetterUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/SendNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/tyanotifications/service/docmosis/PdfLetterServiceTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4093

#4090 Sscsci 1123 international bulk print
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-dwpUploadResponse.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  definitions/benefit/sheets/CaseField/CaseField.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes.json
  definitions/benefit/sheets/SearchInputFields/SearchInputFields.json
  definitions/benefit/sheets/WorkBasketInputFields/WorkBasketInputFields.json
  definitions/test/pages/add.hearing.page.ts
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/BulkPrintService.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/BulkPrintServiceTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4090

#4134 Revert "Disable functional tests as notifications to unblock rollback deployment"
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/handlers/AdminAppealWithdrawnNotificationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/DocmosisWithGovNotifyLetterFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/EvidenceReceivedFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/JointPartyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/NotificationsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/OtherPartyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/WelshNotificationsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/WithRepresentativePersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4134

#4127 Upgrade app insights to latest
  Dockerfile
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4127

#4057 SSCSCI-1128
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/benefit/sheets/CaseEvent/CaseEvent-nonprod.json
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-caseUpdated.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-incompleteApplicationReceived.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-caseUpdated.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-incompleteApplicationReceived.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-writeAdjournmentNotice.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  definitions/benefit/sheets/CaseField/CaseField.json
  definitions/benefit/sheets/CaseTypeTab/CaseTypeTab.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes.json
  definitions/benefit/sheets/FixedLists/FixedLists.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validappeal/ValidateAppealAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/AbstractedCaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validappeal/ValidateAppealAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, aat/no-changes, prod/no-changes, test-suite:preview-regression, pr-values:iba, rel:sscs-tribunals-api-pr-4057

#3812 SSCSSI-258: Fix Broken Trigger in SendToBulkPrintHandler
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/EvidenceShareServiceIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/evidenceshare/EvidenceShareFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/CallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/SendToBulkPrintHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/SendToBulkPrintHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3812

#4118 SSCSSI-95: C1b: updateCaseOnly - ReIssueFurtherEvidenceHandler
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/ReissueFurtherEvidenceHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/ReissueFurtherEvidenceHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4118

#4120 Change to triggerCaseEventV2 for PostHearingReviewSubmittedHandler to trigger SORRequest Event
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingreview/PostHearingReviewSubmittedHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4120

#4129 fix instructions for hearings pr
  README.md
  bin/create-pr-definition.sh
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4129

#4128 SSCSCI-1185
  build.gradle
  definitions/benefit/sheets/CaseEvent/CaseEvent-nonprod.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-nonprod.json
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AddHearingOutcomeIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addhearingoutcome/AddHearingOutcomeAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addhearingoutcome/AddHearingOutcomeAboutToStartHandlerTest.java
  src/test/resources/callback/addHearingOutcomeCallback.json
  src/test/resources/json/hmcResponseForTest.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4128

#4115 SSCSCI-1361
  definitions/benefit/sheets/ComplexTypes/ComplexTypes.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4115

#4153 Fix README.md to re-trigger clean build
  README.md
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4153

#4119 SSCSSI-423: switched merge letter call to v2
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/CcdNotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/CcdNotificationServiceTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, test-suite:preview-regression, test-suite:aat-regression, rel:sscs-tribunals-api-pr-4119

#4114 SSCSSI-63: replace with v2 calls
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/EvidenceShareServiceIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/evidenceshare/EvidenceShareFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/RoboticsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/RoboticsCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, rel:sscs-tribunals-api-pr-4114

#4109 SSCSCI-1344
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-dwpChallengeValidity.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-dwpChallengeValidity.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  definitions/benefit/sheets/CaseField/CaseField.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4109

#4151 SSCSCI-1406: Consolidating isIbc isIba method instances
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4151

#4145 SSCSSI-427: AAT CCD PR clean up
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4145

#4075 SSCSCI-1179
  definitions/benefit/sheets/ComplexTypes/ComplexTypes.json
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/mya/SubscriptionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/handlers/AdminAppealWithdrawnNotificationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/NotificationsFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaAppellant.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/wrapper/SyaContactDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceBase.java
  src/main/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializer.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/AbstractedCaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/AbstractSubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/AbstractSubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4075

#4169 fix for IBC create case
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4169

#4170 SSCSCI-1397: Add English dynamic content for documents
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/IssueDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/NoticeIssuedTemplateBody.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4170

#4162 SSCSSI-168: Case Data fields not getting set as part of consumer used…
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingServiceConsumer.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingServiceConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceRetryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4162

#4102 Sscsci 1173 IBA add other party event
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-updateOtherPartyData.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4102

#4174 Sscsci 1362: ibc set hearing route
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/benefit/sheets/CaseEvent/CaseEvent-nonprod.json
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4174

#4176 Change FTs to fetch correspondence for only 1 test
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/handlers/AdminAppealWithdrawnNotificationsTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4176

#4138 SSCSCI-1381
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, enable_keep_helm, enable_hearings, pr-values:hearings, rel:sscs-tribunals-api-pr-4138

#4094 SSCSCI-1354 removing some events for IBC cases
  charts/sscs-tribunals-api/values.preview.template.yaml
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4094

#4122 SSCSSI-421: use triggerV2
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/RequestTranslationCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/RequestTranslationCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4122

#4101 SSCSCI-1345
  build.gradle
  definitions/benefit/sheets/CaseField/CaseField.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/AppConstants.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4101

#4161 SSCSSI-81: associateCase
  definitions/test/fixtures/steps/provide.appointee.details.ts
  definitions/test/fixtures/steps/upload.response.ts
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/ReciprocalLinkHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/ReciprocalLinkHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4161

#4180 Enable SYA IBA flag in Preview
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4180

#4181 Bumping to new commons (isIbc fix)
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4181
