Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2024-09, with the labels that each got.

#3937 SSCSSI-371: SSCS common changes and added functional test
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/SendToFirstTierIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/sendtofirsttier/SendToFirstTierSubmittedHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/sendtofirsttier/SendToFirstTierSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/sendtofirsttier/SendToFirstTierSubmittedHandlerTest.java
  src/test/resources/callback/sendToFirstTierRequest.json
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, enable_hearings, rel:sscs-tribunals-api-pr-3937

#3947 SSCSSI-371: For functional test set HANDLE_CCD_CALLBACKMAP_V2 to true
  charts/sscs-tribunals-api/values.aat.template.yaml
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, enable_hearings, rel:sscs-tribunals-api-pr-3947

#3948 SSCSSI-371: For functional test set POST_HEARINGS_B_FEATURE to true
  charts/sscs-tribunals-api/values.aat.template.yaml
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_hearings, rel:sscs-tribunals-api-pr-3948

#3938 SSCSCI-960: clear adjournment in about to start handler
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-3938

#3831 Sscssi 250
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdService.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/SyaController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceV2.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/config/CitizenCcdServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/AbstractSyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTestV1.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTestV2.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/AbstractSubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTestV1.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTestV2.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3831

#3756 Sscssi 145 v2
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/mya/EvidenceUploadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/mya/SscsMyaBackendRequests.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadServiceTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, enable_hearings, rel:sscs-tribunals-api-pr-3756

#3949 SSCSSI-386: Updating charts to fix preview ccd enabled build
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3949

#3899 SSCSCI-892: Reporting error on JCM 3
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/evidenceshare/AbstractFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/evidenceshare/IssueDirectionFunctionalTest.java
  src/functionalTest/resources/handlers/directionissued/directionIssuedAboutToSubmitCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3899

#3960 SSCSCI-1036
  .gitignore
  README.md
  build.gradle
  src/cftlib/resources/scripts/start.sh
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3960

#3962 SSCSCI-1045
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.wa.preview.template.yaml
  src/cftlib/java/uk/gov/hmcts/reform/sscs/CftlibConfig.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3962

#3963 Make callback retries configurable through a separate env var
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/service/servicebus/TopicConsumer.java
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3963

#3968 Update terraform provider
  infrastructure/state.tf
Labels: ns:sscs, prd:sscs, aat/no-changes, prod/no-changes, rel:sscs-tribunals-api-pr-3968

#3964 Update Airlookup version to 22.1
  build.gradle
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3964

#3967 SSCSCI-1045
  src/cftlib/java/uk/gov/hmcts/reform/sscs/CftlibConfig.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, rel:sscs-tribunals-api-pr-3967

#3976 Fix PR builds without ccd label
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3976

#3975 Remove Jenkins logs from shipping to appinsights
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3975

#3945 common version bump to update huddersfield venue address
  build.gradle
  definitions/benefit/VERSION.yaml
  definitions/benefit/sheets/FixedLists/FixedLists-venues.json
  definitions/benefit/sheets/FixedLists/FixedLists.json
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3945

#3980 Only upload bulk scan definition for preview for all other environments do not change(existing behaviour before merge into tribs)
  src/main/java/uk/gov/hmcts/reform/sscs/config/HighLevelDataSetupApp.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3980

#3885 SSCSSI-336: Refactored code based on sscs common change
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/PostHearingRequestIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/posthearingrequest/PostHearingRequestSubmittedHandlerTest.java
  src/functionalTest/resources/handlers/posthearingrequest/postHearingRequest.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingrequest/PostHearingRequestSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingrequest/PostHearingRequestSubmittedHandlerTest.java
  src/test/resources/callback/postHearingRequest.json
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, enable_hearings, rel:sscs-tribunals-api-pr-3885

#3982 Revert "SSCSSI-336: Refactored code based on sscs common change"
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/PostHearingRequestIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/posthearingrequest/PostHearingRequestSubmittedHandlerTest.java
  src/functionalTest/resources/handlers/posthearingrequest/postHearingRequest.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingrequest/PostHearingRequestSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingrequest/PostHearingRequestSubmittedHandlerTest.java
  src/test/resources/callback/postHearingRequest.json
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3982

#3956 SSCSCI-1025: Fix Incorrect Judge name
  definitions/benefit/VERSION.yaml
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/DecisionIssuedIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/EsaWriteFinalDecisionIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/PipWriteFinalDecisionIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UcWriteFinalDecisionIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteFinalDecisionItBase.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/evidenceshare/DecisionIssuedFunctionalTest.java
  src/functionalTest/resources/handlers/decisionissued/decisionIssuedAboutToSubmitCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/esa/EsaIssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/pip/PipIssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/uc/UcIssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTestBase.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3956

#3953 SSCSCI-1028: move mrd reference lookup logic to common
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/util/DynamicListLanguageUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/DynamicListLanguageUtilTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3953
