Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2024-04, with the labels that each got.

#3717 Revert SSCS-11648 Commit
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updateotherparty/UpdateOtherPartyAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3717

#3631 SSCS-12233 - Vet Postponement Notifications
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/cftlib/java/uk/gov/hmcts/reform/sscs/CftlibConfig.java
  src/cftlib/resources/wiremock/reference-data/mappings/case-flags.json
  src/cftlib/resources/wiremock/reference-data/mappings/case-linking-reasons.json
  src/cftlib/resources/wiremock/reference-data/mappings/case-types.json
  src/cftlib/resources/wiremock/reference-data/mappings/facilities.json
  src/cftlib/resources/wiremock/reference-data/mappings/hearing-channels.json
  src/cftlib/resources/wiremock/reference-data/mappings/hearing-priority.json
  src/cftlib/resources/wiremock/reference-data/mappings/hearing-subchannel.json
  src/cftlib/resources/wiremock/reference-data/mappings/hearing-types.json
  src/cftlib/resources/wiremock/reference-data/mappings/judge_type.json
  src/cftlib/resources/wiremock/reference-data/mappings/location-lookup.json
  src/cftlib/resources/wiremock/reference-data/mappings/panel_member_type.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/deathofappellant/DeathOfAppellantAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dormant/DormantEventsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/struckout/StruckOutAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/voidcase/VoidCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/servicebus/SessionAwareServiceBusMessagingService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/voidcase/VoidCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3631

#3713 SSCSCI-641: V3 Can't attach exceptions to existing cases
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/attachscanneddocs/AttachScannedDocsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/attachscanneddocs/AttachScannedDocsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3713

#3721 Use latest image of tya notif and ccd definition
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3721

#3726 SSCSSI-34: set aliases for evidence share secrets
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/EnvironmentPropertiesPrinter.java
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3726, aat/destroy

#3728 SSCSSI-159 | Use new sendgrid secret managed in this repo
  Jenkinsfile_CNP
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3728

#3730 Fix preview - Use latest image of evidence share rather than preview
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3730

#3710 Sscssi 135 action fe update casev2
  config/owasp/suppressions.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/BaseHandler.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
  src/functionalTest/resources/handlers/actionfurtherevidence/actionFurtherEvidenceSubmittedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3710

#3709 SSCSSI-138: remove last callvto ccd cb orchestrator
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/EvidenceManagementController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/event/EventPublisher.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/event/EventPublisherTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3709

#3724 remove sscs ccd orchestrator config
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3724

#3736 SSCSCI-829: fixed consumer PACT with SendLetterService
  src/contractTest/resources/files/myPdf.pdf
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3736

#3704 SSCSCI-805: Dynamic ccd for preview
  Jenkinsfile_CNP
  README.md
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3704

#3742 SSCSSI-194 | Add job chart in prep for setting up cron
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.job.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, pr-values:ccd, rel:sscs-tribunals-api-pr-3742, pr-values:job

#3754 Remove unused Queue
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, pr-values:ccd, rel:sscs-tribunals-api-pr-3754

#3746 Update appeal handler to use trigger event v2 instead of overwriting data from submitted callback
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/AppealReceivedHandler.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/AppealReceivedHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3746

#3769 SSCSSI-236 Fix local setup with bootccd
  src/main/java/uk/gov/hmcts/reform/sscs/config/MessagingConfig.java
  src/main/resources/config/application.properties
Labels: ns:sscs, prd:sscs, pr-values:ccd, rel:sscs-tribunals-api-pr-3769

#3675 SSCSSI-90 Use updateCaseV2 to fix triggers in CancelTranslationsSubmittedHandler
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CancelTranslationIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsSubmittedHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3675

#3729 Use update case v2 for issue direction handler case update
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/IssueDirectionHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/IssueDirectionHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3729

#3712 Fix Broken Trigger CaseUpdatedSubmittedHandler
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedSubmittedHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3712, aat/no-changes

#3775 Work allocation release
  .env
  .gitignore
  Jenkinsfile_CNP
  README.md
  bin/import-camunda-files.sh
  bin/pull-camunda-bpmn-files.sh
  bin/pull-camunda-dmn-files.sh
  bin/utils/idam-lease-service-token.sh
  bin/utils/idam-lease-user-token.sh
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.wa.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  config/owasp/suppressions.xml
  infrastructure/service-bus.tf
  src/IntegrationTests/resources/config/application_it.properties
  src/cftlib/java/uk/gov/hmcts/reform/sscs/CftlibConfig.java
  src/cftlib/resources/am-role-assignments.json
  src/cftlib/resources/docker/cft-lib-work-allocation.yml
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ccd/caseassignment/CaseAssignmentUserRolesConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/idam/IdamApiConsumerTest.java
  src/contractTest/resources/config/application_contract.properties
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/mya/CitizenLoginTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestSubmittedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/WorkAllocationAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/WorkAllocationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/managewelshdocuments/ManageWelshDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentWorkAllocationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadfurtherevidence/UploadFurtherEvidenceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/AppealReceivedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/evidence/EvidenceUploadService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/servicebus/TopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/AddedDocumentsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestSubmittedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/WorkAllocationAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createbundle/WorkAllocationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/fenoaction/FeNoActionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/managewelshdocuments/ManageWelshDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentWorkAllocationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/DwpActionWithdrawalHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/AddedDocumentsUtilTest.java
Labels: ns:sscs, prd:sscs, aat/no-changes, rel:sscs-tribunals-api-pr-3775

#3786 Fix FT tests
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/mya/EvidenceUploadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3786
