Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2024-03, with the labels that each got.

#3650 Updated suppressions
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3650

#3649 Disable dependency check on commit
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3649

#3657 Update sscs-common to 5.3.4
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3657

#3622 SSCS-12361 Prepare for global search / work allocation data migration
  build.gradle
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/WorkAllocationMigrationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseWorkAllocationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseWorkAllocationHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3622

#3660 Fix functional tests
  src/test/resources/sya/allDetailsNonSaveAndReturnCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcdChildSupport.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcdSscs5.json
  src/test/resources/sya/allDetailsNonSaveAndReturnNoMrnDateCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnWithInterlocCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3660

#3667 Preview ccd-defs and wa flag update
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3667

#3668 SSCSSI-94: Disable bundle Fts on preview
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/createbundle/CreateBundleAboutToSubmitHandlerFunctionalTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3668

#3670 SSCSSI-94: Fix Bundle FTs in master
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/createbundle/CreateBundleAboutToSubmitHandlerFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3670

#3647 SSCSSI-20: Fix caseUpdated event call in LinkACase Handler
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/linkcase/LinkCaseAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/linkcase/LinkCaseAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-3647

#3628 SSCSCI-714: Handle NPE in Reissue further evidence
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/reissuefurtherevidence/ReissueFurtherEvidenceAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3628

#3673 Update sscs-common to 5.3.6
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3673

#3663 SSCSSI-31: Merge sscs-ccd-callback-orchestrator to sscs-tribunals-case-api
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/servicebus/EmbeddedInMemoryQpidBroker.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/servicebus/EmbeddedInMemoryQpidBrokerRule.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/servicebus/TopicJmsTest.java
  src/IntegrationTests/resources/qpid-embedded-inmemory-configuration.json
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/controllers/CcdCallbackOrchestratorControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/smoke/CcdCallbackOrchestratorControllerSmokeTest.java
  src/functionalTest/resources/validAppealCreatedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/SpringConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/CcdCallbackOrchestratorController.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/CaseData.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/OrchestratorJsonException.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/servicebus/TopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/servicebus/messaging/JmsErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/servicebus/messaging/MessagingConfig.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CcdCallbackOrchestratorControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/servicebus/TopicPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/servicebus/messaging/MessagingConfigTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3663

#3689 Added AMQP password required by orchestrator topic producer
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3689

#3629 Dwp enhancement merge
  build.gradle
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ActionStrikeOutHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addhearing/AddHearingAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmpoattendance/ConfirmPoAttendanceAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmpoattendance/ConfirmPoAttendanceMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dormant/DormantEventsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/voidcase/VoidCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/AdjournCaseTemplateBody.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ActionStrikeOutHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addhearing/AddHearingAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmpoattendance/ConfirmPoAttendanceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmpoattendance/ConfirmPoAttendanceMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/uc/UcIssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/voidcase/VoidCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3629

#3606 SSCS-12031 - Add 'Hearing date issued' column to case list for all user types
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/resources/callback/uploaddocument/expectedUploadDocumentFECallbackResponse.json
  src/test/resources/callback/uploaddocument/uploadDocumentFECallback.json
  src/test/resources/callback/withdrawnappeals/adminAppealWithdrawnExpectedCaseData.json
  src/test/resources/callback/withdrawnappeals/dwpActionWithdrawalExpectedCaseData.json
  src/test/resources/sya/allDetailsFromDraftCcd.json
  src/test/resources/sya/allDetailsFromDraftNoMrnDateCcd.json
  src/test/resources/sya/allDetailsFromDraftWithInterlocCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcdChildSupport.json
  src/test/resources/sya/allDetailsNonSaveAndReturnCcdSscs5.json
  src/test/resources/sya/allDetailsNonSaveAndReturnNoMrnDateCcd.json
  src/test/resources/sya/allDetailsNonSaveAndReturnWithInterlocCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3606

#3695 Use update case v2 to update case when further action is issue to all parties
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/CcdCallbackEndpointIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3695

#3696 Bump ccd definition importer image for latest changes in preview
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3696

#3662 Add new method to call V2 Update Case
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelper.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/AbstractedCaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerV2Test.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, pr-value:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3662

#3685 SSCSCI-787: V2 Further Evidence Action dropdown to default
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandlerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/mya/CitizenLoginTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceAboutToStartHandler.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3685

#3575 SSCSCI-529
  Jenkinsfile_CNP
  README.md
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3575

#3643 Sscs 12319 missing feature flag
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestSubmittedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestSubmittedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, no-changes, rel:sscs-tribunals-api-pr-3643

#3703 Revert "SSCSCI-529 (#3575) Enable Hearings on preview "
  Jenkinsfile_CNP
  README.md
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3703

#3694 SSCSSI-136 - Single jms connection factory in Tribs API
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/servicebus/EmbeddedInMemoryQpidBroker.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/servicebus/EmbeddedInMemoryQpidBrokerRule.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/servicebus/TopicJmsTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/JmsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/MessagingConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/servicebus/TopicPublisher.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/servicebus/messaging/MessagingConfigTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3694

#3645 Testing SSCS-12371 / SSCS-12338 Updated RoleToAccessProfile mappings
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, pr-values:ccd, no-changes, enable_keep_helm, rel:sscs-tribunals-api-pr-3645

#3676 SSCSCI-786
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/AbstractedCaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3676

#3620 Tribs, update values correctly
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/DynamicListLanguageUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/AbstractedCaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploaddocuments/UploadDocumentFurtherEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/AdminAppealWithdrawnHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/withdrawnappeals/DwpActionWithdrawalHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/DynamicListLanguageUtilTest.java
  src/test/resources/sya/hearingWithSupportEmptyCcd.json
  src/test/resources/sya/hearingWithoutSupportAndScheduleHearingCcd.json
  src/test/resources/sya/hearingWithoutSupportWithScheduleHearingCcd.json
  src/test/resources/sya/wantsSupportWithoutArrangementsCcd.json
  src/test/resources/sya/withoutHearingCcd.json
  src/test/resources/sya/withoutWantsSupportCcd.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3620

#3327 SSCS-11545 - Add warning to ready for list to say theres already a hearing
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/readytolist/ReadyToListAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/readytolist/ReadyToListAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/SscsHelperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3327

#3616 Tribs: fix postpone hearing handler to set unprocessed postponement t…
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/PostponeHearingHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/PostponeHearingHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3616
