Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2024-06, with the labels that each got.

#3813 SSCSCI-855: fix fortify issues, hardcoded pwd, SSL
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/cftlib/resources/docker/cft-lib-work-allocation.yml
  src/main/java/uk/gov/hmcts/reform/sscs/config/LocalMessagingConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/MessagingConfig.java
  src/main/resources/config/application-local.properties
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-3813

#3847 SSCSCI-855: remove default from chart var, set in jenkins
  Jenkinsfile_CNP
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, pr-values:ccd, rel:sscs-tribunals-api-pr-3847

#3848 update ccd preview image
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3848

#3837 Sscsci 499 java chart upgrade to 5.2.1
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, aat/no-changes, rel:sscs-tribunals-api-pr-3837

#3851 Use handleCcdCallbackMapV2update for sent to first tier submitted event handler
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.wa.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/sendtofirsttier/SendToFirstTierSubmittedHandler.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/sendtofirsttier/SendToFirstTierSubmittedHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3851

#3850 set common snapshot version to test venue updates
  build.gradle
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
Labels: ns:sscs, prd:sscs, pr-values:ccd, rel:sscs-tribunals-api-pr-3850

#3864 SSCSSI-352 Fix logging in topicconsumer
  src/main/java/uk/gov/hmcts/reform/sscs/service/servicebus/TopicConsumer.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-3864

#3824 SSCSCI-865: Case management not updating the corrections/amendment.
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/AbstractedCaseUpdatedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3824

#3735 SSCSCI-813: Test Issue directions notice letter
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writestatementofreasons/WriteStatementOfReasonsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writestatementofreasons/WriteStatementOfReasonsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3735

#3779 SSCSCI-837: Clear Adjournment in IssueAdjournmentNoticeAboutToSubmitHandler
  charts/sscs-tribunals-api/values.ccd.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdjournCaseIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/IssueAdjournmentIt.java
  src/IntegrationTests/resources/config/application_es_it.properties
  src/IntegrationTests/resources/config/application_it.properties
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewService.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToSubmitHandlerTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCasePreviewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerMainTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/esa/EsaIssueFinalDecisionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/adjourncase/AdjournCaseServiceTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3779

#3802 SSCSCI-854: Update urgent hearing logic in ActionFurtherEvidenceSubmittedCallbackHandler
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/furtherevidence/actionfurtherevidence/ActionFurtherEvidenceSubmittedCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, pr-values:ccd, enable_keep_helm, rel:sscs-tribunals-api-pr-3802
