Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2025-07, with the labels that each got.

#4804 SSCSCI-1939: Remove org.everit.json.schema
  README.md
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/bulkscan/BaseTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/bulkscan/controllers/OcrValidationTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/bulkscan/controllers/SscsBulkScanExceptionRecordCallback.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/evidenceshare/placeholders/PlaceholderServiceIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/bulkscan/TransformationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/updatenotlistable/UpdateNotListableAboutToSubmitHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscan/validators/FormTypeValidator.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscan/json/SscsJsonExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscan/schema/BulkScanSchemaTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscan/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscan/validators/FormTypeValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderServiceTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4804

#4786 SSCSCI-1899: create panelComp with default joh tiers ifNotPresent on ULR
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4786

#4792 SSCSCI-931-1896-1897
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-nonprod.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/benefit/sheets/CaseField/CaseField-nonprod.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes-nonprod.json
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/HearingRequestHandlerIT.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsLocationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsWindowMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingServiceConsumer.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/holder/ReferenceDataServiceHolder.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerMainTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMappingAdjournmentTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsWindowMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingServiceConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4792

#4790 SSCSCI-1881
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPanelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/service/HearingsServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingServiceConsumer.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerV2Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPanelMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingServiceConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceRetryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4790

#4817 suppress sonarqube false positive
  src/main/java/uk/gov/hmcts/reform/sscs/controller/EvidenceUploadController.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4817

#4736 SSCSCI-1837: sync FQPM between events
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmpanelcomposition/ConfirmPanelCompositionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmpanelcomposition/ConfirmPanelCompositionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, aat/no-changes, prod/no-changes, rel:sscs-tribunals-api-pr-4736

#4815 SSCSCI Fortify fix for nightly pipelines
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscan/validators/FormTypeValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscan/validators/FormTypeValidatorTest.java
  src/test/resources/schema/malformed_schema.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4815

#4829 SSCSCI-1945: show DTJ label not code in listing requirements tab
  definitions/benefit/sheets/ComplexTypes/ComplexTypes-panelComposition.json
  definitions/benefit/sheets/FixedLists/FixedLists-panelComposition.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4829

#4830 upgrade sscs-common to v6.3.8 (panelComp config update)
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4830

#4834 Add tests for ILA feature
  definitions/test/common/web.action.ts
  definitions/test/e2e/update-listing-requirements.spec.ts
  definitions/test/e2e/upload-response.spec.ts
  definitions/test/fixtures/steps/hearing.ts
  definitions/test/fixtures/steps/update.listing.requirements.ts
  definitions/test/fixtures/steps/upload.response.ts
  definitions/test/lib/steps.factory.ts
  definitions/test/pages/content/listing.requirements.json
  definitions/test/pages/listing.requirements.page.ts
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4834
