Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2025-08, with the labels that each got.

#4824 SSCSCI-1882 release ILA to prod
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
  definitions/benefit/sheets/CaseEvent/CaseEvent-nonprod.json
  definitions/benefit/sheets/CaseEvent/CaseEvent-prod.json
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-panelComposition.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-panelComposition.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-prod.json
  definitions/benefit/sheets/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/benefit/sheets/CaseTypeTab/CaseTypeTab.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4824

#4842 fix preview failing tests
  definitions/test/fixtures/steps/upload.response.ts
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4842

#4844 Skip flaky tests need proper fix
  definitions/test/e2e/hearing-request.spec.ts
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4844

#4832 SSCSCI-1977: Reset panel composition if UC elements change
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendelementsissues/AmendElementsIssuesAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendspecialism/AmendSpecialismAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendelementsissues/AmendElementsIssuesAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendspecialism/AmendSpecialismAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerV2Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4832

#4838 SSCSCI-1983: remove ILA feature flag
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/HearingRequestHandlerIT.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendelementsissues/AmendElementsIssuesAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendspecialism/AmendSpecialismAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmpanelcomposition/ConfirmPanelCompositionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsRequestSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPanelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/service/HearingsServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/reference/BenefitRoleRelationType.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/holder/ReferenceDataServiceHolder.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendelementsissues/AmendElementsIssuesAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendspecialism/AmendSpecialismAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerV2Test.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/confirmpanelcomposition/ConfirmPanelCompositionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/dwpuploadresponse/DwpUploadResponseMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/hmctsresponsereviewed/HmctsResponseReviewedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsRequestSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMappingAdjournmentTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPanelMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingServiceConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceRetryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
  src/test/resources/callback/caseUpdated.json
  src/test/resources/callback/dwpUploadResponse.json
  src/test/resources/callback/dwpUploadResponsePhe.json
  src/test/resources/callback/hmctsResponseReviewedCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4838

#4839 SSCSCI-1987
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issueadjournment/IssueAdjournmentNoticeAboutToSubmitHandlerMainTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMappingAdjournmentTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4839

#4854 SSCSCI-1867 Remove Elastic Search from test
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitAppealTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/sya/SubmitHelper.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4854
