Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2025-02, with the labels that each got.

#4294 SSCSCI-1563 / SSCSCI-1439
  build.gradle
  definitions/benefit/sheets/FixedLists/FixedLists.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/PostponementRequestService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postponementrequest/PostponementRequestAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/validsendtointerloc/ValidSendToInterlocAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/PostponementRequestServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4294

#4232 SSCSCI-1157 pointing to new docs for ibc appeal to proceed
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tyanotifications/config/DirectionNoticeDocmosisConfigTestIt.java
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4232

#4326 SSCSCI-1548
  charts/sscs-tribunals-api/values.aat.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/DocumentConfigurationTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tyanotifications/config/NotificationConfigTestIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tyanotifications/tya/NotificationsDelayedNotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tyanotifications/tya/NotificationsIt.java
  src/IntegrationTests/resources/config/application_es_it.properties
  src/IntegrationTests/resources/config/application_it.properties
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/main/resources/config/application.properties.old
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/actionpostponementrequest/ActionPostponementRequestMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createcase/CreateCaseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/decisionissued/DecisionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/procesaudiovideo/ProcessAudioVideoEvidenceMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTestBase.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4326

#4385 switch to org commonmark
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4385

#4389 Remove PI tests
  README.md
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4389

#4329 SSCSCI-1560
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4329

#4349 SSCSCI-1616
  definitions/benefit/sheets/CaseEvent/CaseEvent-nonprod.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-nonprod.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendhearingoutcome/AmendHearingOutcomeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendhearingoutcome/AmendHearingOutcomeMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendhearingoutcome/AmendHearingOutcomeMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, rel:sscs-tribunals-api-pr-4349

#4330 SSCSCI-1597
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/tyanotifications/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4330

#4413 test-fixes-v2
  definitions/test/fixtures/steps/request.time.extension.ts
  definitions/test/pages/common/homePage.ts
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4413

#4414 SSCSCI-1732: ShowEventNotes for amendhearing
  definitions/benefit/sheets/CaseEvent/CaseEvent-nonprod.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4414

#4409 SSCSCI-1615
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4409

#4399 SSCSCI-1388: Investigate and fix: Nightly build failures
  src/main/java/uk/gov/hmcts/reform/sscs/service/CcdNotificationsPdfService.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4399

#4415 SSCSCI-1619
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4415

#4411 SSCSCI-1618
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4411

#4410 SSCSCI-1617
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4410

#4368 SSCSCI-1716: Clear failed sending FE filter
  build.gradle
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ClearHmctsDwpStateHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ClearHmctsDwpStateHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4368

#4442 SSCSCI-1520: IBC oral and paper case journeys via XUI and associated
  .gitignore
  definitions/test/api/client/sscs/factory/appeal.type.factory.ts
  definitions/test/api/data/payload/create-appeal/ibca_sya.json
  definitions/test/e2e/iba/iba-appeal-oral.spec.ts
  definitions/test/e2e/iba/iba-appeal-paper-scottish.spec.ts
  definitions/test/fixtures/steps/base.ts
  definitions/test/fixtures/steps/generate.appeal.pdf.ts
  definitions/test/fixtures/steps/update.other.party.data.ts
  definitions/test/fixtures/steps/update.to.case.data.ts
  definitions/test/lib/steps.factory.ts
  definitions/test/pages/common/homePage.ts
  definitions/test/pages/content/iba/iba.casedata_en.json
  definitions/test/pages/content/update.other.party.data_en.json
  definitions/test/pages/create.update.to.case.data.page.ts
  definitions/test/pages/tabs/appealDetails.ts
  definitions/test/pages/tabs/summary.ts
  definitions/test/pages/update.other.party.data.page.ts
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4442

#4445 SSCSCI-1388: Investigate and fix: Nightly build failures
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/sya/notifications/NotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4445

#4441 Update repo due to a change in the way bitnami Helm charts are consumed
  charts/sscs-tribunals-api/Chart.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4441

#4216 SSCSCI-1434: Updating action further evidence doc
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4216

#4423 SSCSCI-1730 moving ibc reference case list filter field below nino
  definitions/benefit/sheets/SearchInputFields/SearchInputFields.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4423

#4466 Revert "Revert "SSCSCI-1456 (#4446)" (#4463)"
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-tribunals-api/values.preview.template.yaml
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  definitions/benefit/sheets/CaseField/CaseField.json
  definitions/benefit/sheets/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes-nonprod.json
  definitions/benefit/sheets/FixedLists/FixedLists.json
  definitions/test/e2e/hearing-request.spec.ts
  definitions/test/fixtures/steps/death.of.an.appelant.ts
  definitions/test/fixtures/steps/hearing.ts
  definitions/test/fixtures/steps/link-case.ts
  definitions/test/pages/common/event.name.event.description.ts
  definitions/test/pages/listing.requirements.page.ts
  definitions/test/pages/update.other.party.data.page.ts
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/reference/HearingType.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/ServiceHearingValues.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingDetails.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsWindowMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, aat/no-changes, prod/no-changes, rel:sscs-tribunals-api-pr-4466

#4416 SSCSCI-1605 AirLookup 23
  Jenkinsfile_CNP
  build.gradle
  definitions/benefit/sheets/FixedLists/FixedLists-venues.json
  definitions/test/fixtures/steps/create.bundle.ts
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, rel:sscs-tribunals-api-pr-4416

#4488 test fixes
  definitions/test/fixtures/steps/hearing.ts
  definitions/test/pages/listing.requirements.page.ts
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4488

#4351 SSCSCI-1457
  charts/sscs-tribunals-api/values.preview.template.yaml
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-nonprod.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes-nonprod.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/HearingsDetailsMappingConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adjourncase/AdjournCaseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/directionissued/DirectionIssuedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/config/HearingDetailsMappingConfigTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
Labels: ns:sscs, prd:sscs, aat/no-changes, prod/no-changes, rel:sscs-tribunals-api-pr-4351

#4343 Sscsci 1163
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tyanotifications/config/DirectionNoticeDocmosisConfigTestIt.java
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4343
