Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2025-01, with the labels that each got.

#4185 SSCSCI-1202: Amend hearing outcome 3
  build.gradle
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/benefit/sheets/CaseEvent/CaseEvent-nonprod.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendhearingoutcome/AmendHearingOutcomeAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendhearingoutcome/AmendHearingOutcomeAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4185

#4252 SSCSCI-1534 making isMedicalMemberRequired an optional field
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-nonprod.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4252

#4249 SSCSCI-1505
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-caseUpdated.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4249

#4259 SSCSSI-316: Clean up Abstract Test Methods
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/ccd/AbstractCreateAndUpdateCaseInCcdTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/ccd/CreateAndUpdateCaseInCcdTestV1.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/ccd/CreateAndUpdateCaseInCcdTestV2.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/AbstractSyaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTestV1.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTestV2.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/AbstractSubmitAppealServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTestV1.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/v2/SubmitAppealServiceTestV2.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/AbstractSubmitYourAppealToCcdCaseDataDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTestV1.java
  src/test/java/uk/gov/hmcts/reform/sscs/transform/deserialize/SubmitYourAppealToCcdCaseDataDeserializerTestV2.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4259

#4253 SSCSSI-438: removed TRIGGER_EVENT_V2_ENABLED
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  definitions/test/pages/common/homePage.ts
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/AppealReceivedHandler.java
  src/main/resources/config/application.properties.old
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/AppealReceivedHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4253

#4234 Fix for SSCSCI 1011 and 1013. Along with V2 changes
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/UploadWelshDocumentsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/uploadwelshdocument/UploadWelshDocumentsSubmittedHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4234

#4279 SSCSCI-1549: log warnings
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/readytolist/ReadyToListAboutToSubmitHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4279

#4278 SSCSCI-1547 commons bump
  build.gradle
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4278

#4274 Sscssi 440 Remove feature toggle SUBMIT_APPEAL_SERVICE_V2_ENABLED
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.aat.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/sya/SyaEndpointsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/v2/SubmitAppealService.java
  src/main/resources/config/application.properties.old
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/controller/CreateCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTestV1.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/SyaControllerTestV2.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SubmitAppealServiceTestV1.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4274

#4270 SSCSSI-441: Remove feature toggle UPDATE_CASE_ONLY_HEARING_V2_ENABLED
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/ManualCaseCreatedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/ReissueFurtherEvidenceHandler.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/ManualCaseCreatedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/ReissueFurtherEvidenceHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4270

#4299 Fix xlsx generation locally and for mirrord
  bin/create-xlsx.sh
Labels: ns:sscs, prd:sscs

#4287 SSCSSI-446: removed ADD_LINK_TO_OTHER_ASSOCIATED_CASES_V2
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.wa.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelper.java
  src/main/resources/config/application.properties.old
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/AssociatedCaseLinkHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/AbstractedCaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToSubmitHandlerV2Test.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression

#4273 SSCSSI-339: Remove method handleCcdCallbackMap
  build.gradle
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.aat.template.yaml
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.wa.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/AdminActionCorrectionSubmittedHandlerIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/IssueFinalDecisionSubmittedHandlerIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/PostHearingRequestIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/SendToFirstTierIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/callback/WriteStatementOfReasonsSubmittedIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminactioncorrection/AdminActionCorrectionSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/getfirsttierdocuments/GetFirstTierDocumentsSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/sendtofirsttier/SendToFirstTierSubmittedHandler.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/adminactioncorrection/AdminActionCorrectionSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/getfirsttierdocuments/GetFirstTierDocumentsSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/issuefinaldecision/IssueFinalDecisionSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/posthearingrequest/PostHearingRequestSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/sendtofirsttier/SendToFirstTierSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writestatementofreasons/WriteStatementOfReasonsSubmittedHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, test-suite:aat-regression, rel:sscs-tribunals-api-pr-4273

#4296 SSCSSI-445: removed CITIZEN_LOGIN_SERVICE_V2
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.wa.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginService.java
  src/main/resources/config/application.properties.old
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/AbstractCitizenLoginServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CitizenLoginServiceV2Test.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4296

#4194 Sscsci 1428 load hearing details from api
  .github/workflows/ccd-diff.yaml
  build.gradle
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/benefit/sheets/CaseEvent/CaseEvent-nonprod.json
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  definitions/benefit/sheets/CaseField/CaseField.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addhearingoutcome/AddHearingOutcomeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addhearingoutcome/AddHearingOutcomeAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addhearingoutcome/AddHearingOutcomeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addhearingoutcome/AddHearingOutcomeAboutToSubmitHandlerTest.java
  src/test/resources/callback/addHearingOutcomeAboutToSubmitCallback.json
  src/test/resources/callback/addHearingOutcomeWithPreExistingHearingOutcomeCallback.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, rel:sscs-tribunals-api-pr-4194

#4275 Launch IBA definition changes
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  definitions/benefit/sheets/FixedLists/FixedLists-nonprod.json
  definitions/benefit/sheets/FixedLists/FixedLists.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4275

#4322 Temporarily tolerate definition store upload timeout for prod
  src/main/java/uk/gov/hmcts/reform/sscs/config/HighLevelDataSetupApp.java
Labels: ns:sscs, prd:sscs

#4293 SSCSCI-1549: filter out cancelled hearings
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/handlers/postpone/PostponeHearingHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/PostponeHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/readytolist/ReadyToListAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/postpone/PostponeHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/readytolist/ReadyToListAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/SscsHelperTest.java
Labels: ns:sscs, prd:sscs

#4307 Sscssi 448 code coverage
  src/main/java/uk/gov/hmcts/reform/sscs/service/PdfStoreService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SscsGeneratePdfService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CcdNotificationsPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CcdPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/PdfStoreServiceTest.java
Labels: ns:sscs, prd:sscs

#4301 SSCSSI-444: Remove feature toggle - BYPASS_HEARING_API_SERVICE
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerItTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerV2ItTest.java
  src/IntegrationTests/resources/config/application_it.properties
  src/IntegrationTests/resources/config/application_it_updateCaseV2.properties
  src/main/java/uk/gov/hmcts/reform/sscs/config/jms/HearingsJmsConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/jms/TribunalsHearingsJmsConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventQueueListener.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression

#4276 Sscssi 439 remove process event message v2 enabled
  charts/sscs-tribunals-api/values.preview.template.yaml
  definitions/test/common/web.action.ts
  definitions/test/pages/action.further.evidence.page.ts
  definitions/test/pages/common/check.your.answers.page.ts
  definitions/test/pages/response.reviewed.page.ts
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerItTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerV2ItTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerItTest.java
  src/IntegrationTests/resources/config/application_it_updateCaseV2.properties
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageServiceV1.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageServiceV2.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/AbstractProcessHmcMessageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageServiceTestV1.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageServiceTestV2.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4276

#4283 SSCSSI-442: Remove feature toggles related to concurrency change - HE…
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerV2ItTest.java
  src/IntegrationTests/resources/config/application_it.properties
  src/IntegrationTests/resources/config/application_it_updateCaseV2.properties
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventQueueListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceRetryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4283

#4292 SSCSSI-443: Remove feature toggle BYPASS_NOTIFICATIONS_SERVICE
  charts/sscs-tribunals-api/values.aat.template.yaml
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/service/servicebus/TopicConsumer.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/servicebus/TopicConsumerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, test-suite:aat-regression

#4265 SSCSSI-447: removed HEARING_RECORDING_REQUEST_CASE_UPDATE_V2_ENABLED
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  charts/sscs-tribunals-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/service/citizenrequest/CitizenRequestService.java
  src/main/resources/config/application.properties.old
  src/test/java/uk/gov/hmcts/reform/sscs/service/citizenrequest/CitizenRequestServiceTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4265

#4303 Revert "Update Automated Checks"
  build.gradle
Labels: ns:sscs, prd:sscs

#4325 fix nightly
  definitions/test/pages/tabs/hearings.ts
Labels: ns:sscs, prd:sscs

#4269 SSCSCI-1537
  build.gradle
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/readytolist/ReadyToListAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/readytolist/ReadyToListAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4269

#4235 Sscsci 1166: representative appeal lodged email template v2
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tyanotifications/config/NotificationConfigTestIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tyanotifications/tya/NotificationsDelayedNotificationsIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/AbstractFunctionalTest.java
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4235

#4230 Sscsci 1145: ibc email notification
  charts/sscs-tribunals-api/values.preview.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tyanotifications/config/NotificationConfigTestIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tyanotifications/tya/NotificationsDelayedNotificationsIt.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/tyanotifications/AbstractFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/config/PersonalisationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/config/PersonalisationMappingConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/tyanotifications/personalisation/SyaAppealCreatedAndReceivedPersonalisation.java
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/tyanotifications/personalisation/SyaAppealCreatedAndReceivedPersonalisationTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4230

#4282 SSCSCI-1408
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-writeFinalDecisionNotice.json
  definitions/benefit/sheets/CaseField/CaseField.json
  definitions/test/pages/content/write.final.decision_en.json
  src/main/java/uk/gov/hmcts/reform/sscs/service/CcdNotificationsPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/writefinaldecision/WriteFinalDecisionPreviewDecisionServiceTestBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4282

#4141 SSCSCI-1205
  build.gradle
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-nonprod.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes-nonprod.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addhearingoutcome/AddHearingOutcomeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendhearingoutcome/AmendHearingOutcomeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingOutcomeService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/addhearingoutcome/AddHearingOutcomeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendhearingoutcome/AmendHearingOutcomeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingOutcomeServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4141

#4236 SSCSCI-1494 pointing to pdf common for bug fix
  src/main/resources/templates/appellant_appeal_template.html
  src/main/resources/templates/appellant_appeal_welsh_template.html
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4236

#4272 SSCSCI-1411
  definitions/benefit/sheets/CaseField/CaseField.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4272

#4250 SSCSCI-1500 hiding jointPartyIdentity title if no joint party
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-caseUpdated.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, stale

#4277 SSCSCI-1436
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-caseUpdated.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4277

#4337 SSCSCI-1208
  definitions/benefit/sheets/CaseEvent/CaseEvent-nonprod.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendhearingoutcome/AmendHearingOutcomeAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/amendhearingoutcome/AmendHearingOutcomeAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs

#4271 SSCSCI-1389
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-caseUpdated.json
  definitions/benefit/sheets/CaseField/CaseField.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4271

#4267 SSCSCI-1531
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/canceltranslations/CancelTranslationsAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4267

#4316 SSCSSI-403: Preview enable bundling for non-hearing
  Jenkinsfile_CNP
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
  definitions/test/e2e/create-a-bundle.spec.ts
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4316

#4344 Disable stitching by default
  charts/sscs-tribunals-api/Chart.yaml
  charts/sscs-tribunals-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4344

#4318 SSCSCI-1576
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/caseupdated/CaseUpdatedAboutToStartHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4318

#4284 SSCSCI-1439
  definitions/benefit/sheets/FixedLists/FixedLists.json
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4284

#4338 Update direction issued letter templates
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tyanotifications/config/DirectionNoticeDocmosisConfigTestIt.java
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4338

#4332 Sscssi 449 fix sonar issues
  src/main/java/uk/gov/hmcts/reform/sscs/helper/PdfHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CcdNotificationsPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/conversion/WordDocumentConverter.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CcdNotificationsPdfServiceTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4332

#4340 Sscssi 451 v3
  charts/sscs-tribunals-api/values.hearings.preview.template.yaml
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, enable_keep_helm, pr-values:hearings, test-suite:aat-regression, rel:sscs-tribunals-api-pr-4340

#4302 SSCSCI-1561: hide caseOutcomeMigration event
  .github/workflows/ccd-diff.yaml
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
Labels: ns:sscs, prd:sscs, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4302

#4280 SSCSCI-1554
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4280

#4353 Refactor payload step on test for case creation logic
  definitions/test/api/client/sscs/factory/appeal.type.factory.ts
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4353
