Repository hmcts/sscs-tribunals-case-api, pull requests merged in 2025-05, with the labels that each got.

#4702 Fix nightly &PR pipeline tests - Update locators in UI tests
  definitions/test/fixtures/steps/accessibilitySteps.ts
  definitions/test/fixtures/steps/appeal.dormant.ts
  definitions/test/fixtures/steps/upload.response.ts
  definitions/test/pages/common/loginPage.ts
  definitions/test/pages/issue.direction.page.ts
  definitions/test/pages/postponement.page.ts
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4702

#4713 add closed venues back to list
  definitions/benefit/sheets/FixedLists/FixedLists-venues.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4713

#4503 SSCSCI-1601
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:sscs-tribunals-api-pr-4503

#4721 Update venue count in tribs-api nightly tests
  definitions/test/fixtures/steps/hearing.ts
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4721

#4577 SSCSCI-1794 new bilingual notice template
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/placeholders/PlaceholderConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/docassembly/Respondent.java
  src/main/resources/config/application.properties.old
  src/main/resources/config/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/createwelshnotice/CreateWelshNoticeAboutToSubmitHandlerTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, aat/no-changes, prod/no-changes, test-suite:preview-regression, rel:sscs-tribunals-api-pr-4577

#4716 SSCSCI-1871
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/benefit/sheets/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/benefit/sheets/CaseEvent/CaseEvent-nonprod.json
  definitions/benefit/sheets/CaseEvent/CaseEvent.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-ftaCommunication.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-tribunalCommunication.json
  definitions/benefit/sheets/CaseField/CaseField-nonprod.json
  definitions/benefit/sheets/CaseField/CaseField.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes-nonprod.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes.json
  definitions/benefit/sheets/FixedLists/FixedLists-nonprod.json
  definitions/benefit/sheets/FixedLists/FixedLists.json
  definitions/benefit/sheets/WorkBasketInputFields/WorkBasketInputFields-nonprod.json
  definitions/benefit/sheets/WorkBasketInputFields/WorkBasketInputFields.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ftacommunication/FtaCommunicationAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ftacommunication/FtaCommunicationMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/tribunalcommunication/TribunalCommunicationAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/tribunalcommunication/TribunalCommunicationMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ftacommunication/FtaCommunicationAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/ftacommunication/FtaCommunicationMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/tribunalcommunication/TribunalCommunicationAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/tribunalcommunication/TribunalCommunicationMidEventHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4716

#4761 SSCSCI-1892
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tyanotifications/config/DirectionNoticeDocmosisConfigTestIt.java
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-api-pr-4761

#4430 SSCSCI-1619
  src/main/resources/config/application.yaml
Labels: ns:sscs, prd:sscs, enable_keep_helm, test-suite:preview-regression, stale

#4640 SSCSCI-1728
  build.gradle
  definitions/benefit/sheets/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/benefit/sheets/CaseEventToComplexTypes/CaseEventToComplexTypes-nonprod.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/benefit/sheets/CaseEventToFields/CaseEventToFields.json
  definitions/benefit/sheets/CaseField/CaseField-nonprod.json
  definitions/benefit/sheets/ComplexTypes/ComplexTypes-nonprod.json
  definitions/benefit/sheets/FixedLists/FixedLists-nonprod.json
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsRequestSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/ConfirmPanelCompositionHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/UpdateOtherPartyHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/ListingStateProcessingService.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAdjustmentMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPanelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/reference/BenefitRoleRelationType.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingServiceConsumer.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/ccd/presubmit/updatelistingrequirements/UpdateListingRequirementsRequestSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/ConfirmPanelCompositionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/callback/handlers/UpdateOtherPartyHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/evidenceshare/service/ListingStateProcessingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPanelMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingServiceConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceRetryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, aat/no-changes, prod/no-changes, rel:sscs-tribunals-api-pr-4640

#4768 Enable docker authentication for bitnami charts redis
  charts/sscs-tribunals-api/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, aat/no-changes, prod/no-changes, rel:sscs-tribunals-api-pr-4768

#4785 SSCSCI-1906 Mrn Details mandatory
  charts/sscs-tribunals-api/values.wa.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsUtilTest.java
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tribunals-api-pr-4785
